[2016-05-04 23:17] whichonespink44 commented on #685
Cobwebs are supposed to generate in Roofed Forests, but not in the adjacent rivers.

We'll fix this in the next release - in the meantime, if you want, you can disable cobwebs from generating by setting **"RTG Decoration: Cobwebs"=false** in [config/RTG/biomes/vanilla.cfg](https://github.com/Team-RTG/Realistic-Terrain-Generation/blob/dev/etc/config/RTG/biomes/vanilla.cfg#L2111)

[2016-05-05 00:51] chaNcharge opened #686 "Villages sometimes end up being cut-off by terrain"
Minecraft 1.7.10
RTG 0.8.0 RC-1
BOP 2.1.0.1889
BiomeTweaker 2.0.182 loaded with RTG BOP tweaks
Seed: 3029737
![2016-05-04_17 30 42](https://cloud.githubusercontent.com/assets/11594018/15033554/b56b7d24-1220-11e6-996a-f5eb29cf2ba9.png)

[2016-05-05 00:58] chaNcharge commented on #664
So ever since 0.8.0 RC-1, this issue seems to be fixed so far! I haven't seen it at all in the same seed and coordinates as I posted earlier, so I'm gonna take a guess that this bug is probably fixed at this point.

[2016-05-05 01:00] chaNcharge commented on #664
Aaand, I forgot about the 1.9 RTG. Whoops!

[2016-05-05 02:16] Zeno410 commented on #664
The changes haven't been ported to 1.9 yet. Don't worry, they will be.

[2016-05-05 05:49] whichonespink44 commented on #663
Added in d1e9bea.

[2016-05-05 05:49] #663 closed

[2016-05-05 05:51] whichonespink44 commented on #664
Fixed in 4eb6eb0

[2016-05-05 05:51] #664 closed

[2016-05-05 06:09] whichonespink44 commented on #686
To be honest, I don't think there's much we can do about that. Terrain comes before village generation in the world gen process, so it's the village gen logic that would need to be fixed, and RTG shouldn't really be messing with village gen more than it already is.

Are you running any other mods that do anything with villages?

Either way, could you try setting **"Enable village modifications"=fa

[2016-05-05 06:16] whichonespink44 commented on #684
A lot of other people have been reporting the 'Already Decorating' crash, so we'll look into this and try to get to the bottom of it.

Might also be related to the 1.23 version of Fastcraft because I haven't gotten this crash when testing RC-1 with Streams.

[2016-05-05 06:45] whichonespink44 commented on #684
Other people who have posted crash reports:

[CheshireKatt](http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=2563) - http://pastebin.com/Pu102iYp

[Titus_](http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=2570) - http://pa

[2016-05-05 06:52] Zeno410 commented on #684
It's an odd error because it happen in a re-entrance of CPRTG.doGenerate(), and the code disallows that. The only thing I can think of is that something has made multiple copies of CPRTG.

[2016-05-05 07:11] whichonespink44 commented on #684
Could it be the newer versions of Fastcraft? Two of the three crash reports are using Fastcraft 1.2.3 and the other is using 1.2.2

[2016-05-05 07:35] MohawkyMagoo commented on #684
Decorating crash when loading game means I cannot get to stage to open a single world - at all, so cannot test this version. Note - using Fastcraft 1.21 still

RTG-1.7.10-0.8.0-RC-1
Streams-0.2
Farseek-1.0.11
Fastcraft 1.21

Time: 05/05/16 08:21
Description: Exception in server tick loop

java.lang.RuntimeException: Already decorating!!
	at net.minecraft.world.biome.BiomeDecorator.func_150512_a(Bi

[2016-05-05 08:25] srs-bsns commented on #684
There's no problem with Fastcraft, this is happening because of Streams.

RTG-1.7.10-0.8.0-RC1
Fastcraft-1.23
Farseek-1.0.11
Streams-0.2
Seed: 6924026457310522769

This will crash on world init.

It will still crash if Fastcraft is removed.
It will stop crashing if Streams is removed.

[2016-05-05 13:23] Zeno410 commented on #684
My latest pull fixes the crash, although the Streams don't seem to be getting made. I'll have to talk to Delvr about this.

[2016-05-05 16:37] whichonespink44 commented on #684
Temporary fix added in 7704310 - will try to release another RC tonight so testing can resume whilst we investigate a solution for this.

[2016-05-05 16:38] whichonespink44 commented on #681
Fixed in 2a1870f

Hopefully, we'll be releasing RC-2 tonight so you can confirm this is working.

Let us know if not.

[2016-05-05 16:38] #681 closed

[2016-05-05 22:23] whichonespink44 commented on #685
Fixed in 41ff68c

[2016-05-05 22:23] #685 closed

[2016-05-06 00:35] chaNcharge commented on #686
Witchery seems to be the main mod that changes village gen a bit, however there is TConstruct, MFR, Immersive Engineering, and Railcraft. It seems to be much more frequent in 0.8.0 RC-1 than in any other versions though...

[2016-05-06 02:09] Zeno410 commented on #686
We fixed a bug in terrain decoration; when the next version comes out see if it's better. Did you TP there or walk/fly?

[2016-05-06 03:44] chaNcharge commented on #686
I flew to those coordinates, just exploring around checking for any bugs. That's the only one I found so far and the village wasn't like that in snapshot-5. In snapshot-5 the village generates normally on the same seed, which is weird

[2016-05-06 08:21] whichonespink44 commented on #686
RC-2 was just released. If you try loading up a new world with same seed using RC-2 and tp to those coords, it should hopefully be alright now.

[2016-05-06 23:22] SvEgiiVEteR commented on #684
I will not create a new question... could the problem be in something else.
sometimes if I find a thaumcraft biome in the log like this spam
https://gist.github.com/e74ec8deec8373ba28b4369230adef12
no crash

[2016-05-06 23:41] chaNcharge commented on #686
I just did a bit of flying around, and that seems to be fixed now. Everything seems to be pretty stable at this point for me :)

[2016-05-07 01:13] chaNcharge commented on #686
Guess what's back? This issue. Did a bit more flying around the same seed, found this. Coordinates are on top right under minimap.
![2016-05-06_18 10 36](https://cloud.githubusercontent.com/assets/11594018/15089345/2e6d4eb4-13b6-11e6-9668-3288e029170f.png)

[2016-05-07 10:49] Kehaan commented on #681
It seems like its fixed in RC-2 :)

[2016-05-07 10:52] Kehaan commented on #686
Can it be something to do with Witchery? I have got these generations:
![2016-05-07_12 46 28](https://cloud.githubusercontent.com/assets/6755642/15091750/94002098-1452-11e6-9232-b2f59808e34e.png)
![2016-05-07_12 43 23](https://cloud.githubusercontent.com/assets/6755642/15091751/95180c3e-1452-11e6-81bd-e9cafca97bf5.png)
However, not as bad as yours.

[2016-05-07 14:40] Zeno410 commented on #686
I was going to say - these aren't vanilla villages. I could try setting a chunkvar to fix this.

[2016-05-07 22:25] chaNcharge commented on #686
Oh yeah, sometimes houses don't even generate at all, and sometimes the village walls from witchery spawn underground. I think the wall is a witchery issue, but the cut-off of the houses is most likely RTG as I haven't seen this in the default world type

[2016-05-09 00:47] rckymtnrfc opened #695 "Crash on Server Startup - Exception preparing structure feature at teamrtg.rtg.world.gen.structure.StructureOceanMonumentRTG"
I'm seeing the following crash during the server startup.  http://pastebin.com/DkxJKLQi

[2016-05-09 00:52] rckymtnrfc commented on #695
Just realized I didn't have RTG as the level-type in the server.properties.  I changed that and it started up fine but it could have also just not generated an Ocean Monument this time around.

[2016-05-09 01:07] srs-bsns commented on #695
Wrong repo. You're looking for: https://github.com/Team-RTG/1.9-Realistic-Terrain-Generation/issues
Please open an issue there.

[2016-05-09 01:07] #695 closed

[2016-05-09 19:35] SvEgiiVEteR opened #696 "0.8 RC-2 server side"
https://gist.github.com/664ffeea60a53c9317247ab5041cb59d
any ideas?

[2016-05-09 21:48] Zeno410 commented on #696
That is a tripwire I set to find out if something happens that I didn't think should happen, and it should be gone in the next candidate.

[2016-05-09 22:32] MCEventHorizon opened #698 "Crash with Rogulike Dongeons"
Doesn't crash without RTG so I think this is a problem with this mod:

---- Minecraft Crash Report ----

WARNING: coremods are present:
  LoadingPlugin (Quark-beta-18.jar)
  NowWithRendering (redstonepaste-mc1.9-1.7.3.jar)
  FldLoadingPlugin (FastLeafDecay-1.9-1.6.jar)
  LoadingPlugin (RandomThings-MC1.9-3.7.jar)
  Reborn Core ASM (RebornCore-1.9-2.1.0.53-universal.jar)
  LoadingPlugin (ResourceLo

[2016-05-09 22:42] srs-bsns commented on #698
Wrong Repo. You are looking for: https://github.com/Team-RTG/1.9-Realistic-Terrain-Generation/issues
Pleaase open up this issue there.

[2016-05-09 22:42] #698 closed

[2016-05-10 02:19] whitestarx0312 opened #699 "Alpha Performance Issues"
RTG: RTG-1.9-2.0.0-alpha.1.jar
Forge: forge-12.16.1.1887

Upon updating to the new alpha I noticed that the time to generate and start a new world increased significantly by at least 20 seconds, and made me think that the game was going to crash although it eventually did load.

Furthermore, I have encountered an issue when generating new chunks. The TPS of the single player world skyrockets and c

[2016-05-10 03:52] srs-bsns commented on #699
Wrong Repo. You are looking for: https://github.com/Team-RTG/1.9-Realistic-Terrain-Generation/issues
Pleaase open up this issue there.

[2016-05-10 03:52] #699 closed

[2016-05-10 13:18] kreezxil opened #700 "RTG-1.9-2.0.0-alpha.1 crashes client on connect"
http://pastebin.com/KHZ6UgYC

both server and client are running 1.9 Forge build 1898

[2016-05-10 13:20] whichonespink44 commented on #696
Fixed in 248ddf7

[2016-05-10 13:20] #696 closed

[2016-05-10 13:23] whichonespink44 commented on #700
Moved issue to 1.9 repo: https://github.com/Team-RTG/1.9-Realistic-Terrain-Generation/issues/105

[2016-05-10 13:23] #700 closed

[2016-05-10 13:31] SvEgiiVEteR commented on #696
@whichonespink44 soon a new version to test?
now testing rc2 and almost always crashes

[2016-05-10 15:20] whichonespink44 commented on #696
We're planning to release RC-3 on Sunday (or maybe even jump to 0.8 if it's ready).

[2016-05-10 15:55] SvEgiiVEteR commented on #696
I'll just wait for Saturday.. thought to try if there is a test version.

[2016-05-10 16:54] Zeno410 commented on #696
Try my current test build: https://www.dropbox.com/s/ftyb1cjdryla118/RTG0.8.jar?dl=0

[2016-05-11 09:08] whichonespink44 commented on #686
I'm going to try and reproduce this with the mod list above + Witchery.

[2016-05-11 17:26] Zeno410 commented on #684
The crash has been fixed but Streams don't generate at all in the current release. Delvr and I are working on this and we currently have the Streams generating but not correctly in unreleased test versions. They are done in a two-stage process and the second stage only gets done about half the time, leaving placeholder cobblestone where the Streams are supposed to go.

[2016-05-12 22:10] vagaprime opened #701 "Chunk X/Z Flipping"
I have been coming across some odd Biome transitions. I have RTG .8RC2, CC 5 beta 53, and BoP 2.1.0.1889.

Screen shots and JM saved Map.
http://imgur.com/a/AHlZ1

[2016-05-12 23:42] srs-bsns commented on #701
Duplicate of #658, and probably other closed issues. More X/Z flipping. I thought this was fixed, like 5324 times now? :confused:

[2016-05-14 10:38] whichonespink44 commented on #686
@chaNcharge Would you mind testing this dev build to see if it fixes the Witchery villages:

[RTG-1.7.10-0.8.0-PR-702.jar](https://goo.gl/XcLq13)

[2016-05-14 13:42] Kehaan commented on #686
So far no luck in finding any villages, with above build xD Looked for around 1 hour so far. Still searching.

[2016-05-14 17:46] Kehaan commented on #686
After looking for a village for around 1,5 hour, i decided to do a pregen using admintoolsbox. The pregen went well. As always i then use Journeymap to automap the area. But in this version i am getting a crash. I have tryed with B:"Village Crash Fix"=true, but with same outcome. Not sure if that has something to do with the new test build. Just not have had that issue before.

---- Minecraft Cras

[2016-05-14 18:13] Kehaan commented on #686
Just did a pregen 150 (90k chunks) and then a auto-map using journeymap. No villages.
(Used FastCraft 1.23, but it would not let me auto-map. Downgrading to 1.21 would let me automap with journeymap, not sure if thats a RTG issue or not, as the crashlog mentions fastcraft) But here is the crashlog i had:
---- Minecraft Crash Report ----
// I feel sad now :(

Time: 5/14/16 4:09 PM
Description: Unex

[2016-05-14 18:15] Kehaan commented on #686
Also as mentioned above, i generated the world using fastcraft 1.23, and after journeymap had automapped the world, i can see there is some chunk issues. Like
![2016-05-14_20 12 48](https://cloud.githubusercontent.com/assets/6755642/15269982/6e5ca474-1a10-11e6-8c53-23e0879de7f5.png)
Full Map screenshot download here: https://www.dropbox.com/s/oxcdnu2ot8rejcp/2016-05-14_20.06.37_New%20World_Overwor

[2016-05-14 19:25] chaNcharge commented on #686
I did modify some config settings, I'll test the dev build as soon as I can. Here's my config settings:
`villages {
    # Set this to FALSE to resolve issues with mods that also modify villages.
    # If set to FALSE, the 'Minimum distance between villages', 'Maximum distance between villages' & 'Size of villages' settings will have no effect.
    #  [default: true]
    B:"Enable village modificat

[2016-05-14 20:29] chaNcharge commented on #686
Finished testing the dev build, using the same seed (3029737) and the config settings that I used above, and I found 2 errors, one getting cut-off into a village, and the return of an old error.
![2016-05-14_13 25 07](https://cloud.githubusercontent.com/assets/11594018/15270531/d8ed685c-19d7-11e6-8ec9-8d80b423d018.png)
![2016-05-14_13 25 21](https://cloud.githubusercontent.com/assets/11594018/1527

[2016-05-14 23:19] Zeno410 commented on #686
Can you generate the world without pregenning and just TP to that spot? It looks like biomes are misassigned, BTW, is that correct?

[2016-05-15 05:58] chaNcharge commented on #686
I did a little bit with more testing and I found something out. The bug seems to sort of be fixed, as I don't see this anymore, but now there's the problem with other structures getting in the way of villages. I think it is a possible fix in this mod, as I have yet to see something like this happen in default world gen. This image is in RC-2, not the dev build.
![2016-05-14_22 52 13](https://cloud

[2016-05-15 08:57] Kehaan commented on #686
Can my error (With using the dev build Pink posted) be, that i cant find any villages because of I:"Size of villages"=0 ? which is the default value?

[2016-05-15 10:26] chroohn commented on #686
Sorry to say but this bug is not the fault of RTG also not Witchery's, because i saw that serveral times before i added RTG.
Its an very strange bug, sometimes seed based sometimes not. Maybe the compination of used mods, i replaced fastcraft with OptiFine and it happend less frequent but that could be because i played around with it when i was using linux instead of fakeos. Sometimes i wish there

[2016-05-15 12:27] Fexcraft opened #704 "1.9 Server crash? (Exception preparing structure feature)"
[crash-2016-05-15_14.13.47-server.txt](https://github.com/Team-RTG/Realistic-Terrain-Generation/files/264969/crash-2016-05-15_14.13.47-server.txt)
First time I use the mod, so idk what to write here except providing the crash log, I can give the other logs if neccessary too.

[2016-05-15 13:44] Fexcraft commented on #704
nvm it, a friend showed me the MinecraftForum post which has the reason written...

level-type= RTG fixed it

[2016-05-15 13:44] #704 closed

[2016-05-15 15:09] whichonespink44 commented on #686
No, that's the value that vanilla uses. I know it's not very intuitive (zero usually means disabled), but I assure you it's not because of that.

[2016-05-15 18:49] chaNcharge commented on #686
So I reproduced this in vanilla minecraft, @chroohn seems to be right, and I found this in a VANILLA world. So since this is a vanilla bug, I don't think there is much we can do about that. However, this glitch only occurs in vanilla if I reload the world as soon as I see a village, with my mods, it happens without a reload. Strange...
![2016-05-15_11 49 38](https://cloud.githubusercontent.com/ass

[2016-05-15 20:05] chaNcharge opened #705 "Half-cobble/half-sandstone villages"
Minecraft 1.7.10
RTG 0.8.0 RC-2
Seed: 3029737
Loaded on BiomeTweaker with BOP RTG tweaks
Coordinates on top right
Only happens sometimes, hard to reproduce
![2016-05-14_13 25 21](https://cloud.githubusercontent.com/assets/11594018/15276461/b243a240-1a9d-11e6-92c9-bc142206f423.png)

[2016-05-16 00:34] Myrdden opened #706 "Dimensional Control Incompatiability"
Hiya, so I've been using BnB's Dimensional Control (http://mods.curse.com/mc-mods/minecraft/229588-dimensional-control) to generate multiple worlds, and I figured that since RTG simply changes how biomes look, rather than how they're generated, it would be compatible. I was very wrong.

Here's what happened immediately upon creating a new world:
[crash-2016-05-15_18.12.04-server.txt](https://githu

[2016-05-16 00:46] Myrdden commented on #706
Come to think of it, I should probably be asking them about this, shouldn't I.

[2016-05-16 20:38] Xilef11 opened #710 "Crash on world load"
Seems to be caused by a NPE when creating ocean monuments
[Log](https://gist.github.com/Xilef11/f51cee4ab51be8209a3d85b60639468f)

[2016-05-16 20:39] Xilef11 commented on #710
didn't notice there were different repos for different MC versions

[2016-05-16 20:39] #710 closed

[2016-05-16 21:04] whichonespink44 commented on #706
Yeah, even though RTG is all over that crash log, it's probably something for the DC devs to look at. If there's anything that RTG can do to help make the two mods compatible with each other, we'd be more than happy to work with them to see what's possible.

[2016-05-16 21:04] #706 closed

[2016-05-16 22:45] whichonespink44 commented on #684
Fixed in 03f95eb

[2016-05-16 22:45] #684 closed

[2016-05-16 22:46] whichonespink44 commented on #603
Fixed in b8ee919 and ba9c0a9

[2016-05-16 22:46] #603 closed

[2016-05-17 17:24] VelocityRa commented on #705
The world looks completely different to me, with the same versions, seed and location.
1) Is the seed correct?
2) Did you tweak *any* of the configs? (BiomeTweaker's RTG preset mainly).
3) Which BiomeTweaker's version do you use? I tested with the latest Release, `BiomeTweaker-1.7.10-1.2.128`

[2016-05-17 18:01] whichonespink44 commented on #705
@chaNcharge Can you supply a fml-client-latest.log file so we can investigate further?

[2016-05-17 19:18] VelocityRa commented on #275
Forgot to close this, it has been fixed in the updated Volcano system: #694

[2016-05-17 19:18] #275 closed

[2016-05-18 05:49] chaNcharge commented on #705
The seed definitely is correct, I did change the RTG mod config, village sizes have been increased to 1 and village spacing are the default values. I did have BOP installed on 1.7.10. Every time I regenerated this world, it was always a desert, no matter what. Make sure you're teleporting to the right coordinates. I'll see if I can get a log file, I'll post it as soon as I have it.

[2016-05-18 07:32] whichonespink44 opened #714 "SGCraft doesn't generate Stargates in Desert Temples"
Report:
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=2709

Mod (including source):
http://www.cosc.canterbury.ac.nz/greg.ewing/minecraft/mods/SGCraft/#mozTocId598776

[2016-05-18 11:30] VelocityRa commented on #705
Yeah, I did get the seed and the villages to work (they didn't generate with your settings, I had to lower the min/max values), but I can't reproduce, villages work fine for me near biome borders, where the issue is.
![2016-05-18_14 21 46](https://cloud.githubusercontent.com/assets/6632271/15356970/a5931e36-1d04-11e6-83c6-203e50a6223b.png)

It may indeed happen but is hard to reproduce, like you s

[2016-05-18 16:01] VelocityRa commented on #714
Well this is harder than I expected.

[2016-05-18 16:36] whichonespink44 commented on #714
Yeah, hard to see exactly what's going on with most of the code being at the same package level.

Does it print/log any messages when you get to a temple?

[2016-05-18 16:56] VelocityRa commented on #714
Nope, it doesn't get to that point. I've set up a debugger with the mod (by having it as a library) and I sort of understand what it's trying to do:
`onInitMapGen` in `FeatureGeneration` happens normally (no error gets printed), but the SGStructureMap is never actually used (the code makes `structureMap` a "SGStructureMap" instead of HashMap and overrides some stuff to make sure the Component (Fea

[2016-05-18 17:21] cattrfly opened #716 "Peony Top on Fallen Log = Crash"
I was harvesting a fallen spruce log and noticed as I reached the end that the top half of a double peony, which I'd thought was behind the log, was actually protruding from the log's last block. As I looked up at it, I briefly thought "oh, another nice touch of realism, vegetation growing from a rotting log"... and then my game froze and crashed. >_<  The crash report doesn't specifically mention

[2016-05-18 17:52] VelocityRa commented on #714
Tried to change what should be changed in our own `MapGenScatteredFeatureRTG`.
It prints the messages it should print, but no structure....
![image](https://cloud.githubusercontent.com/assets/6632271/15369136/fe0e3a3e-1d39-11e6-9674-a6e4fcf9245c.png)
I can't do this anymore, I've spen a fair few hours today on this thing alone.
If someone wants to tackle it just import the SGCraft jar as a library

[2016-05-18 18:01] whichonespink44 commented on #716
Moved this to the 1.9 repo:

https://github.com/Team-RTG/1.9-Realistic-Terrain-Generation/issues/116

[2016-05-18 18:01] #716 closed

[2016-05-18 23:44] Zeno410 commented on #701
I've looked all the way around a large Crag with the current dev build, CC-beta55, Forge-1614, and BoP-1889 and I don't see this.

[2016-05-19 02:37] chaNcharge commented on #705
I'm using the dev version, but yes it is hard to reproduce. I'm on a phone right now so I can't send a log yet, but I'll try to get one soon.

[2016-05-19 05:12] vagaprime commented on #701
Its not just crag biomes that are going this. I am getting it along Desert border's and beaches.

[2016-05-19 05:47] whichonespink44 commented on #701
@vagaprime Could you post your fml-client-latest.log file via Pastebin so we can look into this further?

[2016-05-19 05:50] chaNcharge commented on #701
@vagaprime Could you also post the seed and coords where you found the bug so I can try to reproduce this with the dev version I have?

[2016-05-19 05:57] chaNcharge commented on #705
So I regenerated the world for what seems like 15 times, and I managed to sort of reproduce the bug. It's not quite the bug I was describing, but definitely a step in the right direction.
![2016-05-18_22 46 46](https://cloud.githubusercontent.com/assets/11594018/15383860/257ef5c0-1d4b-11e6-9735-093f14f3cbf9.png)
Does it seem sort of off to the overall theme of the village? It is not a separate vil

[2016-05-19 09:14] whichonespink44 commented on #714
I spent some time on this last night but didn't make much progress. Probably worth getting the author of SGCraft involved as he might be able to spot something in MGSFRTG that we're just not seeing.

Worst-case scenario, if we can't get the Stargates to generate using MGSFRTG, we could always add a config option called **enableScatteredFeatureModifications**, similar to the others we have, and if

[2016-05-19 09:16] whichonespink44 commented on #714
It would mean players would have to choose between Stargates in desert temple or vanilla structures in mod biomes, but at least it would be something.

[2016-05-19 16:14] VelocityRa commented on #714
Sounds fine to me, if we can't find another solution.

[2016-05-19 17:21] topisani commented on #705
I dont htink theres a lot to do about this - we are fairly limited by those forge events

[2016-05-19 20:19] Zeno410 commented on #701
I was looking at Crag because a) it was in your report and b) you can't miss it. No other mods?

[2016-05-19 20:21] Zeno410 commented on #705
If we're using MapGenVillageRTG, can we set it on a village placement check?

[2016-05-19 20:22] Zeno410 commented on #714
Yeah, most likely there's some trick going on and he'll know it but we won't without a lot of code review.

[2016-05-19 21:15] VelocityRa commented on #714
The frustrating thing is I *did* spend a few hours doing just that - I'm pretty sure I understand what it's trying to do - but while it *should* work, it doesn't...
Pink's hack is the only solution it seems.

[2016-05-20 00:27] chaNcharge commented on #701
Found something, I used the seed he posted, except I'm not seeing a crag anywhere but I did see this. I highlighted chunk borders also.
![2016-05-19_17 21 35](https://cloud.githubusercontent.com/assets/11594018/15413609/e3330872-1de6-11e6-9a7c-f030aa553a25.png)
![2016-05-19_17 22 13](https://cloud.githubusercontent.com/assets/11594018/15413610/e333fe26-1de6-11e6-94bf-cecca177887e.png)

[2016-05-20 00:30] vagaprime commented on #701
In order to get the exact same world with that seed that I received you would need to be running the modpack that I am currently working on. I will upload the forge log in a bit, and upload a new dev build and post the link here as well.

[2016-05-20 02:57] Zeno410 commented on #701
You mean the tree without snow? That's a separate issue, related to sequencing of cross-chunk trees. I believe it happens in vanilla too, it's just much rarer and less noticeable since vanilla keeps big trees away from snow.

[2016-05-20 06:18] whichonespink44 commented on #607
Re-appeared in #705 :ghost:

[2016-05-20 10:00] topisani commented on #705
yes, but we'd need to overrwrite StructureVillagePieces, which might be a bad idea

[2016-05-20 10:35] whichonespink44 commented on #705
I was always quite reluctant to do our own StructureVillagePieces, but it might be worth a shot if it's going to totally resolve this issue.

My only concern is that it's going to cause compatibility issues with other village-related mods somehow, though I don't know if it would.

In any case, if we did try to write our own StructureVillagePieces, what would we need to do in terms of a 'placement

[2016-05-20 11:05] topisani commented on #701
if we only use very few of those big trees, we could let them tend to generate in the center of chunks

[2016-05-20 16:06] topisani commented on #705
just checking it when the village is started, and then passing it down to the rest of the things

[2016-05-20 16:26] whichonespink44 commented on #705
Isn't that what we're already doing with the Forge event? We're checking the biome during preDecoration and then passing it to the Forge event, but... that doesn't seem to work 100% of the time.

How will passing it to StructureVillagePieces be any different?

[2016-05-20 16:32] topisani commented on #705
because the biome forge is passing is weird... i think its on a per house scale

[2016-05-20 16:38] whichonespink44 commented on #705
It's worth a shot I guess.

Let's look at it after 0.8 is released :+1:

[2016-05-20 20:13] Zeno410 commented on #701
That's an option for the Ex-Hills trees but not really when Forest/Taiga/Jungle/etc. run close to the border.

[2016-05-20 20:17] Zeno410 opened #720 "EB overrides biome layout sometimes"

[2016-05-21 08:44] Xireka opened #723 "Best way to deal with updates?"
Hi RTG team!

I really love your mod, it gave me awesome terrain, sometimes I was just wondering at the beauty of some things.

Now to my actual question: you update rather frequently (which is awesome) but how to best deal with the updates?

Create a new world every time?
Retrogen?
Some other way I don't know of?
Simply keep playing the current world and the updates will seamlessly add themselves

[2016-05-21 09:25] srs-bsns commented on #723
It is clearly stated in the release notes for each release when RTG has changes that are not backwards compatible and requires a new world, or a deletion of the config files. In the coming weeks when 1.0.0 is released it should remain backwards compatible for a long time.

[2016-05-21 09:25] #723 closed

[2016-05-21 09:49] Xireka commented on #723
Oh okay, I missed that then sorry :(

Thank you for the quick and precise answer and I noted it to myself then

Backwards compatible: no new world
Not backwards compatible: new world

Thanks and thanks for your dedication to generate even better worlds :)

[2016-05-21 09:58] whichonespink44 commented on #723
@Xireka Thanks for the kind words! :)

As @srs-bsns mentioned, when version 1.0 is released in the next couple of weeks, you'll be able to update RTG and the updates will seamlessly add themselves to your world. In the meantime, it's probably best to create a new world for new versions.

Have fun! :smile:

[2016-05-21 11:10] Xireka commented on #723
@whichonespink44 Oh okay thanks for that info, I guess I'll stick with my current version since the newest one is not backwards compatible I believe. Then I'll update on my existing world when 1.0 is released.

One last question, the release says "delete the config folder" so does it mean it's compatible with an existing world as long as I delete the configs or is it simply not backwards compatibl

[2016-05-21 16:02] Zeno410 commented on #723
If you have a world on RTG 0.7, I would not recommend ever updating it. 1.0 will probably be mostly or entirely backward compatible with 0.8, but it won't be with 0.7. A 0.7 world should stay on 0.7 forever, unless you're OK with chunk walls everywhere.

The one exception is that if you're playing an oceanic world with Climate Control, you can explore until the edges of your exploration are all oc

[2016-05-21 16:11] Xireka commented on #723
Oh perfect then, my current version is RTG-1.7.10-0.8.0-RC-2

So I can update to 1.0 yay! :dancer:

Thanks for the info tho, but luckily I did update to 0.8.0 on the update before this one :)

[2016-05-22 02:04] Ezoteric commented on #714
wasnt this not working in vanilla also ? i dunno but i think i looked that up once as it didnt work for me either (before i even knew about rwg :P )

[2016-05-22 02:06] VelocityRa commented on #714
@Ezoteric Yeah you have to enable a config option for it to work. Which makes this less worth to fix.

[2016-05-22 05:53] whichonespink44 commented on #714
I posted a message on the SGCraft thread regarding this issue: http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/1287806-gregs-sg-craft-for-minecraft-1-7-10-and-1-8-9?comment=1032

[2016-05-22 07:01] Ezoteric commented on #714
@VelocityRa I figured but it stil didnt do much back then :P

[2016-05-22 08:37] Dreadp1r4te commented on #714
Hey guys, original poster of the issue here. @Ezoteric, I'm not sure if the config option (in SGCraft) used to do nothing, but it certainly does now; we've found around 5-6 Stargates in temples in previous worlds. Anyways, thanks a ton for looking into this for us!

[2016-05-22 10:55] VelocityRa commented on #714
@Ezoteric It does, I tested them. You have to go to one of the 2 "towers" on the sides of the temple. There's a ladder near the door leading down to the room with the Stargate.

[2016-05-22 16:02] vagaprime commented on #701
Here is the FML Log.

https://drive.google.com/open?id=0B0R2hb2S8d3iNUVrUy1jTEs4T2c

And here is a link to the newsest dev build of my pack as well

https://drive.google.com/open?id=0B0R2hb2S8d3ib2VkQUVlQWloQWs

[2016-05-22 16:51] Zeno410 commented on #701
And we have the cause! Which is Mariculture. Mariculture does X/Z flips if a certain config option is on (almost certainly a bug in Mariculture). See the RTG original post for details.

[2016-05-22 16:51] #701 closed

[2016-05-22 16:59] vagaprime commented on #701
Ok thanks.

[2016-05-22 18:24] whichonespink44 commented on #701
This is actually listed in the OP as one of RTG's 'known issues' but it should probably be added as an issue on here as well. There's not much we can do about this one, but I'll try to get in touch with the Mariculture devs to see if there's anything they can do.

[2016-05-22 18:26] whichonespink44 opened #724 "Mariculture X/Z Chunk Flipping"
There is currently an issue when using RTG with Mariculture whereby some world chunks appear to be 'flipped'. This appears in-game as unusual biome transitions, but when looking at the affected area on your mini-map, the 'flipping' will be a lot more obvious.

**Until this issue is resolved, you can set "Biome Top Block Replacements > Enable" to false in Mariculture's world-generation.cfg file.**

[2016-05-22 18:26] whichonespink44 commented on #701
#724

[2016-05-25 01:01] EXilE-EXistance opened #725 "worldgen crash - 1.7.10"
seems like theres a crash caused when pregenning chunks.
http://pastebin.com/hhbrE0yC
[fml-server-latest.txt](https://github.com/Team-RTG/Realistic-Terrain-Generation/files/280790/fml-server-latest.txt)

[2016-05-25 02:16] EXilE-EXistance commented on #725
i goofed, enabling B:"Village Crash Fix"=true seems to have fixed the issue

[2016-05-25 02:16] #725 closed

[2016-05-25 08:06] Ezoteric commented on #714
I knew that all, but i think it was an older version as back then i read something about it that it didnt worked orso :P

But its nice to know if it works in RTG :) as my modpack also has it :P

[2016-05-26 12:31] OneEyeMaker opened #726 "Strange generation of villages."
Hello.
I found strange bug with generation: RTG generated wrong type of villages (cobblestone villages in sandy biomes, for example) and RTG generates only ... parts of villages.
See here: http://imgur.com/a/968y5

I thought, that there's problem with chunk generation, but lines of these "fractures" don't match borders of chunks.

MC 1.7.10, RTG 0.8.
It's maybe related with #705

P. S. Sorry for m

[2016-05-26 15:58] srs-bsns commented on #726
More than likely related to #686, which was closed but not confirmed fixed.

[2016-05-26 15:58] #726 closed

[2016-05-26 15:58] srs-bsns commented on #686
Seems this is still happening. #726

[2016-05-26 17:16] whichonespink44 commented on #714
![](http://i.imgur.com/KBj5e1i.png)

![](http://i.imgur.com/QYbtGIQ.png)

Progress!

I've managed to get it so that it either spawns the SGCraft portion of the temple or the vanilla temple, but not both. Not sure why it's only one or the other, but it's getting there.

Hopefully I'll make more progress tonight.

[2016-05-26 17:24] VelocityRa commented on #714
Nice! Did you do the "hack" you were talking about or is it a proper solution?

[2016-05-26 17:34] whichonespink44 commented on #714
No, it's a different hack :)

Since SGC won't generate the temples, I'm making RTG handle it by creating the FeatureUnderDesertPyramid component and adding it to the list of components in MGSFRTG. If I add both the vanilla and stargate components, it only generates the vanilla pyramid, so I tried adding just the stargate component on its own, and that's the first screenshot above.

Just need to fi

[2016-05-26 19:45] topisani commented on #714
have you tried adding them in different orders? one of them may fail if the other is already there

[2016-05-26 20:30] whichonespink44 commented on #714
Nope, but that's a good idea :+1:

[2016-05-26 22:42] topisani commented on #714
soo... did that do the trick? or how did you fix it

[2016-05-26 22:51] whichonespink44 commented on #714
![](http://i.imgur.com/xFm3ZTu.gif)

Fixed in 01b33d3

The reason it would only generate one or the other is because of the way MPSFRTG was choosing which scattered feature to generate. For some reason, it was choosing a random structure from the ones that had been added, and since previously there was ever only one structure getting added to the list, it basically had no effect. But when I added

[2016-05-26 23:55] chaNcharge commented on #726
The dev version that @whichonespink gave me was a dev version, it might be fixed as I haven't seen it occur as of the dev version

[2016-05-26 23:58] chaNcharge commented on #686
Looked at his issue, the version I used to test this was the dev version @whichonespink44 gave me. It's possibly fixed as I haven't seen it happen again but when the official release comes, I'll check it out and investigate

[2016-05-27 03:39] OneEyeMaker commented on #726
I found all these villages in final version (0.8.0), not in dev/RC. And I *didn't find* villages without this problem. (However, I didn't change config at all. I think default configuration a-priory should work properly.)

[2016-05-27 06:49] srs-bsns commented on #686
https://github.com/Team-RTG/Realistic-Terrain-Generation/issues/726#issuecomment-222053005

[2016-05-27 10:55] whichonespink44 opened #729 "Volcano surfaces"
![volcano](https://cloud.githubusercontent.com/assets/10927161/15605899/c7659090-2400-11e6-8be4-2ecc1b5c32d4.jpg)

Now that volcanoes are working again, it would be nice to put some finishing touches on them, specifically with regards to their surfaces.

I personally think they should look like the image above, with the host biome's surface creeping up the foot of the volcano, blending them into t

[2016-05-27 11:06] topisani commented on #729
post YOUR dream volcano below!

[2016-05-27 15:54] VelocityRa commented on #729
Right, I'll give Volcanoes some more love in the following days.
I'm liking the idea of the coal block as a mix block, gonna have to see it in action. I'm gonna need a list of possible mix blocks, other ideas? There's stained clay, but what colors would look good?
Here's a pretty similar picture to @whichonespink44's that would be a good example to shoot for I think.
![](http://www.placestoseeinyo

[2016-05-28 00:46] Zeno410 commented on #729
![image](https://cloud.githubusercontent.com/assets/5322776/15624047/dd20024e-2432-11e6-861e-82ccafdd12a9.png)

[2016-05-28 01:16] HyperionNexus opened #730 "Unable To Disable Biomes In Config"
As the title says, I cannot remove particular biomes (Mainly BOP) from generating unlike old versions.

A friend did say I might need ClimateControl or Biometweaker to disable them and if I do, how to do it will be appreciated.

Version: RTG-1.7.10-0.8.0.

[2016-05-28 01:22] HyperionNexus commented on #729
[http://img.turtlehurtled.com/volcanic-eruptions1/klyuchevskaya-sopka-4.jpeg](url)

[2016-05-28 01:30] srs-bsns commented on #729
I'm not liking the idea of using a resource block for world decoration. Though coal is usually the most abundant resource making it less of a deal, using it in that manner would kind of put the game out of balance for anyone that comes across a volcano. And, I can totally picture people strip mining the coal away and leaving a ruined landscape behind.

Furthermore, it would be a problem for people

[2016-05-28 02:12] VelocityRa commented on #729
@srs-bsns Yeah that's a good point, about the coal blocks.
@Team-RTG/everyone And I'm all up for adding custom blocks, I think RTG beeing server-side only is way too limiting (just imagine the possibilities...).
The modpacks that use RTG can just include it in their client (most do anyways) and I don't think it's worth it at all to keep it server-side. If people are gonna use RTG, they're gonna ha

[2016-05-28 04:13] whichonespink44 commented on #730
Yep, you're gonna need either Climate Control or BiomeTweaker.

If you choose Climate Control, disable biomes via the CC configs.

If you choose BiomeTweaker, you can use these [example tweaks](https://github.com/Team-RTG/Realistic-Terrain-Generation/tree/master/etc/biometweaker/BiomesOPlenty) to get you started. Disable biomes by setting their 'genWeight' to zero.

Good luck!

[2016-05-28 04:13] #730 closed

[2016-05-28 04:38] whichonespink44 commented on #729
For me, it's not so much about keeping RTG server-side only as it is about keeping RTG's scope as narrow as possible. The 'server-side-only' thing just happens to be a good 'compass' for keeping the  scope in check.

I'm all for expanding RTG, but let's do it through addons. In fact, maybe we should make volcanoes an addon. It would allow us to add custom blocks and design the volcanoes exactly as

[2016-05-28 05:54] chaNcharge commented on #686
So as far as I know, the villages are not being cut-off, they're overriding the terrain as it should, but I'm still not quite sure yet. There's probably still that elusive #705 village bug, haven't encountered that either. Will continue testing and investigating for about a week or so.

[2016-05-28 06:05] chaNcharge commented on #729
![msh82_st_helens_plume_from_harrys_ridge_05-19-82](https://cloud.githubusercontent.com/assets/11594018/15625528/5042f8c8-245e-11e6-9468-bffa0fc22211.jpg)
We could have a volcano like this, life you said, different styles of volcanoes, composite, shield (like how it is currently), and cinder cones. You could also try making it so the volcanoes actually erupt from time to time, that would be really

[2016-05-28 07:20] whichonespink44 commented on #729
It we did Volcanoes as an addon, animated eruptions could certainly be a thing (in theory anyway).

[2016-05-28 11:46] VelocityRa commented on #729
Sound good to me. It could still be included in the main mod and just be active only when running on the client. (The problem to solve there would be, what would we do from a servers perspective, generate a server-friendly RTG world, or one in which people need the client)
That might just be my reluctance to have more .jars though (I never liked mods that did that). If it *has* to be a a .jar, jus

[2016-05-28 13:30] topisani commented on #729
i 100% agree on RTG having to be server side only. For 2 reasons: as pink said its a good way to keep the scope narrow, but another thing is, in 1.8+ vanilla clients can connect to forge servers if the server has no mods that are required on the server. We are currently mentioning this absolutely nowhere, but it means that people using just a vanilla server, or even spongeforge, could use RTG! and

[2016-05-28 13:32] Zeno410 commented on #729
Given that typical modpacks have over 100 jars, I don't see an issue with multiple jars. I was also about to mention topi's point that being serverside only means you can use it on servers for vanilla worlds, which is an incredible feature, but he beat me to it.

[2016-05-28 13:39] Zeno410 commented on #686
I just encountered a very strange bug where I got the village cutoff bug (for the first time, BTW). I regenerated it again and got a different set of cutoffs, and then the next 6 times or so the village completely disappeared. The Mojang routine has a pretty common Mojang problem of using an ivar where it should be using something else so it may be a case of different villages interfering with eac

[2016-05-28 13:43] VelocityRa commented on #729
@topisani Yeah I think your 2nd point is reasonable; coupled with the idea of an addon for client stuff it could solve both issues. Also glad you agree on integrating some client stuff in the main RTG jar. Dropping server-side only support when a middle solution is possible was unreasonable of me to suggest.

We should really mention this feature somewhere though...

[2016-05-28 14:29] topisani commented on #686
this might be something like the simmilar ocean monument bug we had in 1.8.9
That problem turned out to be monument generation being skipped in one of the three places it is called from CPRTG. You should check that they all are there and get called.

[2016-05-28 16:13] Zeno410 commented on #686
That's unlikely (for this bug); villages only get called once, and it's as part of the entire populate call, which is going off.

[2016-05-28 17:47] Kehaan opened #733 "New rougelike dungeon messed generation"
Using newest Rougelike roguelike-1.7.10-1.5.0b i got this strange generation of one of the dungeons:
![2016-05-28_19 44 55](https://cloud.githubusercontent.com/assets/6755642/15628861/c72bc22c-250c-11e6-8a12-1e4dcdf2c673.png)
![2016-05-28_19 45 00](https://cloud.githubusercontent.com/assets/6755642/15628862/c7436012-250c-11e6-96a8-5c520a4886d6.png)

Log:
https://www.dropbox.com/s/x31may5eokcl4ca/f

[2016-05-29 16:45] Quizer9O8 opened #735 "Terrain Overrides Cave Generation"
Caves do not propely generate in BOP Canyon.
I haven't looked further in any other biome that uses hardened clay in its terrain.
![2016-05-21_19 13 18](https://cloud.githubusercontent.com/assets/19509275/15634784/3bb31b70-25cd-11e6-8fe8-f3bcc976a817.png)
![2016-05-21_20 01 55](https://cloud.githubusercontent.com/assets/19509275/15634981/4d3fa426-25d2-11e6-8c0c-7e8aa22d1c78.png)

[2016-05-29 16:53] Quizer9O8 opened #736 "Chunky Biome Borders"
Well... these do still exist but not so frequently anymore.
![2016-05-21_19 14 09](https://cloud.githubusercontent.com/assets/19509275/15634833/6b628f26-25ce-11e6-81a0-3d487b4d7e04.png)
![2016-05-21_19 37 36](https://cloud.githubusercontent.com/assets/19509275/15634835/729faa30-25ce-11e6-98d6-fca1964915da.png)
![2016-05-21_19 40 38](https://cloud.githubusercontent.com/assets/19509275/15634837/751a

[2016-05-29 19:26] Yazzeh opened #737 "Cobblestone boulders aren't converted to their UBC equivalent"
I can see that decorative cobblestone accents, like in Highlands, are converted to their UBC equivalent cobblestone in that area, however the boulders on the surface are still the vanilla stone type.

I'd really like this to work properly, so boulders could help you find a specific stone type you're looking for.

[2016-05-29 19:33] Yazzeh opened #738 "Emeralds still spawn in biomes, even when disabled in configs"
I've noticed this in Highlands and Extreme Hills. I specifically disabled all vanilla ore generation so I could manage it with COFH, but emeralds are still spawning like crazy.
![2016-05-29_15 27 27](https://cloud.githubusercontent.com/assets/2250087/15635641/a19de282-25b2-11e6-8f3f-a4f3561ed8eb.png)

[2016-05-29 21:54] srs-bsns commented on #738
In rtg.cfg, if you have B:"Generate Emerald Ore" set to false and there's still emerald ore in your world, then it's some other mod generating it.

[2016-05-30 01:35] whichonespink44 commented on #738
Just re-opening this so it can be seen as a known issue. There is actually something we could do to resolve this, but it would mean manually decorating all of EB's biomes - not something we'll probably get around to for quite some time.

[2016-05-30 01:38] Yazzeh commented on #738
I'm not using EnhancedBiomes, I'm using UBC and Biomes O Plenty.

[2016-05-30 01:44] whichonespink44 commented on #735
I don't think this is a bug, just a cave that started to generate but didn't make it very far (happens all the time).

Using the default cave settings, this happens more frequently than it does in vanilla.

If you want to confirm this is what's happening, just modify the cave settings such that caves are more frequent and more dense, and then load up a new world with the same seed to see if the ca

[2016-05-30 01:53] whichonespink44 opened #739 "WorldGenPond crash"
Original report:
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=2804

Crash log:
http://pastebin.com/09gqrsZB

The user has stated that this is still happening when using RTG 0.8.0:
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biom

[2016-05-30 01:58] whichonespink44 opened #740 "ConcurrentModificationException when generating structure"
Original report:
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=2811

Crash report:
http://pastebin.com/4jsjknpT

[2016-05-30 14:55] Hiddenisme commented on #714
Are these changes only for the 1.8.9 version and if so will see the changes in the 1.7.10 version? Cause yes we are experiencing the same issue in our 1.7.10 modpack.

[2016-05-30 16:57] whichonespink44 commented on #714
This is issue was only reported in (and fixed for) the 1.7.10 version, so it will be working in the next 1.7.10 release.

[2016-05-30 19:22] VelocityRa commented on #740
Here's an extra report with some more info: http://pastebin.com/ecmeiTt2

[2016-05-30 23:17] Ezoteric commented on #714
did you check into the swamp hut genning on top a desert temple in the swamps ? @whichonespink44

[2016-05-30 23:18] Ezoteric commented on #714
![2016-05-29_15 15 13](https://cloud.githubusercontent.com/assets/14137626/15659604/8e72e146-26cd-11e6-98d0-dbdd6a5be866.png)

[2016-05-31 01:57] Zeno410 commented on #740
I'd say 90% chance the problem is:
Reika.ChromatiCraft.Auxiliary.ChromaAux.interceptChunkPopulation(ChromaAux.java:88)

[2016-05-31 04:53] Zeno410 opened #742 "Volcanos make "shelves" over ocean"
Similar to the "shelves over lakes" but more distressing because they're much bigger and make it difficult to even get onto the volcano
![2016-05-30_19 49 23](https://cloud.githubusercontent.com/assets/5322776/15663421/cf80f696-26af-11e6-9b80-768c85c6d3ca.png)
I have no idea why it's being surfaced in stone (converted to UB stone later) but this is definitely an RTG volcano.

And you really want p

[2016-05-31 09:43] whichonespink44 commented on #714
Doh! Accidentally left some debugging code in... removed it in 8371e53 and everything seems to be working fine again. Let me know if not.

[2016-05-31 12:26] Ezoteric commented on #714
Ok testing it now :)

[2016-05-31 13:30] Ezoteric commented on #742
yeah, i nothiced this the moment the code changes were made from RWG.

It seems its a structure get at y64, dunno if RWG also had this, but it never floated in RWG like this :P it always had blocks under it.

[2016-05-31 15:22] TataTawa opened #744 "End Portal Frame not spawning"
I tried a lot of times. But I can't get any end portal frame. I'm using ender eyes to find it but there is nothing. The stronghold is there.

[2016-05-31 15:41] TataTawa commented on #744
there is a chance that the game freeze when come near to the end portal.

[2016-05-31 18:08] RufusStark commented on #740
I've been getting the same exception with much the same stack trace, and don't have ChromatiCraft installed. Thinking it was something related to (village) structure generation, I tried setting "Village Crash fix" to true to no avail. In fact, that seems to make it worse, though it's really hard to say with concurrency errors. Let me know if you'd like another crash report with the same error but

[2016-05-31 19:31] Zeno410 commented on #740
Yes, I'd definitely like another stack trace.

[2016-05-31 19:39] whichonespink44 commented on #744
What version are you using? It's spawning fine for me in 0.8.0.

[2016-06-01 02:32] TataTawa commented on #744
using 0.8.0. mods with IC2, TiC ,COG and NEI
I also find that the freeze of the game means I'm kicked by my own internal server.

[2016-06-01 05:56] Zeno410 commented on #739
Fixed in aab4456ea45ad8b9dc69343e525f9d4f64b89446

[2016-06-01 05:56] #739 closed

[2016-06-01 05:58] Zeno410 commented on #738
This is a UBC issue, so I'm closing it here.

[2016-06-01 06:35] whichonespink44 commented on #744
Please provide your fml-client-latest.log file and a crash report if possible.

[2016-06-01 07:13] Zeno410 commented on #738
Actually it doesn't seem to be an issue in UBC either. If "Generate Emerald Ore"=true, I see emeralds in Extreme Hills, If "Generate Emerald Ore"=false, I don't. The only issue I can find is that the generatesEmeralds flag is wrong for HLCliffs and HLSnowMountains, which I'm fixing.

[2016-06-01 09:01] TataTawa commented on #744
Oh, I found that it is the compatibility issue with oceancraft. when the game freezes, it is near ocean. Also, when end portal is not near ocean, the spawn is OK. the log file also shows something error at oceancraft.

[2016-06-01 09:16] whichonespink44 commented on #744
Glad you found the end portal. :)

[2016-06-01 09:16] #744 closed

[2016-06-01 10:02] Yazzeh commented on #738
Thanks for verifying that, I'll hunt through my 100 mods to figure out which one has gone emerald rogue.

[2016-06-01 13:43] Zeno410 commented on #738
You are setting the config field in RTG, right? Disabling standard oregen probably doesn't stop emerald generation, because emerald ore are not actually generated as ores.

[2016-06-01 14:21] whichonespink44 commented on #738
RTG handles emerald gen as well - or at least, it's supposed to - but I'm wondering if it's not working anymore after recent changes to decoration etc.

I might re-open this, just until we can confirm that emerald gen is still working. _(Warning: if anyone decides to look into this, it's a bit of a mine field (think legacy rDecorate()-type madness.)_

[2016-06-01 16:54] whichonespink44 commented on #736
Is there anything we can do here? I'm assuming this is biome repair stuff? I rarely see this myself.

[2016-06-01 18:10] whichonespink44 commented on #686
If this is the case, is there anything we can do? With all of these various village bugs cropping up, I'm starting to wonder if completely overwriting the village system with our own is the way to go.

[2016-06-01 19:26] Zeno410 commented on #686
*If* that's the problem, we'll need to rewrite the village system, because the current one probably won't tolerate multithreading. Of course that will bring a new set of incompatibility problems.

[2016-06-01 19:29] Zeno410 commented on #736
You rarely see it because it's rare. There are two things I'm thinking about: adding some noise to the repair process and making adjustments for lakes (they mostly happen around the scenic lakes).

[2016-06-01 20:33] whichonespink44 commented on #686
Yeah, introducing a completely new village system at this stage (especially to remedy what seems to be a bug with vanilla village gen, as per the liked bug report) isn't something I want to do.

I'm thinking we should probably close this.

[2016-06-01 20:40] Zeno410 commented on #686
We should leave it open for now. If I'm right, the bug is vanilla, but it's made worse by the way we're decorating, which makes more use of multithreading. I could try moving the decoration clearing from primarily in the chunkloader thread to the "normal" population check, but we need some kind of benchmark to see if it's actually helping. (In that case, we'll be changing the chunks that actually

[2016-06-02 15:57] Yazzeh commented on #738
I am setting the config field in RTG. But even if I hadn't, why would there be that many emeralds? They're supposed to be rare.

[2016-06-02 18:26] whichonespink44 commented on #738
I'll be doing some testing tonight and will update this issue with the results.

[2016-06-02 19:12] RufusStark commented on #740
Here's a crash I got today: http://pastebin.com/5EA7sxqj

You'll see I'm using ChunkGen, but I've crashed with the same exception while exploring manually and not running ChunkGen. In any case, I don't think ChunkGen is parallelized.

Also, I set "Village Crash fix" back to false, and I'm more convinced that setting it to true made things worse.

[2016-06-02 19:17] RufusStark commented on #736
When I do see these kinds of borders (maybe 1 in 20), its nearly always near an ocean coastline.

[2016-06-02 19:23] RufusStark commented on #729
Just an idea... would it be possible to have a whitelist of blocks added by other mods in the config file. Have a reasonable default setting for very common mods, and check which ones are available during post-init. Would that work?

Also, Railcraft's Abyssal stone/cobblestone would be good choices. I think it would look good and makes some "geological sense".

[2016-06-03 00:46] Zeno410 commented on #736
It's always near an ocean, because otherwise the biome repair won't do anything (it looks for beaches). But, you also need beach level land at the limit of the repair, and that usually happens only near the scenic lakes. Rivers do it too, but the repair process is aware of them.

[2016-06-03 01:19] srs-bsns commented on #729
@RufusStark, This isn't an issue of mod-added blocks, of which there are several good choices from several different mods. There needs to be a solid default based on vanilla blocks, and that's the issue. Vanilla Minecraft has a shit selection of blocks that are appropriate for volcanos.

[2016-06-03 02:58] topisani commented on #744
yeah, that really was the end of this issue

[2016-06-03 13:46] Ezoteric commented on #729
Well coal blocks are nice and the hardenend clay, its just the coal blocks makes it OP for resources.

[2016-06-03 13:48] Ezoteric commented on #736
i think its not that bad, i mean you only really notice when your staring at it close by :P

And why cant there be a few straight lines in the world ? :P

[2016-06-03 17:52] RufusStark commented on #729
@srs-bsns - Right, I get that. I guess I was just assuming that the vast majority of the time those other mods will be there, and when they're not, just don't use another block to mix in. I see the point of having an alternate block in vanilla + rtg situations, though. But if volcanos are moved into an add-on so that a block can be added, then it seems to defeat that purpose to me. That said, it's

[2016-06-03 17:58] RufusStark commented on #736
Oh, I see. My point was more that I don't necessarily see lakes nearby when I find those borders. I probably just didn't notice because I didn't know to look for that. Ezoteric makes a good point that you don't really notice it unless you're right on top of it. It's also fairly noticeable on maps.

[2016-06-03 23:13] Zeno410 commented on #729
I think we could write the configs to take block names for the surfacing block (like undergroundbiomes:igneousStone:5 for UBC Basalt), with either an error or a default if the name isn't valid.

[2016-06-03 23:15] Zeno410 commented on #736
A lot of times the lake gets biome-repaired to ocean so you have no idea it was even a lake.

[2016-06-04 04:36] whichonespink44 commented on #729
There's already a [config option](https://github.com/Team-RTG/Realistic-Terrain-Generation/blob/master/etc/config/RTG/rtg.cfg#L365-L371) for the volcano block, but not sure how that's going to work if we start using more than one block for the surface. I suppose we could make each block configurable.

[2016-06-04 08:55] Quizer9O8 commented on #736
Those straight lines arent that bad but in my opinion they are too long like the wasteland one. Isnt there a way to turn thos straight lines into wave like borders

[2016-06-04 08:59] Quizer9O8 commented on #742
I found something like this in a lake some weeks ago and posted it on mc forums. I dont think its that bad but that the shelf stops at water aint good. It needs to go all the way to the bottom like a slope

[2016-06-04 15:01] Zeno410 commented on #742
RWG restricted the biome it appeared in, so it wouldn't be over the ocean (there was a chunk wall at the biome border, essentially, if it would have been) and it didn't have the scenic lakes. I'll bet it had problems with rivers but that would be pretty rare.

[2016-06-04 15:03] Zeno410 commented on #736
There is a "waving" system but either the waves are too small or there's some kind of edge error. I do see them sometimes.

[2016-06-08 19:47] whichonespink44 commented on #736
@Zeno410  I think this is rare enough that we can leave it until after 1.0 has been released, but if you want to try and improve it for 1.0, go for it.

[2016-06-08 19:51] whichonespink44 commented on #705
I think this is rare enough that we can leave it until after 1.0 is released.

[2016-06-08 19:52] whichonespink44 commented on #720
@Zeno410 If this isn't causing major problems, I'm happy to leave this until after 1.0 is released.

[2016-06-08 19:52] #735 closed

[2016-06-08 20:08] whichonespink44 commented on #740
I experienced this the other day, and it was almost certainly caused by the Placemod mod, as I don't have any other structure-adding mod in my pack. I'll try to reproduce it with just Placemod and RTG so we can get an environment to debug.

[2016-06-08 20:10] whichonespink44 commented on #729
@VelocityRa I'm happy to leave this until after 1.0 is released, but if you want to try to get it in before, go for it.

[2016-06-08 20:12] whichonespink44 commented on #742
@Team-RTG/rtg-1-7-10-writers Any ideas on how we can fix this?

[2016-06-08 20:58] whichonespink44 commented on #740
Also, @Zeno410 mentioned something in #686 that might help with this.

[2016-06-09 10:44] srs-bsns commented on #733
Sorry, I don't really have free time to track this down right now.

[2016-06-09 13:22] whichonespink44 commented on #733
No worries mate - I'll see if I can reproduce it... gives me a chance to check out the new RLD :smile:

[2016-06-09 22:33] whichonespink44 commented on #733
This appears to be a bug on RLD's side when generating dungeons in Jungle biomes.

To confirm, I set `spawnFrequency=3` in roguelike.cfg and created an all-Jungle world using Lonely Biome (without RTG installed), and those vine-covered structures were everywhere.

@Greymerk, I checked the RLD issue tracker but couldn't see anything related to 'vines' in any of the open or closed issues. Any ideas?

[2016-06-09 22:33] #733 closed

[2016-06-10 05:37] Zeno410 commented on #742
My thought is the volcano generator should go out to the point where the volcano would be below y30 at least and fill down to the noise level.

[2016-06-10 05:39] Zeno410 commented on #720
I did not have any problems with this in several days of play in a survival test world. (other problems, but not this)

[2016-06-10 05:42] Zeno410 commented on #736
Let's have a look at what the schedule for 1.0 release looks like. It is likely to be a lot of work for a small benefit.

[2016-06-10 05:44] Zeno410 commented on #738
Pink - I notice that the emerald de-gen goes to all the spot that would be made emerald and turns them back. This is going to fail with a non-vanilla emerald generation, or even if something affects the RNG, because the emeralds will be in different places.

[2016-06-10 10:00] whichonespink44 commented on #729
Moved this back into the 1.0 milestone as it's nearly finished based on what @VelocityRa's been working on recently.

[2016-06-10 21:09] Ezoteric opened #747 "highlands tundra too high dunes"
Tundra used the polar/desert terrain but the dune is way too high. better set it just like desert height :)

[2016-06-10 21:10] Ezoteric commented on #747
![2016-06-10_23 09 40](https://cloud.githubusercontent.com/assets/14137626/15978765/79d12946-2f60-11e6-8244-01f43defe8bf.png)

[2016-06-10 21:51] srs-bsns commented on #747
I've never really liked these dunes very much. It's not so much the height as it is how sharp they are.

Snow, and especially sand, don't form like this naturally. Dunes are waveforms created by the friction of air moving across a surface and even a slight breeze would prevent such a steep structure, or in the very rare case that one might develop, would erode it before you'd even know it existed.

[2016-06-10 22:37] Zeno410 commented on #747
Dunes actually can have sharp peaks; it's the steepness that's excessive. I really like them for the HL Dunes biome (which I have in stone and sandstone) but otherwise, yeah, it's sometimes too much. I looked at altering them but I couldn't figure out why that code would produce dunes. I guess it's an interference effect. Changing at this point seems like it would go against the backward compatibi

[2016-06-10 23:02] srs-bsns commented on #747
A fix for the ocean surface bug will also be backwards-incompatible and will be made for the 1.0.0 release (@whichonespink44 said he wanted to wait until then), so the dunes can be altered and the changes commited then as well.

The code can always be altered now and either commented out until then, or just not committed until then. :)

[2016-06-10 23:41] Zeno410 commented on #747
Bugs are more of an issue than aesthetic preferences. Speaking of which - did somebody fix the ocean floors? I just started to take a look a try to fix it and they're fine - nice and even at 30, as the code should do.

[2016-06-10 23:42] Ezoteric commented on #747
@Zeno410
Well tbh if the dunes are like 4 it would be fairly flat again :)

[2016-06-10 23:44] Zeno410 commented on #747
Then all we would need to do is change the config default, which doesn't create much backwards incompatibility (users just need to conserve previously default configs). Do we have the world-specific configs going?

[2016-06-10 23:46] Ezoteric commented on #747
vanilladeser has the dunes added where tundra file is quite empty.

I could change it all to the same as desert including the config files ;)

[2016-06-10 23:55] Ezoteric commented on #747
I think
return terrainPolar(x, y, simplex, river);

should be
return terrainPolar(x, y, simplex, river, 140f, (minDuneHeight + (float)ConfigRTG.duneHeight), 60, 70, base) +
                groundNoise(x, y, 2f, simplex)*river;

[2016-06-11 18:44] whichonespink44 commented on #747
@Zeno410 I don't think anyone's fixed the ocean floors, but I haven't come across any floors that need to be fixed yet. As for the dunes, we could lower the config default a bit, but I'd rather not mess with the terrains at this stage unless absolutely necessary.

[2016-06-11 19:26] Zeno410 commented on #747
The reason I'm asking is that I *did* see the ocean floor problem earlier, and then when srs-bsns mentioned it I remembered I'd never fixed it. So I popped up a test world and it wasn't there. I hadn't been able to figure out how it had been happening in the first place - the floor code is very straightforward.

[2016-06-11 21:02] Greymerk commented on #733
It's a bug in my code. I've confirmed it. I'll see about fixing it.

[2016-06-11 21:35] Greymerk commented on #733
Fixed [here](https://github.com/Greymerk/minecraft-roguelike/commit/1bb6aec6595abe372d3fc7d5fbe59f76ae9bfc1b)

It'll be in the next release for 1.7.10

[2016-06-12 14:51] Zeno410 commented on #742
Fixed in #750. The routine already did all the hard stuff, it just wasn't replacing water.

[2016-06-12 14:52] #742 closed

[2016-06-12 22:22] whichonespink44 commented on #747
Ocean floor bug fixed in 7fd26f2

[2016-06-12 22:22] #747 closed

[2016-06-12 22:23] whichonespink44 commented on #729
Finished in c20823e

![](https://cdn.discordapp.com/attachments/168326116761665536/191241860436459521/2016-06-11_20.25.58.png)

[2016-06-12 22:23] #729 closed

[2016-06-12 22:24] whichonespink44 commented on #740
Potentially fixed in df5df01

Closing for now, but we can re-open if necessary.

[2016-06-12 22:24] #740 closed

[2016-06-12 22:26] whichonespink44 commented on #686
Potentially fixed in df5df01

Closing this for now, but we can re-open if necessary.

[2016-06-12 22:26] #686 closed

[2016-06-13 01:45] Zeno410 commented on #636
This has been pretty reviewed at this point so I think we can close it.

[2016-06-13 09:26] whichonespink44 commented on #636
Agreed :)

[2016-06-13 09:26] #636 closed

[2016-06-13 09:31] whichonespink44 commented on #738
Hmm, I haven't looked into this yet, but iirc the de-gen is checking the actual block to see if it's an emerald ore... that should be RNG-proof, right? If there's a better way to do it though, I'd be up for trying it as the current approach is quite expensive if emeralds are disabled.

[2016-06-13 09:33] whichonespink44 commented on #738
[Sticky note for later] There's also EB ores and other non-vanilla emerald ores to consider.

[2016-06-13 10:03] Zeno410 commented on #738
The problem is that if a *different* block has been changed, either due to a different algorithm actually being used, or to a RNG glitch, RTG will never check to see if it's changed back.

[2016-06-13 10:59] OneEyeMaker commented on #686
It's very strange, but in 1.0-snapshot-1 I found some villages with this problem.
And I think, that this problem is *not in villages' ocde*, because I found some things with similar behavior/issue - snow on mountains is cut-off (in chess-pattern), rectangles (when viewed from above) of non-UB-fied stone (latest beta of UBC is installed). Maybe, this info will be useful.

P. S. Sorry for my English

[2016-06-13 19:12] whichonespink44 commented on #738
@Zeno410 I still don't understand how RTG's current de-gen wouldn't work because... it loops through every single already-generated block in every single chunk, checking to see if it's an emerald ore, and replacing it with stone if it is. How would a different algorithm or an RNG glitch affect that process?

The only way I can see it not working is if some emeralds get generated *after* rRemoveEme

[2016-06-14 04:57] Zeno410 commented on #738
OK, explanation: A mod places emerald. This could be anywhere, depending on the mod - even if they use the vanilla routine, if there's even one extra call to the RNG everything moves. RTG will then come along and remove emeralds from all the places vanilla would have put it - but only those places. The mod-placed emeralds are elsewhere, so they're not affected.

[2016-06-14 07:36] whichonespink44 commented on #738
Sorry, but I still don't get it. The emerald removal system loops through every coord in every chunk, uses world.getBlock(), and replaces emerald with stone if it finds one. It doesn't matter where a mod places the emerald - if it's placed before the removal routine runs, it will get replaced. If it's placed *after* the routine runs, sure, I can see how it would miss it, but... if it gets placed *

[2016-06-14 09:31] srs-bsns commented on #738
The only way I can see this happening is if either:

1. Our method is broken, or
2. Some other mod isn't using the proper method to generate ores and is generating emerald after our method runs.

But I'm going to have to go with the former, because the test I just did with just RTG (latest) and all ore gen turned off produced this result:
![2016-06-14_05 27 11](https://cloud.githubusercontent.com/

[2016-06-14 12:35] Zeno410 commented on #738
Maybe it's changed or I misunderstood it, but the removal system I saw reran the emerald generation and only changed the emeralds in those blocks. In any case, clearing the entire chunk won't do, because generation starting in the chunk can spill into adjacent chunks, and if those chunks have already been cleared then the emeralds will stay.

You could clear into adjacent chunks to a far enough di

[2016-06-14 12:36] whichonespink44 commented on #738
@srs-bsns How did you remove everything except the ores? I'd like to investigate further as the test I did on snapshot 1 seemed to be working for me, but I was only checking one block, so... it probably *is* broken. :/

[2016-06-14 12:44] srs-bsns commented on #738
@whichonespink44, I just used Veinminer with most vanilla blocks added to the blocklist for pickaxe, and these config settings:
[code]

[2016-06-16 13:53] VladimirMangos opened #755 "World stuck in result infinity recursion at chunk decoration"
I have problem with infinity (not sure, but at least long time period) in chunk decoration calls at world chunks loading. After wait I terminate minecraft. World finish load and place player to world and show self. But no progress save and no world interaction world with preserved result after world reload.

Hmm, crash report have stack overlow remark but minecraft not crash for me and terminated

[2016-06-16 15:38] srs-bsns commented on #755
This is the wrong repo for reporting issues for RTG-1.9.4, you are looking for: https://github.com/Team-RTG/1.9-Realistic-Terrain-Generation/issues

However, this issue is already known and is being addressed.

[2016-06-16 15:38] #755 closed

[2016-06-16 15:43] VladimirMangos commented on #755
Oh, sorry and thank you)

[2016-06-16 20:41] whichonespink44 commented on #738
Confirmed RTG's emerald DE-gen isn't working, which might be contributing to this particular issue, but it certainly isn't generating *extra* emeralds... it's just not removing all of the ones that it generates itself.

So...

I'm going to leave this open, but I'm changing the milestone to 1.1 as it's not a priority at the moment, but I'd still like to sort it out if we can.

[2016-06-17 04:32] whichonespink44 commented on #737
Fixed in 2eeb82d

[2016-06-17 04:32] #737 closed

[2016-06-17 16:43] DrLeonardo opened #759 "Phantom blocks"
Very often on the map there are " phantom blocks" . Areas such units are enormous , when you try to move to the area player throws after rejoining the server problem is solved . But not for long. How to solve this problem ?

The problem is seen in the version of RTG-1.7.10-0.8.0-snapshot- 5 , but it is very unobtrusive , on versions of the above problem is critical

KCouldron 1.7.10 1614 201 (chec

[2016-06-17 17:00] srs-bsns commented on #759
I haven't noticed a single instance of anything like this, nor has anyone else reported anything like this. I assume this is a KCouldron issue.

[2016-06-17 17:03] DrLeonardo commented on #759
Tests have shown that the core server is not guilty .
Now there is a bug in the Thermos

[2016-06-17 17:07] DrLeonardo commented on #759
The problem is seen in the version of RTG-1.7.10-0.8.0-snapshot- 5 , but it is very unobtrusive , on versions of the above problem is critical

[2016-06-17 19:33] whichonespink44 commented on #533
@Claycorp @ChilledDayz Just a quick one to let you know that vanilla saplings can grow RTG trees as of version 1.0-snapshot-2.

This post explains the functionality in more detail: http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=2933

[2016-06-17 19:39] Claycorp commented on #533
Interesting way to implement it. Now you can at least grow them around your home area to keep it matching the rest of the biome. Still looking forward to the saplings though as I would like to move tree types around the world.

[2016-06-17 19:41] whichonespink44 commented on #759
@DrLeonardo We don't officially support KCauldron, so there''s not much we can do to help. The only way we could help is if you could reproduce this issue using only a Forge server.

The one thing I could suggest is to try using the latest 1.0 snapshot to see if it fixes the problem. Just be sure to backup your world because upgrading from 0.8-snapshot-5 *might* create some chunk walls.

I'm closi

[2016-06-17 19:44] whichonespink44 commented on #533
Yeah, it's definitely not ideal, but it's the best we could do without making it an addon. The custom saplings will likely come in the form of an addon for the 1.9.4 version at some point.

[2016-06-18 12:06] whichonespink44 commented on #533
@Claycorp I would also like to move tree types around in my world, and I've just figured out how to do it... essentially you need a mod like [Biome Wand](http://spacechase0.com/mods/minecraft/biome-wand/) or [Biome Reactors](http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2655049-biome-reactors-1-0-2-change-biomes-using-redstone) or something similar, and then it's just a c

[2016-06-20 05:40] chaNcharge commented on #705
Seems to be more common in RTG 1.0 snapshot 2, got the bug to reproduce after 1 world regeneration compared to originally 10-15. Same seed, same location, although I increased village size to 1 (from 0) and village spread to vanilla values.
![2016-06-19_22 33 38](https://cloud.githubusercontent.com/assets/11594018/16184173/e1af9d58-366e-11e6-9c25-a8b3b0e850b3.png)

[2016-06-20 05:45] chaNcharge opened #765 "[RTG 1.0 Snapshot-2] Village farms sometimes follow terrain"
This doesn't happen with every village farm but basically, the farm kinda appears to follow the terrain its on and ends up sinking abruptly. Hard to explain, but screenshot says it all.
Village spread set to vanilla values
Village size: 1
Seed: 3029737
![2016-06-19_22 34 40](https://cloud.githubusercontent.com/assets/11594018/16184227/77df668c-366f-11e6-8ee6-3d02bc8ca106.png)
![2016-06-19_22 44 55

[2016-06-20 14:22] topisani commented on #765
that actually looks pretty awesome :P other than that, no idea

[2016-06-21 05:50] whichonespink44 commented on #724
https://github.com/joshiejack/Mariculture/issues/350

Looks like this will be fixed very soon! :dancer:

[2016-06-22 06:18] whichonespink44 commented on #765
I'm not able to reproduce the 'terrain following' issue using just the latest version of RTG with that seed + vanilla village settings and village size = 1.

@chaNcharge Can you confirm this is still happening in v1.0?

What I did notice (again), however, is that villages seem to be ignoring decorations sometimes:

![2016-06-22_07 11 57](https://cloud.githubusercontent.com/assets/10927161/16256302

[2016-06-22 17:30] whichonespink44 commented on #724
I'll be testing the recent changes tonight.

[2016-06-22 19:06] whichonespink44 opened #770 "UBC: java.lang.ArrayIndexOutOfBoundsException"
@srs-bsns posted this in Discord, so just posting here for reference.

[code]

I suspect it might have something to do with the recent cobblestone boulders using UBC cobble:

https://github.com/Team-RTG/Realistic-Terrain-Generation/blob/master/src/main/java/rtg/world/gen/feature/WorldGenBlob.java#L83-L84

https://github.com/Team-RTG/Realistic-Terrain-Generation/blob/master/src/main/java/rtg/util/B

[2016-06-23 06:16] ghost commented on #759
@whichonespink44 I can confirm this. I using 1.0-snapshot 2 will happend when I only use Forge in single game. Also KCauldron had this problem too.
**And now 90% of Mod servers are using KCauldron or Thermos, you said do not support KCauldron, I think this is not a wise choice.**

[2016-06-23 07:11] srs-bsns commented on #770
I'm not sure there's anymore useful information, but here's the full crash report: http://pastebin.com/8mvFSu9v

And in addition to that, I was able to build a world using UBC without Highlands and with EBXL, however, there were also additional mods present and different config settings, so it's hardly fallowing any kind of scientific method.

[2016-06-23 08:28] DrLeonardo commented on #759
@sourcepowered I agree , do support KCauldron and Thermos

[2016-06-23 08:36] whichonespink44 commented on #759
So this is happening with just Forge and RTG installed? If so, please provide a seed so we can investigate further.

[2016-06-23 13:12] ghost commented on #759
@whichonespink44 OK, sir. I will try to reproduce the problem.

[2016-06-23 18:26] chaNcharge commented on #705
Just tested this in the official 1.0 release, still present

[2016-06-24 12:19] srs-bsns commented on #705
@chaNcharge, can you pastebin/gist the list of mods you are using?
Also, what is the frequency that you observe this happening?

I did some testing a couple of days ago with a small group of mods that alter villages and out of ~100 villages observed I only found 1 that had a single broken building, similar to as you reported here: #686, but I didn't observe anything like in the screenshots in this

[2016-06-24 12:24] srs-bsns commented on #736
Is this still an issue? I haven't really observed it anywhere in my 1.0 tests.
Or is it just so rare that I haven't run into it?

[2016-06-24 16:55] Zeno410 commented on #736
It does exist. I find I don't see it often unless I'm looking for it. Also, it only happens near coasts so if you're looking at all-land areas you won't see it.

[2016-06-24 16:56] Zeno410 commented on #705
@srs-bsns is that broken building reproducible? Mine (also rare) have not been.

[2016-06-24 17:11] Zeno410 commented on #770
It looks like the problem is sharing the IntCache with other functions. I've been having trouble with multithreading and the IntCache. I'll rewrite the UB function.

[2016-06-25 04:20] chaNcharge commented on #705
It doesn't happen too often, but this also occurs by itself and biomes o plenty with the RTG BOP tweaks

[2016-06-25 08:37] srs-bsns commented on #686
For future reference:
https://github.com/MinecraftForge/MinecraftForge/issues/3020
https://github.com/MinecraftForge/MinecraftForge/pull/3061

[2016-06-25 08:45] srs-bsns commented on #705
@Zeno410, I didn't attempt to reproduce it, and sadly I no longer have the config setup to go back and try.
However, for future reference on 'cut off buildings' (probably not related to this issue): https://github.com/MinecraftForge/MinecraftForge/issues/3020

[2016-06-25 12:35] whichonespink44 opened #772 "[1.8.9] Fix uppercase namespace in resource dir"
_From @srs-bsns on April 7, 2016 4:46_

src/main/resources/assets/RTG/ <---toLower()

_Copied from original issue: Team-RTG/1.8.9-Realistic-Terrain-Generation#66_

[2016-06-25 12:35] whichonespink44 opened #773 "Underground Gravel Generation?"
_From @MagnusRevang on April 2, 2016 8:54_

I kerp stumbling on pockets of air with a lot of exposed ore - some even floating, yet I never encounter gravel while underground? This leads me to believe that gravel fails to generate - is this the case? Mining in a mushroom island biome

_Copied from original issue: Team-RTG/1.8.9-Realistic-Terrain-Generation#65_

[2016-06-25 12:36] whichonespink44 opened #774 "Add biome support for Highlands UT"
_From @whichonespink44 on March 29, 2016 13:42_

http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2494877-highlands-uncharted-territory-finally-for-1-8-9

_Copied from original issue: Team-RTG/1.8.9-Realistic-Terrain-Generation#63_

[2016-06-25 12:37] whichonespink44 opened #775 "Add biome support for Minestrappolation 4"
_From @whichonespink44 on March 24, 2016 13:50_

Request: http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=2025

Mod:

http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2480301-minestrappolation-4-pipes-and-teleporters

https://github.com/MinestrapTeam/Minestrappolation-4

Biome stuff: In

[2016-06-25 12:37] whichonespink44 commented on #775
_From @topisani on March 24, 2016 14:27_

Totally unrelated, but wow this mod looks cool

[2016-06-25 12:37] whichonespink44 commented on #775
Yeah it does - I'd heard of it, but never looked into it before now... very cool indeed! :)

[2016-06-25 12:37] whichonespink44 opened #776 "Add support for Amberoguia"
_From @whichonespink44 on February 28, 2016 14:8_

http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/1293792-1-8-1-7-10-forge-ssp-smp-amberoguia-mod-v1-5-adds

_Copied from original issue: Team-RTG/1.8.9-Realistic-Terrain-Generation#25_

[2016-06-25 12:37] whichonespink44 opened #777 "Add Support for Beautiful Vanilla Mod-1.8.9"
_From @WenXin20 on March 7, 2016 15:31_

V0.5 adds 2 new biomes.
http://minecraft.curseforge.com/projects/beautiful-vanilla-alpha-0-45-for-minecraft-1-8/files/2285873

_Copied from original issue: Team-RTG/1.8.9-Realistic-Terrain-Generation#44_

[2016-06-25 12:38] whichonespink44 opened #778 "Add Biome Support for Flowercraft Mod"
_From @WenXin20 on March 2, 2016 3:46_

http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/1282852-flowercraft-staircraft-slabcraft-wallcraft

_Copied from original issue: Team-RTG/1.8.9-Realistic-Terrain-Generation#39_

[2016-06-25 12:38] whichonespink44 opened #779 "Optimisation"
_From @topisani on February 28, 2016 19:21_

Quite a few things need some refactoring for performance reasons. This is going to be a central list of all of them.
- [ ] Use MutableBlockPos instead of BlockPos in loops

_Copied from original issue: Team-RTG/1.8.9-Realistic-Terrain-Generation#26_

[2016-06-25 12:38] whichonespink44 opened #780 "Add support for Agricultural Revolution"
_From @whichonespink44 on February 28, 2016 14:6_

http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/wip-mods/2501618-the-agricultural-revolution-ver-0-7-2-reinventing

_Copied from original issue: Team-RTG/1.8.9-Realistic-Terrain-Generation#24_

[2016-06-25 12:38] whichonespink44 commented on #780
_From @topisani on February 28, 2016 15:0_

Whats included in this? im guessing it doesnt need biometweaker voodoo, so its just adding the biomes? ima need a bit of guidance for this

[2016-06-25 12:38] whichonespink44 commented on #780
Cool, yeah I can give you a crash course in biome support... can also put something in the GitBook for reference.

It's basically just creating a biome config, realistic biome, terrain, and surface for all of the overworld biomes in the mod. I usually do an NEI dump to get the biome names and class names if they don't have an API. From there, it's basically choosing an existing biome that most clo

[2016-06-25 12:38] whichonespink44 opened #781 "Add support for the Afraid of the Dark mod"
_From @whichonespink44 on February 28, 2016 14:5_

http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2499255-afraid-of-the-dark-1-1-1-updated-1-5-16

_Copied from original issue: Team-RTG/1.8.9-Realistic-Terrain-Generation#23_

[2016-06-25 12:39] whichonespink44 opened #782 "Biome Repair System issues"
_From @topisani on February 20, 2016 18:35_

![2016-02-20_19 30 06](https://cloud.githubusercontent.com/assets/3133596/13198441/0222d8a8-d809-11e5-84a2-4242ae6a38fd.png)
This ocacionally happens, i have no idea why. Is it in 1.7 as well?

_Copied from original issue: Team-RTG/1.8.9-Realistic-Terrain-Generation#8_

[2016-06-25 12:39] whichonespink44 commented on #782
Cross-version duplicate of [#456](https://github.com/Team-RTG/Realistic-Terrain-Generation/issues/456)

[2016-06-25 12:39] whichonespink44 opened #783 "Too small biomes resulting in seemingly misplaced structures"
_From @whichonespink44 on February 21, 2016 22:9_

Previous discussion here: https://github.com/Team-RTG/Realistic-Terrain-Generation/issues/528

_Copied from original issue: Team-RTG/1.8.9-Realistic-Terrain-Generation#11_

[2016-06-25 12:39] whichonespink44 commented on #783
_From @topisani on February 21, 2016 22:21_

I think we should have a label for bugs that might be in 1.7 too

[2016-06-25 12:39] whichonespink44 commented on #783
Good call - just in the process of copying labels across from the 1.7 tracker, so I'll add 1.7/1.8 labels in each in case there are any issues that crossover.

[2016-06-25 17:14] whichonespink44 opened #784 "One repo to rule them all"
@Team-RTG/everyone

I propose that we consolidate the 1.9 repo into the Realistic-Terrain-Generation repo, as we've done with the 1.8.9 repo, and make a few minor changes to our branching/development workflow.

Essentially, here's what I'm thinking this repo should look like:

**Branches:**

[code]

This branch structure would allow us to maintain our current master/dev workflow, whilst providing

[2016-06-25 22:00] topisani commented on #784
i am kinda torn on this.
first of all that is in theory the way to go, but i prefer the idea of an archive repo for 1.7/1.8, simply because i think a refresh is nice, and this is one of the best chances we will ever have for that.

Also, with the talk we have had recently about having a very small core wrapping system that interacts with forge and minecraft version specific things, so we can use t

[2016-06-25 22:34] Zeno410 commented on #784
I have yet to get into the 2.0 code but my impression is that it's different enough it should be a different repo. The point of having things in the same repo is that git can automatically match up similar code and that's not going to work 1.0 -> 2.0.

[2016-06-25 22:45] Zeno410 commented on #774
This is an interesting one because the plan for UT was to use Topi's generation system welding to fix it. So, do we want to do the UT terrains in RTG or import the welding?

[2016-06-25 23:27] whichonespink44 commented on #784
I'm up for restructuring the code to enable/improve compatibility with other mods/platforms, but I don't see why that would require different repos. Unless you meant a different kind of restructuring?

In Git's eyes, a branch is a branch is a branch, regardless of the repo in which that branch lives. It would struggle trying to match up v1 code with v2 code no matter what, but... we'd never be com

[2016-06-26 08:20] whichonespink44 commented on #724
The latest version of Mariculture ([1.2.4.2a-5](http://minecraft.curseforge.com/projects/mariculture/files/2309889)) fixes this X/Z chunk flipping issue, as well as an issue with Mariculture hardcoding grass/dirt as the top/filler blocks under certain conditions.

A minimum required version of Mariculture was added in cbe75b5 to ensure players are using the patched version of Mariculture.

[2016-06-26 08:20] #724 closed

[2016-06-26 08:29] whichonespink44 commented on #774
I guess it depends on how easy/difficult it is to import the welding vs how easy/difficult it is to upgrade the terrain system to use the latest 1.7.10 stuff.

Unless we're planning to bring the entire 1.8.9 version of RTG inline with the latest and greatest from the other two versions, then it might be best to just add support for UT using the existing 1.8.9 terrains.

[2016-06-26 08:32] whichonespink44 commented on #776
There is no version of Amberoguia for 1.8.9

[2016-06-26 08:32] #776 closed, assigned to nobody

[2016-06-26 09:09] whichonespink44 commented on #774
Something else to consider... if you we _do_ import the welding system, that means we could also close #777, #778, #780, #781, and #775, whilst also ensuring that any other biome-adding mods for 1.8.9 are automatically supported.

[2016-06-26 18:20] radfast opened #786 "Request for help: conflict with Galacticraft"
Hi guys,
I'm one of the Galacticraft developers and we have a problem with RTG.
See here:
https://github.com/micdoodle8/Galacticraft/issues/2175

Our relevant code is [here](https://github.com/micdoodle8/Galacticraft/blob/master/src/main/java/micdoodle8/mods/galacticraft/core/util/MapGen.java)

This code slowly, over about 50,000 ticks, builds up an internal (used by Galacticraft only) map of the

[2016-06-26 19:14] topisani commented on #786
By height map i assume you mean an array of the terrain heights at coordinates, pre decoration etc. No, using your getHeightMap will 100% certainly NOT return the correct heights, you would need to use some RTG functions that i am not certain exist in 1.7.10.

About the null biome arrays, we may have an idea for a fix that we are working on

[2016-06-26 22:05] Zeno410 commented on #786
The best way, which would require some work on our part, would be for you to get a ChunkLandscape from ChunkProviderRTG, which has our height map. We'd have to do some work because it's all private right now. We might be able to write a func_147424_a() to cough up a height map.

Null biomes is some odd bug - does this happen with just Galacticraft and RTG?

[2016-06-27 08:46] whichonespink44 commented on #784
Ok peeps, I'm really keen to get these repos sorted out before we start getting into high gear again, so... I'm going to trial this 'one repo' system and see how it goes. If there are any workflow problems that we can't resolve, then we'll just split out v2 into its own repo again.

I'd like to do all of this tonight, so if you have any un-pushed commits, let me know and I'll hold off for a bit.

[2016-06-27 17:41] radfast commented on #786
Thanks guys, much appreciated.  Yes, I mean an array of the basic terrain heights pre decoration, the same as the vanilla Minecraft worldgen uses internally.  In practice, this gives an "accurate enough" guide to terrain height for satellite mapping purposes - the key point being whether terrain is above or below height y=63, so we know whether to give it a water color.  (We also lighten terrain a

[2016-06-28 04:01] whichonespink44 opened #788 "Mobs not moving"
_From @Ezoteric on June 15, 2016 15:58_

Using latest release (RTG-1.9.4-2.0.0-alpha.5) with or without mods mobs dont move.

_Copied from original issue: Team-RTG/1.9-Realistic-Terrain-Generation#130_

[2016-06-28 04:01] whichonespink44 commented on #788
_From @Ezoteric on June 15, 2016 16:23_

OK i reinstalled my whole shit and dropped lyncite mobs orso and i think that is the one killing enities movement

[2016-06-28 04:01] whichonespink44 commented on #788
_From @srs-bsns on June 15, 2016 16:47_

This is likely the result of the current performance issues that exist in the alphas. The server is getting hung up doing (probably) world gen related stuff so there's no available CPU to do anything else, like process mobs.

[2016-06-28 04:01] whichonespink44 commented on #788
_From @Ezoteric on June 15, 2016 16:51_

nah cause without that mod i have 0 problems and even with textpack and shaders i run fine

[2016-06-28 04:01] whichonespink44 commented on #788
_From @JCMais on June 15, 2016 17:22_

Lycanites add many more mobs which can make the problem worse, since there are more entities to use the CPU.

[2016-06-28 04:01] whichonespink44 commented on #788
_From @Ezoteric on June 15, 2016 17:34_

but when removing the mod they still dont move so it seems it screws it up bigtime

[2016-06-28 04:01] whichonespink44 commented on #788
_From @srs-bsns on June 17, 2016 0:39_

I still don't believe this has anything to do with mobs. It is most likely world gen bogging down the server.
Since this seems to be a performance issue, I'll close this and move the discussion to #131.

[2016-06-28 04:02] #788 closed, assigned to nobody

[2016-06-28 04:07] whichonespink44 opened #789 "[1.10.2] Alpha.6 Performance Issues and Crashing (CMEs)"
_From @Lanse505 on June 16, 2016 19:52_
##### Affected Mod Versions
- Forge: 12.17.0.1964
- RTG: RTG-1.9.4-2.0.0-alpha.5
- Pam's HarvestCraft: 1.9.4a
##### Issue Description:

Issue 1:
There are currently some rather hefty performance issues with Base RTG for 1.9.4 however it seems that with Pam's Harvestcraft this issue gets ALOT worse.

Issue 2:
Also there seems to be a wierd bug with Chunks gen

[2016-06-28 04:07] whichonespink44 commented on #789
_From @Lanse505 on June 16, 2016 19:53_

Also the chunk generation seems to be abit wonkey once it acctually generates the chunks:
http://i.imgur.com/JPePCeG.png
http://i.imgur.com/Ru3ZFf2.png

[2016-06-28 04:07] whichonespink44 commented on #789
_From @Lanse505 on June 16, 2016 19:55_

During Chunkgen it boils down to this call tree:
http://i.imgur.com/V1SAwqN.png

[2016-06-28 04:07] whichonespink44 commented on #789
_From @Lanse505 on June 16, 2016 20:2_

The first issue (aka massive initial generation lag) Gets even worse with BoP added :P
http://i.imgur.com/AgNclnh.png
http://i.imgur.com/LIA40pD.png

[2016-06-28 04:07] whichonespink44 commented on #789
_From @Lanse505 on June 16, 2016 20:29_

Also adding BoP caused a crash:
https://gist.github.com/Lanse505/f0a0c4611da74d0bbdbf14229958d2fb

This happened after about 13 minutes of Spawn Generation time when it loaded you into the world.

[2016-06-28 04:07] whichonespink44 commented on #789
_From @Lanse505 on June 16, 2016 20:30_

[22:01:42] [Server thread/INFO]: Preparing start region for level 0
[22:01:43] [Server thread/INFO]: Preparing spawn area: 0%
[22:13:09] [Server thread/INFO]: Preparing spawn area: 98%
[22:13:10] [Server thread/INFO]: Preparing spawn area: 98%

[2016-06-28 04:07] whichonespink44 commented on #789
_From @xtraspecialj on June 17, 2016 16:13_

Any news on improving the 1.9.4 performance of this mod?  I really want to use this mod on my next playthrough but the missing pieces of chunks as mentioned in the op make it impossible.  I found a command block command to pre-generate the chunks but it takes forever just to get a decent sized radius, it isn't perfect, and I often go well outside of the

[2016-06-28 04:07] whichonespink44 commented on #789
_From @srs-bsns on June 17, 2016 16:56_

@xtraspecialj, RTG is being rewritten for 1.9.4 and it is still in the early stages, hence why it is Alpha. It will be a while before it is usable for normal play.

[2016-06-28 04:07] whichonespink44 commented on #789
_From @xtraspecialj on June 27, 2016 0:18_

@srs-bsns:. Thanks for the update sir, great mod!. I appreciate the devs hard (and beautiful) work on it. And sure, I'm aware it's in Alpha and not officially cleared to be a recommended mod for a playthrough, but you and I both know that there are many times Alpha versions are good enough to use as a "daily driver" so to speak.  Given that this is the i

[2016-06-28 04:07] whichonespink44 commented on #789
_From @topisani on June 27, 2016 1:41_

we have been busy with the 1.7.10 release lately, but during the following weeks we should get back into 1.9.4, this time with the entire team focused on it. So nope, we havent fleshed out the specific issues, but we will start work on it pretty soon.

[2016-06-28 04:07] whichonespink44 opened #790 "Semi-Random crash for new world with farseek & streams"
_From @elix-x on June 15, 2016 8:39_

For a few days, i'm experiencing this crash when creating a world. It happens 2 times out of 3 (For every 3 worlds created only 1 is playable). Relogging into world after crash doesn't help, wll, because world isn't generated.
I could as weel report it [here](https://github.com/delvr/Farseek/issues), but NPE happens in your code.
[Crash report](https://gist.gi

[2016-06-28 04:07] whichonespink44 commented on #790
_From @srs-bsns on June 15, 2016 13:8_

Probably a dupe of #126

[2016-06-28 04:08] whichonespink44 commented on #790
_From @elix-x on June 15, 2016 13:24_

"Highly probalby"_tm_, but i have it only when farseek & streams are installed. And the stack trace also contains them.

[2016-06-28 04:08] whichonespink44 opened #791 "No default value set for option 'Top block' in section 'worldFeature.waterFeatures'"
_From @whichonespink44 on June 19, 2016 20:44_

Original report:

http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=2946

_Copied from original issue: Team-RTG/1.9-Realistic-Terrain-Generation#132_

[2016-06-28 04:08] whichonespink44 commented on #791
_From @srs-bsns on June 19, 2016 22:2_

Possibly related to #126.

[2016-06-28 04:08] whichonespink44 commented on #791
_From @topisani on June 20, 2016 0:12_

worldfeatures arent supposed to have a topblock, or at least they arent supposed to need to have one. the only problem is the debug message

[2016-06-28 04:08] whichonespink44 opened #792 "RTG2 Architecture, Structure & Scope"
_From @whichonespink44 on April 9, 2016 12:11_

Hey @Team-RTG/everyone ... just wanted to get your thoughts on RTG2 as I'd like to finalize some architectural decisions so we're all on the same page. Nothing's been absolutely set in stone, but this is where things are at currently. Feedback is most welcome, and I'll update this first post with the latest decisions.

**The name**
‘RTG2’ is a great

[2016-06-28 04:08] whichonespink44 commented on #792
_From @topisani on April 9, 2016 14:22_

a way of choosing  biome layouts, and letting addons register one, is definately a plan (see #65). Wether Kdots system should be integrated or an addon, i think we will just have to wait and see

[2016-06-28 04:08] whichonespink44 commented on #792
_From @ragify on April 10, 2016 10:17_

The ability to add custom assets (trees, stones, boulders, fallen logs) in the form of schematic to generation and specify frequency and which biome they generate in would be an amazing addition, allowing users to customize the look of their world without any modding knowledge.

[2016-06-28 04:08] whichonespink44 commented on #792
@ragify

Whilst true, that functionality is outside the scope of what RTG is trying to achieve and would be better suited for another mod. In fact, I believe the [Ruins mod](http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/1282339-ruins-structure-spawning-system) already does that sort of thing and is fully compatible with RTG.

[2016-06-28 04:08] whichonespink44 commented on #792
_From @JCMais on April 25, 2016 3:37_

There is [placemod](http://minecraft.curseforge.com/projects/placemod) too. You place a schematic in a folder and it places it in a biome based in the blocks its made of.

[2016-06-28 04:08] whichonespink44 commented on #792
_From @srs-bsns on April 25, 2016 4:14_

RE: Mod Structure.

We could always code RTG2 to be like BuildCraft and MineFactoryReloaded. Modular, but released in the same jar. It might help to keep mod support separate, and it will also make it easier to enable/disable support on a per mod basis. This type of setup could also (depending on how we do it) allow other people to easily write their own ad

[2016-06-28 04:08] whichonespink44 commented on #792
_From @topisani on April 25, 2016 12:27_

That sounds really great, lets look into that!

not if we just look at it as one thing for versioning. We can even keep it in one repo, just different packages

[2016-06-28 04:08] whichonespink44 commented on #792
_From @Zeno410 on April 25, 2016 17:31_

I think biome layouts should stay with the basic Forge-compatible system: we take what comes out of the Forge calls.

Kdot's biome layout needs to be independent, because it will be used for non-RTG worldtypes. In particular, its gradient systems have a personality somewhat like the early temp/rainfall vanilla system which a lot of people want and which is

[2016-06-28 04:08] whichonespink44 commented on #792
_From @topisani on April 26, 2016 6:15_

yep zeno, biome layouts need to use the forge compatible system, but that doesnt allow you to chose the BOP layout. Thats why it will be possible to chose the BOP layout, or the Highlands layout or whatever, and each of those inject the biomes from the forge registry.

Also, Kdots biome system will be its own seperate mod, which will probably be the recomen

[2016-06-28 04:08] whichonespink44 commented on #792
_From @Zeno410 on April 26, 2016 16:51_

Bop is serving the GenLayers, right? So if BoP is in your mod directory you'll get the BoP layers. Biome layout mods, in turn, override the biome mod layouts. That's very easy for players to understand - if they put in a biome mod, they want that, and get that over vanilla. If they put in a biome layout mod, they want _that_ and get that over either a biome

[2016-06-28 04:08] whichonespink44 commented on #792
_From @topisani on April 26, 2016 17:31_

oh yes of cause, but BOP gen layers only get added if you chose their world type. this is to use biome layouts that are normally specific to a world type in the RTG world type. CC or BiomeTweaker or any other mod like that should of cause allways override that

[2016-06-28 04:08] whichonespink44 commented on #792
_From @Zeno410 on April 26, 2016 18:4_

I was hoping we could get the BoP people to serve their biome layers to RTG. I thought you got in a PR?

[2016-06-28 04:08] whichonespink44 commented on #792
_From @topisani on April 26, 2016 18:54_

nope, just got access to the function for getting their genlayers. They arent doing anything RTG specific on their side. And that is probably all we can hope for with other mods like BOP on that regard. Therefore the option that chooses one of the genlayer stacks we have implemented (VANILLA, BOP, maybe VANILLA_LARGE_BIOMES)

[2016-06-28 04:09] whichonespink44 opened #793 "1.9.4 dev (my 2 cents)"
_From @Ezoteric on June 7, 2016 1:18_

Ill keep this updated with all my finds.

~~no config files are made.~~ fixed

No cobble stone on mountanis, just stone and its ore
Cactus in plains
acacia wood in plains, taiga
jungle trees in forest, extremehills.
palm tree in plains
fallen trees in deserts
spruce and oak trees in savanna
vines on oak trees in forest
In other words, the decorations seem too

[2016-06-28 04:09] whichonespink44 commented on #793
_From @topisani on June 9, 2016 0:13_

right thanks, the config thing is fixed.
The cobble thing is "intentional", that is, i am aware, and i have plans to integrate the 1.8 stones in the surfacing, but havent gotten around to it yet.

No idea about the decorations, id have to look into that

structures seems weird, no idea about that either.

the cobwebs are a known issue, @whichonespink44 decora

[2016-06-28 04:09] whichonespink44 commented on #793
Re: decorations... there's a lot of stuff from 1.7.10 that hasn't been ported yet, so most of those issues will get fixed when it does. The decorations bleeding into other biomes is intentional, although it might be doing it more in 1.9.x versions. Again, this will get sorted after 1.7.10 stuff is migrated.

[2016-06-28 04:09] whichonespink44 commented on #793
_From @Ezoteric on June 9, 2016 12:18_

updated, i have seen ocean monument

[2016-06-28 04:09] whichonespink44 commented on #793
_From @Ezoteric on June 9, 2016 12:38_

Village cut

![2016-06-09_00 19 41](https://cloud.githubusercontent.com/assets/14137626/15929860/c86702a4-2e4f-11e6-85cf-dd25014b027a.png)

[2016-06-28 04:09] whichonespink44 commented on #793
_From @topisani on June 20, 2016 0:26_

this village thing was fixed in 1.7.10 right? if so, whoever did that, how? and could it be ported to 1.9

[2016-06-28 04:09] whichonespink44 commented on #793
_From @Zeno410 on June 20, 2016 16:19_

No, the village thing wasn't fixed. It turned out to happen at least some of the time in vanilla. When I spotted it and tried to track it, it evaporated, so my suspicion is a conflict when it's trying to generate two villages at once.

[2016-06-28 04:09] whichonespink44 opened #794 "Floating Water Source Block in 1.9"
_From @PrinceZorg on May 9, 2016 20:58_
- Forge: 1.9-12.16.1.1887
- RTG: RTG-1.9-2.0.0-alpha.1

(sorry for my bad english)
World generates floating water source blocks in rivers and oceans when ravins or caves comes out.
It's like rivers and oceans are generated and then caves and ravins are made but water source blocks are not updated.

This exemple is made with defaut cfg file.
![2016-05-09_22 3

[2016-06-28 04:09] whichonespink44 commented on #794
Thanks for the report.

I wonder if this has anything to do with the water blocks being Blocks.water instead of Blocks.flowing_water

When I was working on volcanoes, I noticed that if the lava was Blocks.lava, it wouldn't trickle down the side of the volcano if there was a crack in the caldera - it would just sit there. But if I changed it to Blocks.flowing_lava, it would flow down the crack in t

[2016-06-28 04:09] whichonespink44 commented on #794
_From @PrinceZorg on June 10, 2016 18:25_

Hi,
Tested last alpha 5 with 1.9.4, problem is still there.

[2016-06-28 04:09] whichonespink44 commented on #794
_From @topisani on June 20, 2016 0:24_

im not exactly sure how this should be fixed. how i see it, there are two options:
1. Check for water in cave/ravine gen code, and make sure they dont break into rivers/ponds
2. Somehow make sure the water flows down and fills the cave

The issue here is pretty simple. The first one is gonna be slightly weird to do, and im not sure its the right way to go. B

[2016-06-28 04:09] whichonespink44 opened #795 "Coastal Cliffs"
_From @whichonespink44 on April 14, 2016 20:34_

https://github.com/Team-RTG/Realistic-Terrain-Generation/issues/592

_Copied from original issue: Team-RTG/1.9-Realistic-Terrain-Generation#75_

[2016-06-28 04:09] whichonespink44 opened #796 "Crash with BOP [1.9.4]"
_From @MCEventHorizon on June 10, 2016 19:59_
##### Affected Mod Versions
- Forge:1957
- RTG:1.9.4-2.0.0-alpha.5

(Please list other mods and their versions if you feel they are relevant to this issue. i.e. Biomes O' Plenty)

-Biomes O' Plenty: 1.9.4-4.1.0.2025

srs_edit: http://pastebin.com/J9sFXRMU

_Copied from original issue: Team-RTG/1.9-Realistic-Terrain-Generation#128_

[2016-06-28 04:09] whichonespink44 commented on #796
_From @srs-bsns on June 10, 2016 22:13_

This might be related: [MCF #2892](http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=2892)

Both stacktraces appear to show some kind of endless looping during decoration.

[2016-06-28 04:10] whichonespink44 opened #797 "Biome support in v2"
_From @topisani on April 4, 2016 22:22_

Everything is less urgent because of rBGB (realisticBiomeGenBase) but it should still be done. BOP is probably top priority

_Copied from original issue: Team-RTG/1.9-Realistic-Terrain-Generation#60_

[2016-06-28 04:10] whichonespink44 commented on #797
I'd love to do this at some point, but not gonna have any more time to spend in 2.0 until 1.7.10 is finished. So feel free to unassign me if you want to do it yourself.

[2016-06-28 04:10] whichonespink44 commented on #797
_From @topisani on April 4, 2016 23:10_

anyone? its not very boring at all :D

[2016-06-28 04:10] whichonespink44 commented on #797
_From @topisani on April 6, 2016 13:25_

if #64 works out as good as it looks like, there might be no need to do abyssalcraft

[2016-06-28 04:10] whichonespink44 commented on #797
How so? Won't we still need to do realistic versions of AbyssalCraft biomes?

[2016-06-28 04:10] whichonespink44 commented on #797
_From @topisani on April 6, 2016 16:25_

nonoo, thats the point. We can put vanilla biomes in RTG worlds

[2016-06-28 04:10] whichonespink44 commented on #797
_From @srs-bsns on April 6, 2016 16:38_

![](https://highlatencylife.files.wordpress.com/2011/11/towelie.jpg)

[2016-06-28 04:10] whichonespink44 commented on #797
But they won't have realistic terrain, right? We don't want to put vanilla biomes in RTG worlds if they don't have realistic terrain. Similarly, we don't want AbyssalCraft biomes in RTG worlds if they don't have realistic terrain. Sure, if a new biome-adding mod comes along, it would be great to 'support' it with this BiomeGenBase approach, but it would only a temporary measure until we get around

[2016-06-28 04:10] whichonespink44 commented on #797
_From @topisani on April 6, 2016 16:53_

Im not talking about vanilla, sorry im talking about any biome we havent created support for that uses the vanilla system. this means out of the box support for any mod. And we only have to do realistic versions of the biomes we actually want to use the time to change aesthetically.

[2016-06-28 04:10] whichonespink44 commented on #797
_From @topisani on April 6, 2016 16:59_

I dont think we need to do Realistic versions of all biomes. most smaller mod biomes, like thaumcraft an abyssalcraft work fine in realistic worlds, especially when they also get RTG rivers and lakes, along with the biome smoothing.

[2016-06-28 04:10] whichonespink44 commented on #797
2 questions (probably obvious answers, but just want to make sure)
1. If we wanted to do just one realistic biome for AbyssalCraft, that would be fine, right? The other BGB AbyssalCraft biomes would still generate fine, correct?
2. Would it be possible to add a config option at some stage that allows the user to choose the RTG version of the biome, or the 'vanilla' version of the biome? Maybe as p

[2016-06-28 04:10] whichonespink44 commented on #797
_From @topisani on April 6, 2016 19:35_

1: yes, that is a great thing about this system, we can do biomes as we get to them, theres no need to rush into things
2: Yes, i have planned just that

[2016-06-28 04:10] whichonespink44 commented on #797
_From @topisani on April 6, 2016 20:20_

lol OCD

[2016-06-28 04:10] whichonespink44 commented on #797
I held off for as long as I could!! :smile:

[2016-06-28 04:10] whichonespink44 commented on #797
_From @topisani on April 24, 2016 11:2_

quite a few other biome adding mods have been updated lately, vampirism for one.

[2016-06-28 04:10] whichonespink44 opened #798 "Biome repair issues after porting"
_From @topisani on April 29, 2016 15:57_

I ported some 0.8 changes, which included some changes to the BiomeAnalyzer. This has created a weird problem:
![2016-04-29_17 42 35](https://cloud.githubusercontent.com/assets/3133596/14921627/6d54f862-0e33-11e6-8c9a-36bcb7d1c17c.png)
The small bright spot in the middle is a river biome. They also occur around/in/as beaches ocacionally, and they are somet

[2016-06-28 04:10] whichonespink44 commented on #798
_From @Zeno410 on April 29, 2016 16:49_

I don't think I can get to this soon - I have to finish filling in the decoration rabbit hole, and convert the rivers back to Voronoi noise, and I don't even have a 1.9 dev environment set up yet.

But you could try altering the constant
float beachTop = 64.5f;
to 64f

Not sure about the ocean but there's a similar oceanTop that's set to a half-step

[2016-06-28 04:10] whichonespink44 commented on #798
_From @topisani on May 4, 2016 13:43_

That small spot is extreme hills (no EH inside a 50 block radius)
![2016-05-04_15 39 21](https://cloud.githubusercontent.com/assets/3133596/15015864/81f05620-120e-11e6-9d6c-cab0580a579e.png)
This aparently goes deeper than i thought. Still fairly certain its BiomeRepair related, since thats what i updated that introduced this behaviour, and it only seems to h

[2016-06-28 04:10] whichonespink44 commented on #798
_From @Zeno410 on May 4, 2016 17:59_

Biome repair can go a little farther that 50 - 64, I think, and it can go 64 x and z at once. Two things I can think of: the search might be running in the wrong sequence and sometimes a biome doesn't get set so it uses another biome.

A last possibility is that it's really there. You could try turning biome repair off and seeing what's there for it to work wi

[2016-06-28 04:10] whichonespink44 commented on #798
It wouldn't surprise me if it's actually there - lately I've been using seeds where most biomes can be found within a 2,000-block radius of spawn, and the vanilla generator is definitely capable of placing minuscule patches of biome like that.

[2016-06-28 04:10] whichonespink44 commented on #798
_From @topisani on May 4, 2016 20:11_

They definitely aren't there (tested same seed pre porting), and repair is the only thing that changes the biome array

[2016-06-28 04:10] whichonespink44 commented on #798
_From @topisani on May 7, 2016 13:9_

half of this was rivers not being removed, however it still seems like there are a few issues with biome repair (like the exHills one)

[2016-06-28 04:10] whichonespink44 opened #799 "Stony swamps"
_From @whichonespink44 on June 9, 2016 16:30_

Original report:
http://minecraft.curseforge.com/projects/realistic-terrain-generation?comment=85

![](http://i.imgur.com/7YBeJgU.jpg)

_Copied from original issue: Team-RTG/1.9-Realistic-Terrain-Generation#127_

[2016-06-28 04:10] whichonespink44 commented on #799
_From @topisani on June 20, 2016 0:25_

this is probably just some stupid surfacing mistake

[2016-06-28 04:10] whichonespink44 opened #800 "TODO list for GUI Configs"
_From @srs-bsns on March 26, 2016 11:4_
- [ ] Figure out everything that needs to be done to implement GUI configs.
- [ ] Figure out if anything needs to be done in the GUI classes that would pertain to world-specific configs. (Point of discussion; Plan for future)
- [ ] Make a list of, and check, all config settings for ones that would require Minecraft to be restarted. (Probably not many, if any

[2016-06-28 04:10] whichonespink44 commented on #800
Are the biome configs going to included in this?

I remember Zeno mentioning something about having manually 'reset' some or all of the static variables RTG's using to prevent settings getting carried across worlds unintentionally, but I think you might have that covered already in the 'require Minecraft to be restarted' task.

Re: backporting to 1.7... obviously this would be great to have in 1.7

[2016-06-28 04:10] whichonespink44 commented on #800
_From @srs-bsns on March 26, 2016 12:33_

I hope to be able to add them, if possible, but we still need some discussion on how best to implement some form of persistence for config settings on a per-world basis to prevent changes from possibly damaging worlds that have already been created. I've already got it covered for the situation where one might try to alter settings in a running world.. jus

[2016-06-28 04:10] whichonespink44 commented on #800
Closing this issue in 1.7.10, so just dropping it here for reference as it contains some links that might come in handy.

https://github.com/Team-RTG/Realistic-Terrain-Generation/issues/589

[2016-06-28 04:10] whichonespink44 commented on #800
_From @topisani on April 26, 2016 6:27_

that prefix annoyed me

anyway, the new config system takes care of everything. Making a GUI for it should be extremely simple. still on it srs? or should i do a quick implementation

[2016-06-28 04:11] whichonespink44 opened #801 "Peony Top on Fallen Log = Crash"
_From @whichonespink44 on May 18, 2016 18:1_

Ported from the 1.7.10 repo: https://github.com/Team-RTG/Realistic-Terrain-Generation/issues/716

@cattrfly said:

Crash report: https://github.com/Team-RTG/Realistic-Terrain-Generation/files/271017/crash-2016-05-18_04.21.32-client.txt

_Copied from original issue: Team-RTG/1.9-Realistic-Terrain-Generation#116_

[2016-06-28 04:11] whichonespink44 commented on #801
_From @topisani on May 18, 2016 21:9_

this is probable an issue with the deco not notifying the client of changes when placing blocks. Not entirely sure what to do - i will look into it

[2016-06-28 04:11] whichonespink44 opened #802 "Waterfalls"
_From @whichonespink44 on April 14, 2016 20:52_

https://github.com/Team-RTG/Realistic-Terrain-Generation/issues/295

This was in 1.7.10, but it's probably better suited for 1.9.

_Copied from original issue: Team-RTG/1.9-Realistic-Terrain-Generation#76_

[2016-06-28 04:11] whichonespink44 commented on #802
_From @topisani on April 24, 2016 10:55_

this might be possible with some fancy streams integration

[2016-06-28 04:11] whichonespink44 commented on #802
_From @Zeno410 on April 25, 2016 17:44_

I think waterfalls are something for Streams to do, not RTG.

[2016-06-28 04:11] whichonespink44 opened #803 "TODO: Re-Organise third-party Dependencies (APIs)"
_From @srs-bsns on March 29, 2016 6:23_

We should set up a better dependency chain where we no longer ship third-party APIs with the source. Some mods, such as BoP, which have maven repos, can be added as deps in the gradle build script, so that their APIs are downloaded when setting up a dev environment or building, and therefore don't need to be bundled. This will make our source tree more ligh

[2016-06-28 04:11] whichonespink44 commented on #803
_From @topisani on March 29, 2016 7:23_

git submodules may be an option too, but overall i definately aproove of this

[2016-06-28 04:11] whichonespink44 commented on #803
For mods like Enhanced Biomes, which don't have an API but we still need to access to its world gen (and thus its full source), could we create our own maven repos and just pull it down from there during build?

Personally, I don't think this is a huge concern for the 1.7.10 version... sure, packaging the full EB source in src/api is less than ideal, but it works. Having said that, it does come wi

[2016-06-28 04:11] whichonespink44 commented on #803
_From @topisani on March 29, 2016 9:10_

bop does not work when the source is included in the api folder, but it does work in the libs folder, so it would probably work with maven too

[2016-06-28 04:11] whichonespink44 commented on #803
Including a dev JAR in the libs folder allows you to load the mod locally when testing, but it doesn't allow you to reference code from that mod and compile without errors, does it?

[2016-06-28 04:11] whichonespink44 commented on #803
_From @topisani on March 29, 2016 9:19_

yep it does, i currently include the BOP jar, but not the source in the api folder. That works in every way

[2016-06-28 04:11] whichonespink44 commented on #803
And what about when you remove the BOP jar? Can you still compile?

[2016-06-28 04:11] whichonespink44 commented on #803
_From @topisani on March 29, 2016 9:31_

nope, it is correctly loaded as a dependency

[2016-06-28 04:11] whichonespink44 commented on #803
_From @topisani on March 29, 2016 9:44_

its also in ideas list of dependencies from gradle

[2016-06-28 04:11] whichonespink44 commented on #803
_From @srs-bsns on April 13, 2016 21:7_

@Team-RTG/everyone
Will this even need to be done considering Topisani's additions to RTG2? Do we even need to import APIs anymore?

[2016-06-28 04:11] whichonespink44 commented on #803
_From @topisani on April 13, 2016 21:10_

yeah, we are using BOP from maven, and we will still need that. The maven repo should be added with a different system than directly into build.gradle

[2016-06-28 04:11] whichonespink44 commented on #803
_From @srs-bsns on April 13, 2016 21:14_

Yeah, I'm still thinking on the best way to do that, and also still add the dependencies, and do it all from a central location, so that all we need to do is modify a version string in once place, and everything gets updated.

[2016-06-28 04:11] whichonespink44 opened #804 "WorldFeatures"
_From @topisani on April 6, 2016 7:25_

These will be mainly used for valcanoes for now, but the point is to have add something that is placed like a feature, with access to the distance from the center and such, but instead of directly placing blocks, it will be able to act like a biome, manipulating the terrain and surfacing.

_Copied from original issue: Team-RTG/1.9-Realistic-Terrain-Generatio

[2016-06-28 04:11] whichonespink44 commented on #804
_From @topisani on April 24, 2016 11:9_

this might be the solution to quite a few things, lakes and posibly rivers should be terrainFeatures as well.

[2016-06-28 04:12] whichonespink44 opened #805 "[1.9.4] Crash with BoP"
_From @JCMais on June 9, 2016 0:58_
##### Affected Mod Versions
- Forge: 12.17.0.1954
- RTG: RTG-1.9.4-2.0.0-alpha.5
- BoP: BiomesOPlenty-1.9.4-4.1.0.2025-universal
##### Issue Description:

Crash during initial world loading.
Crash-log: https://gist.github.com/JCMais/ede876013bb190dfbc15f500a29abb60
##### Steps to reproduce the issue: (If it's easily reproducible.)

Enable `B:"Use BOP biome layou

[2016-06-28 04:12] whichonespink44 commented on #805
_From @Zeno410 on June 10, 2016 13:41_

I think this can happen if a biome is assigned to 255.

[2016-06-28 04:12] whichonespink44 commented on #805
_From @Ezoteric on June 10, 2016 14:49_

yeah, bugger we cant enter the world for a dump... which we cant do without nei ? :P

[2016-06-28 04:12] whichonespink44 commented on #805
_From @JCMais on June 10, 2016 14:59_

@Ezoteric there is the [TellMe](http://minecraft.curseforge.com/projects/tellme) mod.

[2016-06-28 04:12] whichonespink44 commented on #805
_From @srs-bsns on June 10, 2016 17:44_

There is an alpha version of Mantle released for 1.9.4 which can be used to dump biome IDs with the config setting `B:"Dump BIOME ID's in log"=true`

[2016-06-28 04:12] whichonespink44 commented on #805
_From @Ezoteric on June 10, 2016 21:0_

i do have mantle but i dont see a config :p

i may check tell me :)

[2016-06-28 04:12] whichonespink44 commented on #805
_From @srs-bsns on June 10, 2016 21:8_

Hrm.. you mean there's no settings in `/config/SlimeKnights/Mantle.cfg`?

[2016-06-28 04:12] whichonespink44 commented on #805
_From @Ezoteric on June 10, 2016 21:10_

i dont have a slimeknight config .... weird maybe older version

[2016-06-28 04:12] whichonespink44 commented on #805
_From @srs-bsns on June 10, 2016 21:34_

Yeah, after looking at the source, it appears they removed the dump features, all the way back in 1.8.9. Oh well.

[2016-06-28 04:12] whichonespink44 commented on #805
_From @Ezoteric on June 10, 2016 21:38_

np :) we still got tellme ;)

[2016-06-28 04:12] whichonespink44 commented on #805
_From @JCMais on June 11, 2016 3:31_

Here is the biome dump: https://gist.github.com/JCMais/7385b1ac1763c49c1a833e6834d5d2f5

No biome with id 255.

[2016-06-28 04:12] whichonespink44 commented on #805
_From @topisani on June 20, 2016 0:15_

the biomeGenerators array looks normal to me on that screenshot. What should be wrong with it?

[2016-06-28 04:12] whichonespink44 commented on #805
_From @JCMais on June 20, 2016 5:34_

@topisani I don't recall exactly where, but it tries to get the biome generator for a BOP biome from that array, but as it's not in there, Null is returned, which causes the original issue.

To be more exact:

https://github.com/Team-RTG/1.9-Realistic-Terrain-Generation/blob/dd61c955083ec06a70f8d08cf57a6162fccea476/src/main/java/teamrtg/rtg/core/world/ChunkPro

[2016-06-28 04:12] whichonespink44 commented on #805
_From @srs-bsns on June 22, 2016 17:33_

Probably related: [MCF #2968](http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=2968)

[2016-06-28 04:12] whichonespink44 opened #806 "Dimension support, with an implementation for RFtools as an example"
_From @topisani on April 1, 2016 21:9_

RTG2 needs to support working across dimensions. This means no static IBlockStates and alike for biomes and other things that could have different configurations across worlds

_Copied from original issue: Team-RTG/1.9-Realistic-Terrain-Generation#46_

[2016-06-28 04:12] whichonespink44 commented on #806
_From @srs-bsns on April 1, 2016 22:27_

This will require a blacklist. RTG has no business in the Nether or the End, or in certain mod-added dimensions like The Deep Dark in ExtraUtilities. People will likely want the ability to add thier own blacklist entries as well.

[2016-06-28 04:12] whichonespink44 commented on #806
_From @topisani on April 1, 2016 22:44_

Im just talking about suporting suporting it. its a whitelist, if it is even a list. it just means we or other mod devs can register a dimension that should have RTG world gen.

[2016-06-28 04:12] whichonespink44 commented on #806
_From @Zeno410 on April 1, 2016 23:23_

I don't think we're going to do it anytime soon, but we should plan for it. At this point just use the idea "if we might want it to change in a dimension, don't use a static or a global".

[2016-06-28 04:12] whichonespink44 commented on #806
Am I right in thinking this would be for things like Mystcraft support and RFTools support, where people might want to create dimensions with RTG terrain?

[2016-06-28 04:14] whichonespink44 commented on #806
From @Zeno410 Yes, you're right.
From @topisani Also some multi world mods/plugins might need it

[2016-06-28 04:14] whichonespink44 opened #807 "Biome layout config option and registry system"
_From @topisani on April 7, 2016 17:59_

make a simple system to choose different biome layouts, like we currently switch to the BOP genlayer stack if avaliable.

_Copied from original issue: Team-RTG/1.9-Realistic-Terrain-Generation#65_

[2016-06-28 04:15] whichonespink44 opened #808 "Crash with Rogulike Dungeons"
_From @MCEventHorizon on May 9, 2016 22:57_

It doesn't happen without RTG so I think it has something to do with this mod.
Crashlog: http://pastebin.com/fCJCgndH

_Copied from original issue: Team-RTG/1.9-Realistic-Terrain-Generation#102_

[2016-06-28 04:15] whichonespink44 commented on #808
_From @topisani on May 11, 2016 9:28_

This is the known biome dictionary bug. No idea whats causing it, but i will investigate.

The duplicate reffers to #78

[2016-06-28 04:43] whichonespink44 commented on #784
It has been done.

:pray: May the old gods and the new gods have mercy on our souls. :pray:

[2016-06-28 04:43] #784 closed, assigned to nobody

[2016-06-28 12:45] whichonespink44 commented on #531
Fixed in 1f1d7f2

![](http://pixel.nymag.com/imgs/daily/vulture/2015/10/20/drake-dance/drake-12.w529.h352.gif)

[2016-06-28 12:45] #531 closed

[2016-06-28 22:45] whichonespink44 commented on #775
Added in 0281f2f

[2016-06-28 22:45] #775 closed, assigned to nobody

[2016-06-30 09:20] whichonespink44 commented on #792
So it might be possible for users to select the vanilla 'Large Biomes' layout, in the same way they can choose the BOP layout? If so, that gets a +1 from me!

[2016-06-30 09:22] whichonespink44 opened #814 "[1.9.4] Vanilla 'Large Biomes' layout option"
sticky note

[2016-06-30 11:55] whichonespink44 commented on #786
@radfast I believe 1f1d7f2 resolved the null biomes issue in v1.0.1 (although we haven't tested all scenarios).

@Zeno410 Could we just use `func_147424_a` as an 'alias' and return RTG's height map? Or would that cause compatibility issues with other mods that need the vanilla height map?

[2016-06-30 11:56] topisani commented on #814
this is super easy, and could be added when we add the layout selector config

[2016-06-30 11:58] topisani commented on #792
yep thats exactly it

[2016-06-30 12:34] Zeno410 commented on #786
I'm pretty sure anything using the height map would do better with the RTG height map.

[2016-06-30 14:19] radfast commented on #786
Thanks very much guys, I'll try it out.

If you override `func_147424_a`, then we can definitely use that, seems like a great solution from our perspective.

[2016-06-30 19:34] srs-bsns commented on #772
I was going to close this, but realised after checking that it is still an issue in the 1.8.9 branches.
How did we fix it in the others but not here?
We REALLY showed a lack of love for 1.8.9 :o

[2016-06-30 22:33] whichonespink44 commented on #772
Yeah, I'm gonna try to re-visit 1.8.9 every so often, doing bits and bobs from the issue tracker when I can.

I had originally wanted to try re-porting it from 1.7.10, but... that's just not going to happen with 1.9.4 in full throttle now. Also, I think the general consensus was that it would be better to backport 1.9.4, but... we're a long way away from a stable 1.9.4 beta if the plan is to port

[2016-06-30 22:38] Oxosorrel commented on #772
1.9.4 ???! That's so old now. 1.10.2 or bust. </sarcasm>

[2016-06-30 22:44] Oxosorrel commented on #772
I dropped my sarcasm tag. However in all seriousness. With 1.10.2 out, I have my doubts that 1.9.4 will ever be called officially "stable".

[2016-06-30 23:54] srs-bsns commented on #772
@whichonespink44

On one hand, with the amount of porting that needs to be done to get the 1.8.9 version up-to-date with all of the changes made to 1.7.10 since Topi updated, it would probably be easier to just re-port from 1.7.10 in it's current state.

On the other hand, even if we got 1.9.4 into a semi-decent state, it's kind of late to back-port now. Too much effort to do and maintain for like

[2016-07-01 00:12] Oxosorrel commented on #772
@srs-bsns would you look at that... I stand corrected. 1.9.4 must have very recently been promoted to recommended. Not but two weeks ago I was begging another Mod author to update 1.9 to 1.9.4, and they were adamant about staying on the recommended version, and I had given up hope on seeing that happen when 1.10 released.

Since RTG will be happy in 1.10.2, then I'm a happy RTG user!.

[2016-07-02 09:35] ghost commented on #759
@whichonespink44
I find the problem. Please see:
Used in Forge Client, single game, verson 1.7.10-1.0.1.
![123](https://cloud.githubusercontent.com/assets/17511838/16539617/441ccb9e-407b-11e6-8fd9-db758eca8278.png)
And you can see this area is extremely unusual.
![123123](https://cloud.githubusercontent.com/assets/17511838/16539621/6dfcacfe-407b-11e6-90a2-5ac4fb98463f.png)

**And I also tried to u

[2016-07-02 09:42] whichonespink44 commented on #759
Please post the entire log file (fml-client-latest.log) and I'll try to reproduce the problem.

[2016-07-02 09:50] ghost commented on #759
@whichonespink44 The trees does not seem to be some ghost blocks ... But the shrub still has the problem. And I will send you the world archive and log file, please wait.
You can see this, it's not normal I think (I will send you this archive):
![123111](https://cloud.githubusercontent.com/assets/17511838/16539705/a5f6db50-407d-11e6-8e25-f54fba559475.png)
**The coordinates are: -213, 51.**

**It s

[2016-07-02 09:59] ghost commented on #759
@whichonespink44
The world archive: https://mega.nz/#!MUBWmRqb!KgBcDI3CeB96dyPg48ZX3QZBXAbFwmgIyRusPSsUqac

The log file (It's too big, I can't upload it to pastebin.com): https://mega.nz/#!QVQGXTDZ!RESLLQMlL8F5bJy5rWHUnOdOdP5jCG9fLoIgx_YuRFE

[2016-07-02 10:02] whichonespink44 commented on #759
Ok, thanks for that stuff.

We'll take a look in a couple hours and see if we can figure out what's going on.

[2016-07-02 10:24] ghost commented on #759
@whichonespink44
What the ... Please see this:
![125123121](https://cloud.githubusercontent.com/assets/17511838/16539849/e329f594-4081-11e6-88b0-c6530c524f83.png)
Is still just archive I send you, and the coordinates are -241, 220.
I only once again load the world ..........

[2016-07-02 10:26] ghost commented on #759
@whichonespink44
After the actual test, **if I am in the client to generate a world, then I'll copy the world to the server,** will also produce the above problems: **The world chasm** ?!

**Even modifying the "level-tyle" to "RTG" is invalid.**

[2016-07-02 10:31] ghost commented on #759
And, RTG does not seem to support the mutil world:
First, generate a normal world.
Second, use the Multiverse plugin to import a already exists RTG world.
Third, **the world chasm**???!!! Almost as above.

This has nothing to do with KCauldron or Thermos, it should be the problem of Mod itself I think.
So I wonder if it's the second time loading the map that will lead to the problem.

---

**I'm s

[2016-07-02 12:34] srs-bsns commented on #759
RTG doesn't work outside of Dim 0.

[2016-07-02 14:58] ghost commented on #759
@srs-bsns @whichonespink44

But RWG, BOP and other Mods are supported.
I don't think we should maverick, support the Thermos and KCauldron not a difficult thing. And the number of 1.7.10 users currently still more and more ( I think many people don't like Microsoft, 1.8, you know ) and Thermos and KCauldron is the best server side. BOP said no longer support 1.7.10, and finally they are updated be

[2016-07-02 15:48] topisani commented on #759
if you are still using 1.7.10, i know the solution to your problem.
start stopping.

yes, everything else is kinda in flux right now, but modders are settling down on 1.9.4 currently, and we too will soon have a usable version out.

its impossible for us to keep maintaining a mod for a version of minecraft that is approaching an age of 3 years, while staying up to date with the newest versions at

[2016-07-02 15:59] whichonespink44 commented on #759
@sourcepowered The log file that you provided is showing that you have a lot of other mods installed in addition to RTG. Please try reproducing this issue with just Forge and RTG installed. And be sure to provide a world seed so we can investigate further. In the meantime, I'm going to close this issue again, as it's almost certainly nothing to do with RTG.

[2016-07-02 15:59] #759 closed

[2016-07-02 16:00] ghost commented on #759
@topisani
Yes, sir, you are right, but there are some big problems:
If quit using Bukkit, choose what server software and it must have PLUGINS function?
Is it really only use mojang's server software with forge?
You know, if there is no plugins, you can not protect the server, to achieve more functionality, such as login(like AuthMe), and Plots(like PlotSquared) and some plugins like WordGuard and

[2016-07-02 16:06] whichonespink44 commented on #759
@AuthMe You're free to use whatever you want... but we're also free to support (or in this case, not support) whatever _we_ want. And currently, the only server platform we support is Forge.

The reason we only support Forge isn't because we don't like Bukkit or Spigot.... it's because we're a small team with a lot of tasks to do. We just don't have the time to support multiple server platforms at

[2016-07-02 16:29] topisani commented on #759
@AuthMe
1. sponge is the plugin system we have chosen to support, because it is very unobtrusive and generally avoids problems like this - no, its not yet perfect, but evidentally, neither are the things discussed here.
2. Otherwise, forge alone could be considered - there are mods like FTB-Utils which allow for land claiming and such, but yes, i am aware these things are all way better supported

[2016-07-03 16:07] OneEyeMaker opened #816 "[1.7.10][RTG-1.0.1] Crashes on creating non-RTG worlds"
Hello.
I found simple and strange bug. If I understand correctly, RTG tries to properly select material for villages in desert biomes.
But there is bug, that crashes the world, if world type **is not** _Realistic_. (I just tried to create simple superflat world).
Also, as I see in code, RTG doesn't handle villages in desert biomes if UBC is installed. (UBC has config option to replace all stone st

[2016-07-03 19:14] srs-bsns commented on #705
If this is the same Issue as the race condition in Forge (#3020) then the fix for it (https://github.com/MinecraftForge/MinecraftForge/pull/3061) may fix this issue, but unfortunately the fix will only be in the latest Forge. Maybe there's a way for us to incorporate the fix in RTG to prevent this?

[2016-07-03 21:23] Zeno410 commented on #705
My take is no, we can't do it. We'd have to hack around in critical MC/Forge operations (the Anvil loader itself, ick)

[2016-07-03 23:08] Jayceena commented on #801
I've experienced this before and found out it was WAILA, not sure if you're still looking into this. removing WAILA allowed me to re-enter the world.

[2016-07-04 01:09] whichonespink44 commented on #801
@Jayceena thanks for the update... we still haven't looked into this properly, but based on the original report, it looks like we need to tweak the rules for fallen tree generation, as they shouldn't be overriding double-tall flowers. (They're currently just checking for flowers, and overriding if it finds one, but it's not taking into account the tall ones.)

[2016-07-04 03:07] srs-bsns commented on #705
Oh well, If we can't, it's not a big deal. I am mostly concerned with moving forward, so hopefully this issue is caused by the same double chunk gen race condition that is causing #686. We atleast shouldn't see this sort of thing in RTG 2._._ and beyond.

[2016-07-04 03:14] Jayceena commented on #801
Yeah for me it happened in vanilla and a waterpool overrode half of a tall grass and the top defaults to peonys and WAILA is just like ummmmm nope

[2016-07-04 12:00] topisani commented on #801
seems the crash is on waila's side then, but this still shouldnt happen in the first place. Any ideas how to fix this?

[2016-07-04 14:45] srs-bsns commented on #801
When a fallen tree is placed by RTG, we should either:
1. Check if we are replacing a 2-tall plant with a log block and remove the plant's top, or
2. Check the block above each log block and if it isn't Blocks.AIR, change it to Blocks.AIR
3. Check for a 2-tall plant in some cleverer way that you can come up with.

Option 1 is the most desirable solution, but there's no way to guarantee proper dete

[2016-07-04 16:33] topisani commented on #801
i dont like option 1 for the reason you specify, it doesnt guarantee anything.

I dont like option 2  for the same reasons you say, i really want it to be possible for these things to be overgrown.

I like the idea of a mushroom, except for this: you cant plant mushrooms on wood in vanilla (right?) and i think we should follow rules like that.

How about making sure the logs are generated before t

[2016-07-04 17:07] whichonespink44 commented on #801
When the new delayed decoration system gets ported, I don't think we'll be able to guarantee order of decorations in that manner. Safest way would be to do a check for air blocks immediately above where the logs get placed - that way we know we're not cutting off any double/triple/etc blocks.

Fallen trees could still be overgrown via decorations that come after them, or if we explicitly decorate

[2016-07-05 10:21] steelshot commented on #816
Yeah, im getting the same crash report, tried to make myself a superflat world for bug testing -> boom crash straight away.

http://pastebin.com/JL0c5yVC

[2016-07-05 12:59] whichonespink44 commented on #816
I'm unable to reproduce this crash.

Using only RTG 1.0.1 and a few utility mods, I can load up a Superflat world just fine.

In fact, RTG has code that unregisters its event handlers if not in an RTG world:

https://github.com/Team-RTG/Realistic-Terrain-Generation/blob/1.7.10-master/src/main/java/rtg/event/EventManagerRTG.java#L87-L96

That's basically saying "hey, if I'm not in an RTG world, the

[2016-07-05 14:56] Zeno410 commented on #816
Not Tinker's by itself, because I use it without trouble.

[2016-07-05 15:09] whichonespink44 commented on #816
We need to test that code linked above to make sure it's getting fired when the world loads.

[2016-07-06 07:01] srs-bsns commented on #816
As I mentioned earlier in chat, I was able to reproduce this crash with RTG and UBC in a superflat world (desert preset).
I'm not sure the event manager is getting properly unregistered with the current design.
I'm been messing about with a fix that seems to work just fine, but I've been getting side-tracked, so I haven't been able to do thorough testing.
I should have a fix ready tomorrow sometim

[2016-07-06 13:22] Sunconure11 opened #817 "A plethora of bugs on 1.7.10"
Not 100% sure if this is related to Thermos, but I will post it here anyways.

http://pastebin.com/yPdT4XD3

This error happened while using a plugin to autogenerate the world.

Also, I'm finding crap like this:

https://www.dropbox.com/s/qri1ni6no7xbbj9/Screenshot%202016-07-06%2009.30.12.png?dl=0

The only workaround is to clear the configs, but then it comes back eventually. (This also happens i

[2016-07-06 16:34] whichonespink44 commented on #817
We don't support thermos/cauldron/craftbukkit/kcauldron so unless you can reproduce these issues in a Forge-only environment, there's not much we can do, sorry.

[2016-07-06 16:36] Sunconure11 commented on #817
The messing up of generation with old/cleared configs can be replicated in a singleplayer environment. I found it on accident when I was prepping for the next release of my modpack while toying around with singleplayer. It is identical to an issue that has been reported on the MCF regarding cobble rivers and such.

[2016-07-06 16:38] srs-bsns commented on #817
This shenanigans, I assume, is probably caused by [ptweaks](http://dev.bukkit.org/bukkit-plugins/ptweaks-remove-all-server-lag/) since it manipulates how chunks are loaded and unloaded

[2016-07-06 16:38] whichonespink44 commented on #817
@Sunconure11 So if I create an RTG world, generate some chunks, and then delete the RTG config folder, I should experience the messed up generation?

[2016-07-06 16:39] Sunconure11 commented on #817
Yes.

[2016-07-06 16:39] srs-bsns commented on #817
Can you reproduce this with just RTG?

[2016-07-06 16:40] Sunconure11 commented on #817
I will try it out.

[2016-07-06 16:46] Sunconure11 commented on #817
Not replicable with only RTG.

The following generation modifying mods are present in my pack (I probably missed one or two):

BiomeTweaker (only using it as an overglorified mod spawner)
Recurrent Complex
Climate Control
Streams
WildCaves3
Fossils and Archaeology
Biomes O' Plenty
Growthcraft
Thaumcraft
Ars Magica 2
COFHCore
Apple Milk Tea 2
Doomlike Dungeons
Roguelike Dungeons
Primitive Mobs
Plan

[2016-07-06 17:12] Sunconure11 commented on #817
This is what the streams dev had to say about an issue with wonky generation like this, too.

"Cobblestone river sections generally mean that certain chunks are not being populated (it's a technical term in worldgen that refers to adding trees, villages etc to 16x16 chunks of terrain) . In the world where this happens, do you see square patches of ground with little vegetation compared to their su

[2016-07-06 17:26] srs-bsns commented on #817
This was already brought up before on MCF [comment #3047](http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=3047). It is unlikely that this is an RTG issue.

That is a vanilla bug. There is an open PR to fix this in Forge, but it will only be applicable to 1.10.2 and onwards, if and when it gets merged. It's un

[2016-07-06 18:28] whichonespink44 commented on #817
Yeah, I'm gonna close this as I wasn't able to reproduce the warped generation from deleting the RTG config folder, and all of that other stuff is almost certainly not being caused by RTG.

@Sunconure11 If you can reproduce any of the issues above with a smaller set of mods, in a Forge-only environment, then we'll re-open this issue. Wish there was more we could do, sorry.

[2016-07-06 18:28] #817 closed, assigned to nobody

[2016-07-09 22:15] srs-bsns commented on #816
Fixed in: #820

[2016-07-11 13:28] whichonespink44 opened #822 "Cactus generates on yellow sand, not on red sand."
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=3097

[2016-07-11 13:28] whichonespink44 opened #823 "RTG doesn't always remove rivers?"
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=3097

[2016-07-11 13:30] whichonespink44 opened #824 "Caves leaving dirt & not removing clay in Mesa"
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=3097

[2016-07-11 13:31] whichonespink44 opened #825 "Desert M shadowing goes deep under the sandstone"
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=3097

[2016-07-12 15:16] Zeno410 commented on #823
No way. That doesn't even look remotely like a leftover river (which creates a strip of inappropriate surfacing). There's just some water where the river would have been, which happens sometimes, duh.

[2016-07-12 15:27] #823 closed, assigned to nobody

[2016-07-12 16:00] topisani commented on #822
i remember looking at this some months ago, its all very weird, cause i think we are sending the correct flag to the WorldGenCactus.

It should be noted cactus can grow on coarse dirt too

[2016-07-12 17:27] srs-bsns commented on #823
Yes, it would look like the image below. The only time I ever saw vanilla rivers not getting removed is when I broke the event that removed them. ;)

![2016-07-06_04 40 48](https://cloud.githubusercontent.com/assets/8453133/16776585/0f0ab55e-4834-11e6-93f1-670bd1c697b8.png)

[2016-07-12 21:04] whichonespink44 commented on #822
Fixed in 9d22243

[2016-07-12 21:04] #822 closed, assigned to nobody

[2016-07-12 21:51] whichonespink44 commented on #705
Should be fixed in 625b591 - closing until it rears its ugly head again.

[2016-07-12 21:51] #705 closed

[2016-07-12 23:30] srs-bsns commented on #705
@chaNcharge
I have not observed this happening once, in hundreds of test worlds created, so I still feel that this is either a mod interaction bug, or possibly https://github.com/MinecraftForge/MinecraftForge/issues/3020, or a combination of both. In any case there isn't anything we can really do about it.

In the case that this really was RTG's fault, then I know exactly where the problem was. It

[2016-07-13 18:28] #792 closed, assigned to nobody

[2016-07-13 18:38] #793 closed, assigned to nobody

[2016-07-13 18:50] whichonespink44 commented on #778
Also requested for the 1.7.10 version:

http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=3102

Links to all mod versions can be found here:

https://www.mediafire.com/folder/gy7va9bth6px9/Minecraft_mod_Flowercraft

[2016-07-13 21:56] whichonespink44 commented on #801
Fixed in 3258d04

[2016-07-13 21:56] #801 closed, assigned to nobody

[2016-07-14 12:11] whichonespink44 commented on #799
I started looking at this today, and it appears to be using the same surface code as Plains and a few other biomes.

Is it just a case of setting a lower minimum Y for the top block part?

[2016-07-14 18:41] whichonespink44 commented on #799
Fixed in 2818720

[2016-07-14 18:41] #799 closed, assigned to nobody

[2016-07-14 20:51] lightning02 opened #832 "Server crash with apparently no reason"
http://pastebin.com/uR1EHdVh
The latest log: https://www.dropbox.com/s/jhwodjyr2jck9ba/2016-07-14-3.log.gz?dl=1

[2016-07-14 21:00] whichonespink44 commented on #832
Hi @lightning02

Sorry, but we don't support Thermos/Cauldron/KCauldron /Craftbukkit/Bukkit/etc.

I'm closing this, but if you can reproduce this crash in a Forge-only environment, we'll re-open and investigate further.

[2016-07-14 21:00] #832 closed, assigned to nobody

[2016-07-14 21:29] srs-bsns commented on #832
@lightning02, This appears to be identical to an issue that we just fixed in our event manager. Try updating to [RTG-1.7.10-1.1.0-snapshot-1](https://github.com/Team-RTG/Realistic-Terrain-Generation/releases/download/v1.7.10-1.1.0-snapshot-1/RTG-1.7.10-1.1.0-snapshot-1.jar)

### Note that this is a SNAPSHOT version, so you should make a back-up of your world before using.

[2016-07-14 21:49] lightning02 commented on #832
Tryng to reproduce on forge would be painful and would take alot of time since this is a random crash, also, Robotia and other Thermos developers are really kind and open, I guess they would not reject further investigation and help other mod developers to fix any possible issue (if asked to them).
@srs-bsns thanks alot to have at least looked into the logs, I really appriciate, I will try this sn

[2016-07-15 17:39] lightning02 opened #833 "Server crash with apparently no reason #832"
I've tryed to use forge server, but beside what I was thinking the results are worst, it crashed more fast.

I've so also tryed to use the snapshot that srs-bsns suggested, but the error seems to be the same and still occur, maybe more frequently?
This is the forge-server crash report: http://pastebin.com/7VX9hWy9
These are latest and fml-latest:
https://www.dropbox.com/s/dvwefkrqs1tu7v0/fml-serve

[2016-07-15 18:04] lightning02 commented on #832
I reopened this at #833

[2016-07-15 18:49] srs-bsns commented on #833
1. That crash report clearly states that the crash has occured with Climate Control, NOT RTG.
2. You are still using an unsupported plugin manager. Though it may not be the plugin manager itself that is causing an issue, it is most likely one of the plugins that you are using. Any plugin that manipulates how chunks are loaded can cause serious issues with the proper operation of Forge mods that al

[2016-07-15 18:49] #833 closed, assigned to nobody

[2016-07-15 19:04] lightning02 commented on #833
what do you mean with unsupported plugin manager?
I had no plugin installed on the forge server o.o

[2016-07-15 19:47] srs-bsns commented on #833
From the crash report:

With the exception of FML and Forge, those platforms are not supported for the reason I stated in my previous post. And, if you aren't using any plugins for those platforms, then why do you even have them installed?

[2016-07-15 21:07] srs-bsns opened #834 "saplingGrowTreeRTG() crashes when WorldChunkManager != RTG"
https://www.dropbox.com/s/wr40a5sdrv8vfly/crash-2016-07-15_22.09.42-server.txt?dl=0

We'll likely need to add in an additional check for that event @ [EventManagerRTG.java#L189](https://github.com/Team-RTG/Realistic-Terrain-Generation/blob/1.7.10-dev/src/main/java/rtg/event/EventManagerRTG.java#L189) where we also...
1. `return` when (WorldChunkManager instanceof WorldChunkManagerRTG) is `false`,

[2016-07-15 21:13] lightning02 commented on #833
I don't know why it say that, this is what I have in the folder;
http://i.imgur.com/u028Swf.png
I used forge to start the server o_o
could it be because the world was originally created on thermos?

[2016-07-15 21:33] srs-bsns commented on #833
Yes. It is likely that the minecraft_server.1.7.10.jar has been altered by Thermos, so Forge is using that altered .jar
I suggest you start from scratch with a plain vanilla server .jar and then use Forge. This should ensure that Thermos is not getting loaded.

[2016-07-16 02:04] topisani commented on #805
this apears to be due to the BOP biomes not being added to `RealisticBiomeGenerator.biomeGenerators` for one reason or another, if one (@whichonespink44) were to take a look at it, they should probably follow the trail that starts [here](https://github.com/topisani/Realistic-Terrain-Generation/blob/c3ddeed3f6a8eda2c61c00fd50a48d523c3daf8a/src/main/java/teamrtg/rtg/core/RTG.java#L62-L62)

[2016-07-16 02:06] topisani commented on #789
fixed by #835! @Lanse505, you will probably be happy to hear that ;)

[2016-07-16 02:07] topisani commented on #808
this one was killed with the whole RBB != BGB thing. Thats ages ago.

[2016-07-16 02:07] #808 closed, assigned to topisani

[2016-07-16 02:08] topisani commented on #798
i have not seen this for a long time, and i am considering it fixed for now. Might be reopened later

[2016-07-16 02:08] #798 closed, assigned to Zeno410

[2016-07-16 02:09] topisani commented on #796
duplicate, closing

[2016-07-16 02:09] #796 closed, assigned to nobody

[2016-07-16 02:11] topisani commented on #790
this will need to be reconfirmed since #835. That PR changes the code that is referenced here A LOT

[2016-07-16 02:11] #790 closed, assigned to nobody

[2016-07-16 07:55] Elix-x commented on #790
It was already fixed...

[2016-07-16 12:12] topisani commented on #790
Oh, well that's great then :)

[2016-07-16 22:24] topisani commented on #805
fixed in #839

[2016-07-16 22:24] #805 closed, assigned to nobody

[2016-07-17 02:08] srs-bsns opened #842 "Faked biomes not adhering to I:"Number of flat bedrock layers""
May possibly be indicitive of some other issue.

[2016-07-17 06:04] OneEyeMaker commented on #816
I tested version 1.1.0-snapshot-1.
Village generation in non-RTG worlds doesn't cause crash. Thank you for it.
But, one problem isn't fixed: RTG replaces **_only_** vanilla stone/cobblestone stuff in villages.
On my modpack I've also UBC installed. And, if I understand correctly, UBC runs _before_ RTG.
Result of that:
http://imgur.com/5RVWmjO
I guess, you should just add another checks (is UBC loa

[2016-07-17 06:16] whichonespink44 commented on #816
RTG no longer replaces village blocks, so that's probably an issue with UBC and should be reported on its forum thread.

To confirm, try removing UBC and loading a **new world** with the **same seed** and flying to the coords in the screenshot you posted. If it looks like a normal desert village, then it's not a bug with RTG.

I'm closing this as the original bug has been fixed, but please report

[2016-07-17 06:16] #816 closed, assigned to nobody

[2016-07-17 07:23] whichonespink44 opened #843 "RTG splash screen when creating new world"
So it's come to my attention that a lot of people are installing RTG, choosing the Default world type, and thinking that **that's** the realistic terrain. Some sort of placebo effect or something? ¯\_(ツ)_/¯

I know this is a problem because of the number of PMs I've gotten about it and the number of mod showcases where the person making the video fails to choose the 'Realistic' world type. The mos

[2016-07-17 12:39] topisani commented on #843
i fully support this. Might find some time for it during the next week. Great idea!

[2016-07-17 12:42] topisani commented on #842
this is intentional. The faked biomes have bedrock as part of what we would call surfacing, and i dont want to also be placing our bedrock in there, as the randomnes would probably be affected quite a bit by that. We could do a bigger workaround, but personally i see very few uses for that config option anyway, and prioritize the simplicity of the faked biome system.

[2016-07-17 12:47] topisani commented on #804
These are theoretically implemented, but still need some work

[2016-07-17 13:29] Lanse505 commented on #789
Sweeeet~

[2016-07-17 14:56] MrAmericanMike opened #844 "RTG errors in log when creating new world with other mods presents"
##### Affected Mod Versions:

RTG-1.9.4-2.0.0-alpha.5
Pam's HarvestCraft 1.9.4c
Chisel-MC1.9.4-0.0.6.33
- Forge version: 12.18.0.2010
- RTG version: 1.9.4-2.0.0-alpha.5
##### Issue Description:

The log goes crazy when trying to create a world. So bad that MultiMC gives up.

http://pastebin.com/fLUy0d4a

Same pack, not using RTG as Worldgen, the pack launchs correctly.

[2016-07-17 15:06] srs-bsns commented on #789
@Lanse505, FYI: The performance issues aren't resolved yet. The attempted solution was a bit hasty.

[2016-07-17 15:09] srs-bsns commented on #844
1.9.4-2.0.0-alpha.5 is old. This issue is already known and is being worked on.

[2016-07-17 15:09] #844 closed, assigned to nobody

[2016-07-17 15:21] MrAmericanMike commented on #844
Thanks.
"Was old" Ii was the newest 1.10.2 I found yesterday when I put the pack together. I just saw there is an Alpha 6 :D

[2016-07-17 20:35] topisani commented on #789
to be fair most of them are, but some locations still set off some recursive decoration loop and slow down everything. Mostly its very playable though

[2016-07-18 00:24] MokahTGS opened #846 "Crash and hang on world gen: Alpha 6 1.10.2"
##### Affected Mod Versions:

BoP
##### Issue Description:

World hangs on creation:

http://pastebin.com/dVjii23E

[2016-07-18 17:24] topisani commented on #846
Yeah seems we havent gotten completely rid of performance issues, this is technically the same issue. We are on it!

Could you provide us with a seed for testing?

[2016-07-19 22:05] whichonespink44 commented on #843
Yet another mod showcase where they use the Default world type:

https://www.youtube.com/watch?v=ZEFsXKcZa2s&t=459

(skip to [7:40](https://www.youtube.com/watch?v=ZEFsXKcZa2s&t=459) for the facepalmz)

![](http://i.imgur.com/iWKad22.jpg)

[2016-07-19 22:24] topisani commented on #843
HAH! we really need this!

[2016-07-20 02:10] whichonespink44 commented on #843
If we wanted to do this quickly, maybe we could make the 'Realistic' world type selected by default when MC loads with RTG installed.

[Edit: Maybe something similar to this? https://github.com/FireBall1725/DefaultWorldGenerator ]

[2016-07-20 13:13] Sasikaa opened #847 "Not generating the NEW WORLD (1.10.2)"
##### Affected Mod Versions:

Mods:
ActuallyAdditions-1.10.2-r51.jar
AgriculturalExpansion[1.9.4][1.10.2]r-1.2.0.jar
AppleCore-mc1.10.2-1.3.5.jar
ArmorPlus1.9.4-4.0.4.0.jar
Aroma1997Core-1.9.4-1.0.7.0.jar
AromaBackup-1.9.4-1.0.1.1.jar
autopackager-1.6.3.jar
Bagginses-1.10-3.0.2a.jar
Baubles-1.9.4-1.2.1.0.jar
BBG-1.9.4-5.0.0.jar
bdlib-1.12.1.4-mc1.10.2.jar
BetterBuildersWands-0.6.5-1.10r138+8595fc7

[2016-07-20 13:17] topisani commented on #847
we are gonna need a full log file for that. put it in a [gist](https://gist.github.com)

[2016-07-21 02:55] t3f opened #850 "Crash on 1.10.2 alpha.6 when creating RTG World"
##### Affected Mod Versions:
- Forge version: 1.10.2 - 12.18.1.2014
- RTG version:  RTG-1.9.4-2.0.0-alpha.6
##### Issue Description:

Crash right during world generation.

https://gist.github.com/t3f/e3a5479db4348062ed9db8518168a729

[2016-07-21 05:31] srs-bsns commented on #850
This is a known issue that is being worked on.

[2016-07-21 05:31] #850 closed, assigned to nobody

[2016-07-22 10:29] StrangeThistle opened #852 "Raw clay? mc1.10.2"
##### Affected Mod Versions:
- Forge version: forge-12.18.1.2018 for Minecraft 1.10.2
- RTG version: RTG-1.9.4-2.0.0-alpha.6
##### Issue Description:

With RTG, bodies of water (rivers, oceans, swamps, etc.) are consistently generating lined almost entirely with stone types with only small amounts of sand (beach biomes have more sand extending under the water) , dirt, and grass (underwater) and ex

[2016-07-22 19:10] viper2g1 opened #853 "Hangs on "Loading World Building Terrain""
##### Affected Mod Versions:
- Forge version: 12.18.1.2014
- RTG version: Alpha 6
##### Issue Description:

Looks like this is a repost but I figured I'd give you my log in case you needed more data.
##### Steps to reproduce the issue: (If it's easily reproducible.)
1. Select RTG generation in options
2. Generate new world
##### Extra Information:
- Minecraft Crash Report: https://gist.github.com/

[2016-07-22 19:24] srs-bsns commented on #853
Yes, this is a known issue that is being worked on. See: #789.
The logs aren't much help at this point, but thanks for taking the time to post them anyways.

[2016-07-22 19:24] #853 closed, assigned to nobody

[2016-07-22 19:30] srs-bsns commented on #852
@StrangeThistle Are you using any other mods that alter world gen? I haven't noticed any problems with clay generation, nor any of the other problems with stone types in bodies of water.

[2016-07-22 22:33] topisani commented on #852
i cant see why clay should be generating. I am not asking it to anywhere in the v2 code. Its definately an issue, and it would be great to do a small fix for it for the next release. Im thinking this could be a way to test worldfeature surfacing, by adding patches of clay to the waterfeatures

[2016-07-22 23:19] StrangeThistle commented on #852
![2016-07-22_18 27 48](https://cloud.githubusercontent.com/assets/8715948/17073543/b94850b8-503f-11e6-9138-97154981b0d8.png)
Here is a screenshot of what I’m seeing (with the 3 newer vanilla stone types disabled in the RTG config) and the mod list for the custom profile I put together in the Curse launcher (for the Mac, if it might matter, Java version 1.8.0.91). I just went in for a screenshot wi

[2016-07-23 00:01] StrangeThistle commented on #852
If we should be expecting the surface under air and the surface under water to generate exactly the same in this version, then this may just be a major departure from the vanilla Minecraft mechanics and not a mod conflict. It still looks unusual to me in a bad way. Vanilla world gen and chunk loading seems significantly faster compared to RTG. Could all the underwater grass be causing a problem, o

[2016-07-23 12:09] topisani commented on #852
RTG 2.0 performance is still an issue, but remember it is still in alpha, and its in alpha for a reason. the surfacing going underwater is a "bug" in the sense that we havent gotten to it yet, RTG 2.0 is a complete rewrite.
Yep, we need clay and sand underwater, not grass and dirt. were workingonit

[2016-07-23 17:56] whichonespink44 commented on #778
Added for 1.7.10 in fad80ce

[2016-07-23 17:57] whichonespink44 commented on #834
Fixed in 1026ee4

[2016-07-23 17:57] #834 closed, assigned to whichonespink44

[2016-07-24 07:29] whichonespink44 commented on #778
Added for 1.8.9 in 2ce33c4

[2016-07-24 13:00] MapperTV opened #858 "[1.10.2] Random exceptions while generating"
##### Affected Mod Versions:
- Forge version: 12.18.1.2011
- RTG version: 2.0.0-alpha6
- BoP: 4.1.0.2052
##### Issue Description:

When generating chunks, randomly throws some errors and close the server (in single player, closes the game itself).
Restarting the server will not necessary crash it again. The map will start generating again until it runs into another crash with the same error. This

[2016-07-24 13:03] srs-bsns commented on #858
Dupe. Related to #789

[2016-07-24 13:03] #858 closed, assigned to nobody

[2016-07-24 20:10] whichonespink44 commented on #825
Fixed in 9ff1ad4

[2016-07-24 20:10] #825 closed, assigned to nobody

[2016-07-25 01:57] Amperthorpe commented on #846
Hey, I am having the same issue in my 1.10.2 modpack.
Seed: 5830979473997003837
Crashlog: https://www.phit.link/files/share/crash-2016-07-24_21.41.18-server.txt
Modpack: http://www.technicpack.net/modpack/principium.876229

[2016-07-25 02:40] WenXin20 opened #860 "Add biome support for the SugiForest mod"
1.9.4- http://minecraft.curseforge.com/projects/sugiforest

[2016-07-25 03:59] WenXin20 opened #861 "Add biome support for the Hot Water mod"
1.9.4- http://minecraft.curseforge.com/projects/hot-water-mod

[2016-07-25 19:19] whichonespink44 opened #863 "Terrain Walls"
So I was testing the latest 1.1.0 build ahead of its release when I spawned in a Forest biome next to a river, with some really high banks. I followed it for a bit, and it deviated from the river and went inland, forming a 'terrain wall' for about a hundred blocks.

I thought it was something specific to 1.1.0, but I tried the same seed in 1.0.1, and it's the same result.

This video shows the ter

[2016-07-25 19:25] srs-bsns commented on #863
Yeah, I haven't seen anything like that since atleast 0.7.0 either.

[2016-07-25 20:10] Zeno410 commented on #863
Looks like a discontinuity in river smoothing. What's the hilly biome?

[2016-07-25 20:31] whichonespink44 commented on #863
It's actually a weird mixture of Plains, Forest, and Forest Hills... even some of the hilly areas are Plains.

[2016-07-25 22:58] whichonespink44 opened #865 "RTG + AntiqueAtlas preventing further decorations"
From a recent PM:

"Recently I became aware of a cross-mod problem between RTG and AntiqueAtlas while working on a modpack. After you activate an atlas,the generation of most trees, flora and rock formations stops. mountains and the first part of the biome that get loaded in still generate, but further leave a blank space like this:"

![](https://s31.postimg.org/jn21k3o5n/2016_07_25_12_22_18.png)

[2016-07-25 23:15] whichonespink44 commented on #843
Added for 1.7.10 in 9e01287

[2016-07-26 07:24] srs-bsns opened #866 "[1.9.4][1.10.2][Alpha.6] ConcurrentModificationException | NullPointerException | Poor performance"
### This issue is a continuation of #789 to address the poor performance and crashing of RTG-1.9.4-2.0.0-alpha.6

If you have experienced a crash while using RTG-1.9.4-2.0.0-alpha.6 (or alpha.5), which has resulted in one of the fallowing...
- **ConcurrentModificationException** (_in combination with **RealisticBiomeGenerator.rDecorate()**_)
- **NullPointerException** (_in combination with **Reali

[2016-07-26 07:25] srs-bsns commented on #789
Please move all discussion about this issue to #866.

[2016-07-26 07:25] #789 closed, assigned to nobody

[2016-07-26 09:45] whichonespink44 commented on #843
Added for 1.10.2 in 9ed1eb0

[2016-07-26 10:06] Revemohl opened #868 "[1.7.10] The new event handling system from 1.1.0 might be a bit CPU-heavy"
After updating to 1.1.0 and getting even worse FPS than the usual on my poor computer (as well as rather frequent lag spikes), I decided to pull VisualVM up and run a CPU sampling. I can't read it too well, but according to what I saw, all the entries that mentioned events went up quite a bit in CPU usage. Going back to 1.0.1 seems to have made things go back to how I'm used to see them (and made

[2016-07-26 11:11] whichonespink44 commented on #868
@Revemohl Thanks for reporting this... do you know how to export the report that you were looking at? It would be incredibly helpful if we could see what you were seeing.

[2016-07-26 11:55] lightning02 opened #869 "client side crash"
http://pastebin.com/X8bCtSWT
This is all the info I have, the crash report :/ from the user that crashed, I guess he was looking around in a village, but not sure, this is the first time it happens btw.
We're using RTG-1.7.10-1.0.1 snapshot actually :o

[2016-07-26 12:20] srs-bsns commented on #869
This issue was fixed. Please update to [RTG-1.7.10-1.1.0](https://github.com/Team-RTG/Realistic-Terrain-Generation/releases/tag/v1.7.10-1.1.0).

[2016-07-26 12:20] #869 closed, assigned to nobody

[2016-07-26 17:27] Sunconure11 opened #870 "Worlds sometimes do not populate biomes properly"
##### Affected Mod Versions:

(Please list other mods and their versions if you feel they are relevant to this issue. i.e. Biomes O' Plenty)
- Forge version: 1614
- RTG version: 1.7.10-1.10
##### Issue Description:

(Please provide screenshots if neccessary/possible. Images can be dragged & dropped into this window.)

https://www.dropbox.com/s/v9vamoj3hpk4f0k/Screenshot%202016-07-26%2013.23.22.png

[2016-07-26 18:44] srs-bsns commented on #870
Can you reproduce this with just RTG? Because I don't recall seeing anything like this with just RTG, nor RTG in a small mod pack.
What biome were you in when that screenshot was taken?
Also, it would be nice to see your `fml-client-latest.log` (you provided `latest.log`, which isn't much help :)

[2016-07-26 18:55] Sunconure11 commented on #870
IIRC, Snowy Coniferous Forest from BoP

[2016-07-26 18:59] Sunconure11 commented on #870
I'll install RTG first to a save, then CC, and BiomeTweaker, and finally, Biomes O' Plenty, to rule out commonly used mods.

Edit 1: Does not happen with RTG alone. but holy shit it is lagging more than normal. I'll try the additive approach and tell you when I find a mod in question that could be causing this.

Edit 2: Here is the log, in the mean time, since it is clear this is related to anothe

[2016-07-26 19:14] Sunconure11 opened #871 "Allow decorators from other mods (such as BoP flowers) to spawn in modded biomes in RTG Worlds"
Just what it says on the tin. Grasses from BoP could spawn in EBXL biomes for instance.

[2016-07-26 20:52] Sunconure11 commented on #870
Also included in there is a save that is having the issue.

[2016-07-27 00:22] Zeno410 commented on #871
Generally I think that should be a decision for the author of the mod doing decoration. Whether they want to decorate a particular biome or some combination via the biome directory, that's their choice.

[2016-07-27 13:46] srs-bsns commented on #870
@Sunconure11
The problem with biome decorations and streams being incomplete (filled in with cobblestone) is a result of something that MagiaNaturalis-1.7.10-0.1.5b is doing.
It is, I believe, halting decoration events, but I don't know for certain because that mod is closed-source, and I don't really want to spend more time on this.

With MagiaNaturalis:
![2016-07-27_07 45 46](https://cloud.githu

[2016-07-27 13:46] #870 closed, assigned to nobody

[2016-07-27 14:03] srs-bsns commented on #871
@Sunconure11
In order for (going by your example) EBXL biomes to be decorated with BoP assets, either BoP's decoration methods would have to be altered (on their end) or, in RTG we _COULD_ override the decorations and do this ourselves, but that would be 1. outside of the scope of RTG, and 2. what Zeno said.

It might seem hypocrtical because we do some biome decorations, but it's mostly custom tr

[2016-07-27 14:03] #871 closed, assigned to nobody

[2016-07-27 14:06] srs-bsns commented on #868
@Revemohl
A VisualVM snapshot, and a fml-client-latest.log would be appreciated.

[2016-07-27 14:28] srs-bsns opened #872 "The new EventManager may not be getting properly registered after being unregistered"
In single-player, if a world is created/loaded and then unloaded (back to the main menu) and then reloaded, the EventManager events (some? all?) appear to not get reregistered. This will result in chunk walls and the river remover not working.

The EventManager logs that it has reregistered the events, however, it only checks a boolean that is set when the registration method executes (yeah, hardl

[2016-07-27 16:48] whichonespink44 commented on #872
@srs-bsns You got a seed for that world? I tested quite a few worlds before releasing 1.1.0 and didn't see stone rivers _or_ chunk walls.

[2016-07-27 17:09] whichonespink44 commented on #872
Yep, this is definitely a thing.  :/

I'll take a look at it tonight.

[2016-07-27 17:40] Sunconure11 commented on #870
For some reason, on a small pack when I was trying the additive approach to get as few mods possible to cause this issue, I started lagging badly on world generation. CPU usage was getting pretty high.

I'm trying to hunt down TrinaryBrain to see if he can fix this before I pull it from my pack.

As for your tweak suggestions, I'll take them in mind. Though I've always had a hard time with the spa

[2016-07-27 17:55] srs-bsns commented on #872
It doesn't matter the seed as it happens upon reload in any world, but lately I've been doing all of my testing with `-3501856892360849268`

Try this:
1. Create and join a new world and don't move.
2. Exit to main menu.
3. Reload the world and fly around away from spawn.

Most times there will be chunk walls in a square shape around the spawn area. If not, fly around a bit more and create some new

[2016-07-27 18:36] whichonespink44 commented on #872
Yeah, I got that when I tested a world before leaving work today. In all of my testing before the release, logging out immediately after joining the world isn't something that I thought to do.

Now that we know what's happening, it should hopefully be pretty straight-forward to fix. (But don't quote me on that! :stuck_out_tongue: )

[2016-07-27 20:29] Sunconure11 commented on #870
I'm not 100% convinced that it is Magia Naturalis, but I have removed it from my pack for now. (I tried to hunt down the dev via normal routes he is supposedly on, and never found him)

Out of curiosity, can you list what mods you removed, aside from Magia Naturalis? I want to look into it, since my computer has to have its motherboard replaced today, so I can have the list for reference.

But see

[2016-07-27 21:22] srs-bsns commented on #870
Once I discovered that it was MagiaNaturalis all mods were re-enabled except for it in order to be sure.

##

It can't be related to #872 at all because all of my testing was done in a new world each time, and #872 will only ever occur upon reloading an old world.

##

There is the possibility that another mod, under different conditions, is also affecting biome decoration events in the same manne

[2016-07-27 21:23] Sunconure11 commented on #870
I see.

[2016-07-28 01:41] Sunconure11 commented on #870
Also, what software did you use to test Stellar Sky? I would like to give a report of such to Abastro if it hogs up CPU usage on 1.10, since we know it hogs up usage on 1.7.10.

[2016-07-28 06:49] srs-bsns commented on #870
I don't know that Stellar Sky has high CPU usage. I didn't test it thoroughly; I just noticed high CPU usage when I performed a quick analysis, but it could have easily been an anomaly.

I used VisualVM, which is a part of the Java JDK distribution.

[2016-07-28 18:17] Crazy-KSK opened #874 "Village generating in the middle of the ocean"
- Minecraft version 1.10.2
- Forge version: 12.18.1.2027
- RTG version: 1.9.4-2.0.0-alpha.6
- Biomes O' Plenty version: 1.9.4-4.1.0.2052

http://i.imgur.com/5Mq28CT.jpg
Seed: -1135270400

[2016-07-28 19:44] srs-bsns commented on #874
I'm assuming something else is modifying worldgen on your end.

This is with only RTG-1.9.4-2.0.0-alpha.6 and BiomesOPlenty-1.9.4-4.1.0.2052 and default configs:
![2016-07-28_15 33 01](https://cloud.githubusercontent.com/assets/8453133/17226716/ba0545cc-54d8-11e6-9687-07f88ce50ab0.png)

You can clearly see (under crosshairs) that the village well is on land and that, AFAIK, is all that is checked

[2016-07-28 19:44] #874 closed, assigned to nobody

[2016-07-29 13:24] Crazy-KSK opened #876 "Heavy Biome fragmentation with BOP"
I hope you don't mind me reporting issues involving BOP even thought RTG is still alpha.
- Minecraft version 1.10.2
- Forge version: 12.18.1.2027
- RTG version: 1.9.4-2.0.0-alpha.6
- Biomes O' Plenty version: 1.9.4-4.1.0.2052
- (no other mods)
- Seed: 1

http://i.imgur.com/hNhUCoH.jpg
there are like 50 little unconnected biome blotches within that village also it seems to have spawned two villages

[2016-07-29 13:35] Crazy-KSK opened #877 "Spruce and birch trees in Jungle"
-  Minecraft version 1.10.2
- Forge version: 12.18.1.2027
- RTG version: 1.9.4-2.0.0-alpha.6
- (no other mods)
- Seed: 1

http://i.imgur.com/SuO3Itz.jpg
Its all jungle or jungle hills
There is also podzol  all over the place

[2016-07-29 13:42] srs-bsns commented on #876
No, I've seen this sort of thing happen with RTG by itself. Double villages, double mineshafts, etc..
This is related to #866.

I'll leave this open for now until it's properly confirmed about the biome mish-mash.

[2016-07-29 13:47] srs-bsns commented on #877
This may also be related #866.
This likely won't be able to be confirmed until we nail down all of the decoration issues causing the performance problems.

[2016-07-29 14:26] Crazy-KSK opened #878 "Jungle M missing its dirt layer"
-  Minecraft version 1.10.2
- Forge version: 12.18.1.2027
- RTG version: 1.9.4-2.0.0-alpha.6
- (no other mods)
- Seed: 1

http://i.imgur.com/lwkSCBO.jpg

[2016-07-29 20:24] WenXin20 opened #882 "1.10.2-RTG Crash w/ Streams Mod"
##### Affected Mod Versions:

Streams Mod and maybe Ore Plants Mod:
http://minecraft.curseforge.com/projects/ore-plants
http://minecraft.curseforge.com/projects/streams
- Forge version: 12.18.1.2026
- RTG version: 2.0.0
##### Issue Description:

Crash while in the world generating new chunks
##### Steps to reproduce the issue: (If it's easily reproducible.)
1. Walk around until streams tries to ge

[2016-07-29 21:52] srs-bsns commented on #882
This looks to be most likely an issue with Streams. You should open an issue in the [Streams Repo](https://github.com/delvr/Streams/issues).
If you open an issue there, please link this issue by adding "**Team-RTG/Realistic-Terrain-Generation#882**" to your post.

Due to the nature of Issue #866, I'll keep this open until I hear back from @delvr

[2016-07-31 10:46] topisani commented on #876
the villages happened when we updated to 1.10, however, since we have stopped doing anything related to structure gen, it has been fixed. The biomes i dont know about, have you tried it with bop only and the same seed?

[2016-08-01 02:09] zack-emmert opened #884 "Exception ticking world"
##### Affected Mod Versions:
- Forge version: Recommended build for 1.10
- RTG version: 2.0.0-alpha6
- BoP version: 4.1.0
- Other mods versions can be found in the log file
##### Issue Description:

Crashes occasionally with an `Exception ticking world` error. Only correlation between crashes seems to be generating new chunks.
##### Steps to reproduce the issue: (If it's easily reproducible.)

Not

[2016-08-01 09:46] srs-bsns commented on #884
Dupe of #866.

[2016-08-01 09:46] #884 closed, assigned to nobody

[2016-08-04 08:40] whichonespink44 commented on #872
Fixed in 1.7.10 & 1.10.2

[2016-08-04 08:40] #872 closed, assigned to nobody

[2016-08-04 08:54] whichonespink44 commented on #877
The podzol is intentional for Jungle biomes, and the trees could be decoration bleeding but haven't tested yet to confirm.

[2016-08-04 08:57] whichonespink44 commented on #868
Going to assume this has been resolved in the 1.1.1 release. We can re-open if that's not the case.

[2016-08-04 08:58] #868 closed, assigned to nobody

[2016-08-04 09:01] whichonespink44 commented on #843
I'll be doing this for the 1.8.9 version this weekend.

[2016-08-04 17:02] Zeno410 commented on #877
_Really_ looks like decoration bleeding. If you look "down" it's almost all jungle trees. So the pic is showing temperate forest trees _next_ to a jungle.

[2016-08-04 20:23] whichonespink44 commented on #877
Yep, definitely decoration bleeding.

@Crazy-KSK Both of the things you observed are intended behaviour. When the biome config system is working again, you will be able to replace the podzol with grass and reduce the amount of decoration bleeding.

[2016-08-04 20:23] #877 closed, assigned to nobody

[2016-08-04 20:24] whichonespink44 commented on #772
Fixed in d497eb6

[2016-08-04 20:24] #772 closed, assigned to whichonespink44

[2016-08-04 20:32] whichonespink44 commented on #779
@topisani I'm gonna be giving 1.8.9 some love this weekend... is this as simple as replacing all instances of `BlockPos` with `MutableBlockPos`? Or is the idea to use MutableBlockPos and its set() method to avoid creating millions of BlockPos objects?

[2016-08-04 22:38] whichonespink44 commented on #843
Added for 1.8.9 in 8ff4d07

[2016-08-04 22:38] #843 closed, assigned to whichonespink44

[2016-08-04 22:47] whichonespink44 commented on #878
Probably some minor surfacing bug. I'll look into it this weekend.

[2016-08-04 22:50] whichonespink44 commented on #783
This is a vanilla/biome-layout thing, so not much we can do.

[2016-08-04 22:50] #783 closed, assigned to nobody

[2016-08-04 23:01] topisani commented on #779
this is really stupid microoptimization in most cases, but ye, the point is to use MutableBlockPos in tight loops, but only in those

[2016-08-04 23:11] whichonespink44 commented on #773
![](http://i.imgur.com/zJhdyM0.png)

Gravel gen seems to be working fine for me in all biomes, including Mushroom Islands.

@MagnusRevang If this is still happening for you, post your `fml-client-latest.log` file and I'll take a look.

[2016-08-04 23:11] #773 closed, assigned to nobody

[2016-08-04 23:15] whichonespink44 commented on #779
Cool... in that case, I think I'll close this issue, but... moving forward, maybe we can all start using MBP instead of BP, replacing occurrences as we come across them.

[2016-08-04 23:15] #779 closed, assigned to nobody

[2016-08-05 18:48] whichonespink44 opened #886 "Add realistic versions of Tech Reborn biomes"
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=3217

[2016-08-05 19:09] srs-bsns commented on #886
I don't think there's anything we need to do here. TechReborn should be able to decorate biomes with their trees without us doing anything, and we probably shouldn't be customising mod added stuff (and possibly crreating balace issues, etc..).

[2016-08-05 21:15] whichonespink44 commented on #886
Good point - I've updated the title to clarify.

RTG has inherent biome support in v2, so this would just involve doing realistic versions of the biomes from TR.

[2016-08-07 23:56] Rated01010010 opened #887 "Where the trees at?"
Here's the Minecraft logger: http://pastebin.com/UmtnBJNT

Minecraft 1.10.2
RTG-1.9.4-2.0.0-alpha.6.jar
Forge 2046

Not having any trees when I choose Biomes O' Plenty world type.

I did edit the config files, http://pastebin.com/dHGapQRR

Will test in other world types while I wait for response.
![2016-08-07_19 48 26](https://cloud.githubusercontent.com/assets/20819163/17466230/fc6a91ee-5cd8-11e6

[2016-08-08 00:07] Rated01010010 commented on #887
Turns out this is a BoP issue.

[2016-08-08 00:07] #887 closed, assigned to nobody

[2016-08-09 12:49] whichonespink44 commented on #774
Added in 7bfcc1a

[2016-08-09 12:49] #774 closed, assigned to nobody

[2016-08-09 12:51] whichonespink44 commented on #782
Closing as this it's quite rare and trying to improve it in 1.7.10/1.8.9 isn't worth the amount of time it would take.

[2016-08-09 12:51] #782 closed, assigned to nobody

[2016-08-10 00:37] WenXin20 opened #889 "Add biome support for Oh, the Places You'll Go"
[Oh, the Places You'll Go Mod](https://minecraft.curseforge.com/projects/oh-the-biomes-youll-2)

[2016-08-10 04:47] srs-bsns commented on #889
RTG is currently be rewritten in a way so that we won't have to add specific support for mod added biomes, it will be more-or-less automatic. However, the rewrite is only in the early stages and progress is currently slow.

[2016-08-10 04:47] srs-bsns commented on #889
RTG is currently be rewritten in a way so that we won't have to add specific support for mod added biomes, it will be more-or-less automatic. However, the rewrite is only in the early stages and progress is currently slow.

[2016-08-10 05:13] whichonespink44 commented on #889
Whilst the re-write will support mod-adding biomes by default, the terrain won't be realistic by default.

[2016-08-10 05:32] WenXin20 commented on #889
Ok, cool, and thanks

[2016-08-12 00:59] whichonespink44 opened #892 "Crystal Cave openings from the Advanced Lightsabers mod not generating"
Original post:
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=3246

Mod:
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2306721-advanced-lightsabers-over-3-5-trillion-unique

Screenshots of what they should look like (Plains and Desert biomes only, I think):

![](http://i.imgur.com/1

[2016-08-12 10:28] whichonespink44 opened #893 "Stronghold config options"
Add config options for distance, count, and spread:

http://minecraft.gamepedia.com/Superflat#Structure_generation_options

[2016-08-12 10:43] topisani commented on #893
didnt velo include it in the world configs thingy?

[2016-08-12 11:00] Dragonfire300 opened #894 "StackOverflowError and freeze in world generation (Pams's Harvestcraft)"
##### Affected Mod Versions:
- Forge version: 12.18.1.2050 (Minecraft 1.10.2)
- RTG version: [1.9.4-2.0.0-alpha.6](https://minecraft.curseforge.com/projects/realistic-terrain-generation/files/2316525)
- Pam's HarvestCraft: [1.9.4-1.10.2b](https://minecraft.curseforge.com/projects/pams-harvestcraft/files/2320919)
##### Issue Description:

With MC and mods listed above MC freezes somtimes when gener

[2016-08-12 13:11] ghost commented on #894
Yepp, looks like RTG has a problem with Pam's harvestcraft. I have a lot of mods. While I also had the problem - being stuck in the "Loading World" screen - it worked after I removed the mod )Pam's Harvestcraft).

[2016-08-12 15:22] whichonespink44 commented on #893
This issue is just for the 1.7.10 & 1.8.9 versions.

[2016-08-12 18:49] srs-bsns commented on #894
Dupe of #866

[2016-08-12 18:49] #894 closed, assigned to nobody

[2016-08-13 10:26] whichonespink44 commented on #893
Added for 1.8.9 in dfdeaa2

[2016-08-14 10:56] DracoScythem opened #895 "Add config option for Mesa / Savanna Plateau clay block"
The idea behind this is the following: For quite every block RTG uses for its terrain there is a config option (shadowing, decoration, even bedrock) - the Hardened / Stained Clay for the Mesa and Savanna Plateau is the only one missing that option (and it should be very simple to implement).
It would probably only benefit a handful of modpacks as most don't have reasonable substitutes, but for tho

[2016-08-14 11:05] whichonespink44 commented on #895
This already exists in the 1.7.10 & 1.8.9 versions:

https://github.com/Team-RTG/Realistic-Terrain-Generation/blob/1.7.10-master/etc/config/RTG/rtg.cfg#L175-L201

It will also soon exist in the 1.9.4/1.10.2 version.

Or, do you mean that there should also be an option to use a different block altogether, other than clay?

[2016-08-14 11:07] DracoScythem commented on #895
What I mean is the block type (currently one is limited to the meta values) - so replacing the clay with another block (so, yes different block altogether) wich would have the condition that all variants of it (representing the vanilla stained clay colors) are only differentiated by their meta value.

[2016-08-14 11:13] whichonespink44 commented on #895
Should be easy enough to do - I'll try to get it in for the next release.

[2016-08-14 11:19] DracoScythem commented on #895
Thanks :grinning:

[2016-08-15 07:10] TheOnlySilverClaw opened #896 "Crash during SaplingGrowEvent."
##### Affected Mod Versions:
- Forge version:  1.8.9 - 11.15.1.1722
- RTG version:  RTG-1.8.9-1.0.0-snapshot-2
- Restricted Saplings: RestrictedSaplings-1.8.9-1.1.0.jar
##### Issue Description:

Server just randomly crashes with exception, see crashlog below.
##### Steps to reproduce the issue: (If it's easily reproducible.)

The server seemed to crash randomly, might have to do something with sap

[2016-08-15 15:34] srs-bsns commented on #896
Uhh.. why is a dead bush triggering a SaplingGrowTreeEvent? WTH Forge.

Need to insert a check for this here, and `return`. Is there more than just a `dead bush` non-sapling that can trigger this event?
https://github.com/Team-RTG/Realistic-Terrain-Generation/blob/1.8.9-dev/src/main/java/rtg/event/EventManagerRTG.java#L269-L270

[2016-08-15 15:49] TheOnlySilverClaw commented on #896
Welll, from the description of Restricted Saplings: "When a sapling is about to grow into a tree (from nature, or from bonemeal, or any source) it first checks the biome.  If the sapling is growing in a biome that does not natively spawn those trees, the growth is blocked, and it is turned into a Dead Bush."

Not sure what exactly the chain of events is in this case,  but maybe that's where that c

[2016-08-15 19:05] whichonespink44 commented on #896
Hmm, I've been unable to reproduce this, bonemealing many combinations of saplings in various biomes, and each time the sapling just turns into a dead bush and drops the sapling that was planted. I even tried bonemealing the dead bush - still no crash.

I'll still put the check in to make sure we're dealing with a proper sapling, so at least the random crash should stop happening.

[2016-08-16 06:51] whichonespink44 commented on #896
Fixed in a6431cf and will be in the next snapshot release.

[2016-08-16 06:51] #896 closed, assigned to whichonespink44

[2016-08-16 09:54] whichonespink44 commented on #895
Added for 1.8.9 in 2464a3d

Here's what the new config options look like: https://github.com/Team-RTG/Realistic-Terrain-Generation/blob/1.8.9-dev/etc/config/RTG/rtg.cfg#L216-L257

[2016-08-16 10:47] DracoScythem commented on #895
Looks perfect, thanks again :smile:

[2016-08-16 17:19] Quizer9O8 opened #899 "RTG 1.7.10/1.8.9: Multiple bugs"
Affected Mod Versions:
- RTG version: 1.1.1
- Biomes O' Plenty (latest version for 1.7.10/1.8.9)
##### Issue Description:
- Bug 1:
  ![2016-08-16_18 12 06](https://cloud.githubusercontent.com/assets/19509275/17708513/a8892eb4-63e5-11e6-9c12-28f433966f50.png)
  BOP's Marsh biome tends to create a massive load of undergrounds lakes which causes your FPS to drop down to 0 when near.
- Bug 2:
  ![2016

[2016-08-16 18:56] srs-bsns commented on #899
It's unlikely this has anything to do with RTG created lakes. BoP has no affect on how RTG generates them and as far as I know we don't do anything special with lakes in BoP biomes. @whichonespink44 would know better than me though.

This is a vanilla bug that has been known for quite a long time.

[2016-08-16 20:22] whichonespink44 commented on #899
The excessive amount of underground lakes is caused by BOP's decorations, so there isn't anything RTG can do about this. Sometimes it's possible for RTG to manually decorate a mod biome itself, but in the case of BOP's Marsh, it would be too complicated because its surface lake generation is coupled with its underground lake generation.

@Quizer9O8 If the Marsh biome is too much of a problem, the

[2016-08-16 20:22] #899 closed, assigned to nobody

[2016-08-20 03:35] mgdgfbhevdyeh commented on #611
What it that?

[2016-08-20 06:25] whichonespink44 opened #906 "PopulateChunkEvent.Populate.EventType.ICE throws exception if event result is denied"
Original post: http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=3272

Crash report: http://pastebin.com/C4j345Rw

When populating the chunk, if the ICE event is cancelled, RTG throws an exception instead of just carrying on:

https://github.com/Team-RTG/Realistic-Terrain-Generation/blob/1.10.2-dev/src/main/jav

[2016-08-20 11:19] canitzp opened #907 "Crash while Generating Volcano and a river from Streams"
I flied through my world and everything worked fine, but then my mc freeze and this crash happened:
http://pastebin.com/hbDztRBA
If you need the log file than say, cause it is to long for pastebin, but one line is maybe interesting:
[13:07:48] [Server thread/ERROR] [FML/]: Exception caught during firing event net.minecraftforge.event.terraingen.ChunkGeneratorEvent$ReplaceBiomeBlocks@6d9dab4e:

[2016-08-20 11:59] whichonespink44 commented on #907
Thanks for reporting this.

Would you be able to upload your log to [Gist](https://gist.github.com/) or [Dropbox](https://www.dropbox.com/) so we can look into it further?

[2016-08-20 12:12] canitzp commented on #907
Here it is: http://canitzp.de/fml-client-latest.log

[2016-08-20 12:23] whichonespink44 opened #908 "Emerald gen not generating properly"
Emerald is now a proper 'ore' in MC/Forge, so it needs to be setup as such. (This is definitely true in 1.10.2, but need to check to see if it's a thing in other version as well).

[2016-08-20 16:04] incognietis opened #909 ""square" terrain"
OK so I loaded up the snapshot release of 1.10.2 WITH Biomes o Plenty and found a very ugly square terrain. I did not test without BOP so I am not sure if it's related to BOP biomes or not, but what I can tell you is that the forest biome that I am floating over in the screenshot appears to be the BOP version of the forest biome. Good Luck!

![2016-08-20_10 52 35](https://cloud.githubusercontent.c

[2016-08-20 16:09] incognietis commented on #909
What I am talking about is the stone patches along the river, but I actually just noticed there is a very obvious straight line biome border where the savanna biome meets the forest biome near the hotbar's leftmost box. You can see how the podzol cuts off while the grass bleeds over a bit into the forest. I'm assuming that once biome bleeding is incorporated that this would probably be fixed, but

[2016-08-20 16:26] srs-bsns commented on #909
This is already known and is currently being addressed. A fix was unavailable for the first snapshot.

[2016-08-20 16:54] whichonespink44 commented on #909
Multiple assignees?!? When did _that_ become a thing?!? :dancer:

[2016-08-20 21:02] dexman545 commented on #906
I have also experienced this crash.

CR: http://pastebin.com/9sFFsx9h

[2016-08-20 21:25] whichonespink44 opened #910 "Add config option to disable the World Type notification screen"
For mod pack makers who have locked down the RTG world type, it would be good to disable it so their users don't get confused since they won't be able to choose the world type anyway.

[2016-08-20 22:06] srs-bsns commented on #910
Or modpack authors could just include `settings.rtg` which would have the same effect.

An alternative strategy would be to add a config option, such as `B:"Display WorldType Screen"` that defaults to `true`. So when a new config is created the WorldType screen will be displayed, and instead of creating `settings.rtg` so that it only displays once, have the method instead change `B:"Display WorldT

[2016-08-20 22:38] whichonespink44 commented on #910
Including settings.rtg wouldn't work as there's a string that gets written inside the file that's user-specific, so even if the file is there, it won't have the user's encoded string thing (I think it writes the profile id in everything prior to 1.10.2, and then in 1.10.2 it writes the username cuz the profile wasn't available anymore (or something like that)).

Could maybe try the writing-to-conf

[2016-08-20 23:19] whichonespink44 commented on #778
Added for 1.9.4 in 4f5b65d

[2016-08-20 23:19] #778 closed, assigned to nobody

[2016-08-21 00:01] whichonespink44 opened #911 "Jungle temples in Forest"
![Imgur](http://i.imgur.com/0YLyNtT.png)

RTG: 1.10.2-4.1.1.2-snapshot-1
seed: 1
Forge: 2069

[2016-08-21 00:15] srs-bsns commented on #910
Is that data actually checked against the user to determine if that screen should be shown? It seems daft to do that since the file will only exist in a single user's client anyways, so there wouldn't be a reason for the mod to check against any user-specific data. I assumed the only check that was made was that the file existed, which is all that would really need to be done. I wonder if @Adubbz

[2016-08-21 05:10] Zygus42 commented on #907
Volcano gen also crashes with other mods that do world gen.
[crash-2016-08-21_01.36.00-server.txt](https://github.com/Team-RTG/Realistic-Terrain-Generation/files/428692/crash-2016-08-21_01.36.00-server.txt)
[crash-2016-08-21_01.12.47-server.txt](https://github.com/Team-RTG/Realistic-Terrain-Generation/files/428693/crash-2016-08-21_01.12.47-server.txt)

[2016-08-21 05:23] Zygus42 opened #912 "1.10.2 appears to no longer do Biomes O Plenty biomes"
1.10.2 appears to no longer do Biomes O Plenty biomes - now only has vanilla biomes.  And there's no option in the config anymore to switch them on.

[2016-08-21 08:47] whichonespink44 commented on #912
To generate BOP biomes in the new snapshots, you will need to install either Climate Control or BiomeTweaker. If you install CC, it should work out of the box. If you install BiomeTweaker, you can use these example scripts to get you up and running quickly:

https://github.com/Team-RTG/Realistic-Terrain-Generation/tree/1.10.2-dev/etc/biometweaker/BiomesOPlenty

[2016-08-21 08:47] #912 closed, assigned to nobody

[2016-08-21 09:13] whichonespink44 commented on #907
Would you guys be able to post your rtg.cfg file as well? The crash seems to suggest a custom volcano block that it doesn't like for some reason.

[2016-08-21 09:18] canitzp commented on #907
Default, I haven't changed it

[2016-08-21 09:21] whichonespink44 commented on #907
Hmm, can you tell me what it has for the "Volcano mix 1 block ID" setting?

[2016-08-21 09:26] canitzp commented on #907
BiomesOPlenty:ashStone

[2016-08-21 09:41] whichonespink44 commented on #907
Thanks, I know what the problem is - it will be fixed in the next snapshot release.

[2016-08-21 10:37] whichonespink44 commented on #907
Fixed in 1bafa89 and will be in the next release.

If you want to get around the crash in the meantime, just set all volcano block config options in rtg.cfg to their default vanilla values:

[code]

[2016-08-21 10:37] #907 closed, assigned to nobody

[2016-08-21 14:37] Zygus42 opened #913 "Incorrect Spawning of Ocean Monuments"
Have found Ocean Monuments with guardians and all spawned in all kinds of biomes - it just hacks a square area out and places the temple in.  This happens even with the config option:
B:"Enable Ocean Monument Modifications"=false

[2016-08-21 14:40] whichonespink44 commented on #913
What version of RTG?

[2016-08-21 14:43] whichonespink44 commented on #913
Also, could you provide your fml-client-latest.log file so we can look into this further?

[2016-08-21 14:49] Zygus42 commented on #913
Nps - done direct

Also, could you provide your fml-client-latest.log file so we can look into this further?

[2016-08-21 14:50] Zygus42 commented on #913
1.10.2 - RTG-1.10.2-4.1.1.2-snapshot-1.

[2016-08-21 15:02] whichonespink44 commented on #908
Fixed in a683eed

[2016-08-21 15:02] #908 closed, assigned to whichonespink44

[2016-08-21 15:04] whichonespink44 opened #915 "Gold gen not generating correctly in Mesa biome variants"
http://minecraft.gamepedia.com/1.10#World_generation_2

[2016-08-21 17:19] whichonespink44 commented on #915
Fixed in 2ff2130

[2016-08-21 17:19] #915 closed, assigned to whichonespink44

[2016-08-21 19:35] whichonespink44 commented on #906
Fixed in f3f85e1

[2016-08-21 19:35] #906 closed, assigned to nobody

[2016-08-22 17:54] taluseve opened #917 "spawning water temples in weird places"
##### Affected Mod Versions: 1.10.2

(Please list other mods and their versions if you feel they are relevant to this issue. i.e. Biomes O' Plenty)
- Forge version:2056
- RTG version:1.10.2
##### Issue Description:

(Please provide screenshots if neccessary/possible. Images can be dragged & dropped into this window.)
##### Steps to reproduce the issue: (If it's easily reproducible.)

1.load rtg
2.

[2016-08-22 17:55] taluseve commented on #917
was excited for this back  but  cant play when those temples are everywhere, nowhere is safe and most temples are found around rivers and forest biomes.

[2016-08-22 18:04] whichonespink44 commented on #917
Dupe of #913 - we're working on this now and will hopefully be releasing the next snapshot tonight.