[2016-08-22 18:04] #917 closed, assigned to nobody

[2016-08-22 18:05] taluseve commented on #917
ty very much for all your hardwork, great mod

[2016-08-22 19:24] taluseve opened #918 "Server hangs when Tough As Nails is installed"
##### Affected Mod Versions:1.10.2

(Please list other mods and their versions if you feel they are relevant to this issue. i.e. Biomes O' Plenty)
- Forge version:2056
- RTG version:1.10.2
##### Issue Description:RTG wont make server startup with tougher than nails mod that BOP made.

(Please provide screenshots if neccessary/possible. Images can be dragged & dropped into this window.)
##### Steps

[2016-08-22 19:25] taluseve commented on #918
togher= tougher than nails, sorry laptop sucks

[2016-08-22 20:02] whichonespink44 commented on #918
Thanks for reporting. Could you post your fml-client-latest.log file please?

[2016-08-22 21:10] whichonespink44 commented on #913
Fixed in a2b70b6

[2016-08-22 21:11] whichonespink44 commented on #917
Fixed in a2b70b6 & new snapshot has been released: https://minecraft.curseforge.com/projects/realistic-terrain-generation/files/2325679

[2016-08-22 21:12] whichonespink44 commented on #911
Fixed in 374c1a5

[2016-08-22 21:12] #911 closed, assigned to nobody

[2016-08-22 21:15] whichonespink44 opened #920 "Surface issues"
I've tried XZ flipping a bunch of stuff, but everything I do seems to make it worse.

This is the only major issue left to resolve, so hopefully between us all we can get to the bottom of it.

[2016-08-22 21:36] whichonespink44 commented on #918
I'm unable to reproduce this problem using the latest snapshot: https://minecraft.curseforge.com/projects/realistic-terrain-generation/files/2325679

@taluseve I'm closing this, but try downloading the latest snapshot linked above, and if you're still experiencing this issue, post your fml-client-latest.log file and I'll re-open this and investigate further.

[2016-08-22 21:36] #918 closed, assigned to nobody

[2016-08-23 00:40] whichonespink44 commented on #910
Added in ed313d4 - just went with the config option to enable/disable.

[2016-08-23 01:19] whichonespink44 commented on #886
TechReborn doesn't add biomes, and I can confirm that rubber trees are growing in the biomes they're allowed to (Swamp, Forest, Jungle). Nothing to do here. :)

[2016-08-23 01:19] #886 closed, assigned to nobody

[2016-08-23 01:45] whichonespink44 commented on #889
Mod: https://mods.curse.com/mc-mods/minecraft/247560-oh-the-biomes-youll-go-3

Biomes: http://biomesyougo.weebly.com/biomes.html

[2016-08-23 12:02] whichonespink44 commented on #860
Added for 1.10.2 in 23c3fb9

[2016-08-23 13:26] whichonespink44 commented on #861
The Hot Spring biome doesn't generate in 1.10.2, so keeping this a 1.9.4 feature request.

[2016-08-23 17:42] Zygus42 commented on #882
I'm now using the latest RTG and Streams and it's working flawlessly.

[2016-08-24 00:16] whichonespink44 opened #923 "Deeper rivers"
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=3297

Not sure what kind of side effects this would have, but someone requested this in the forums, so just posting it here.

[2016-08-24 09:50] whichonespink44 opened #924 "Sapling crash"
http://pastebin.com/24HVwDgU

[2016-08-24 12:59] whichonespink44 commented on #924
Original post: http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=3301

[2016-08-25 16:19] whichonespink44 commented on #909
These are all related to #920 so closing this as dupe.

[2016-08-25 16:19] #909 closed, assigned to Zeno410, whichonespink44

[2016-08-25 17:45] Zygus42 commented on #923
That would be me :)

See below:
Any chance for config settings to make Deep Oceans, Oceans and maybe even rivers deeper ?

Deep Oceans are currently only around 15 to 20 squares deep, which I know is somewhere around the same as vanilla Minecraft, but they could go another 40 deeper and still not hit bedrock, which would allow the construction of some decent underwater bases and such.  _After furt

[2016-08-25 18:36] Zygus42 opened #925 "Config option for Flowing Liquids not working in 1.10.2"
##### Affected Mod Versions:

(Please list other mods and their versions if you feel they are relevant to this issue. i.e. Biomes O' Plenty)
- Forge version:  forge-1.10.2-12.18.1.2071
- RTG version: RTG-1.10.2-4.1.1.2-snapshot-2
##### Issue Description:

I've tried a variety of setting on this, slowly dropping I:"Flowing Water Chance" from 200 down to 20 and I've seen no difference at all in the

[2016-08-25 23:15] Zygus42 opened #926 "Crash with Volcanoes and HarvestCraft/Farseek"
##### Affected Mod Versions:

(Please list other mods and their versions if you feel they are relevant to this issue. i.e. Biomes O' Plenty)
- Forge version: forge-1.10.2-12.18.1.2071
- RTG version: RTG-1.10.2-4.1.1.2-snapshot-2
- Farseek: Farseek-1.9.4-1.1
- Streams: Streams-1.9.4-0.2.1
##### Issue Description:

Have seen a few Volcanoes generated around the world just fine, but this one crashed

[2016-08-25 23:21] whichonespink44 commented on #889
Added in 07703a6

[2016-08-25 23:23] whichonespink44 commented on #920
This also seems to be affecting SurfaceRiverOasis, creating long winding strips of grass in the middle of desert/mesa biomes.

[2016-08-28 17:14] whichonespink44 commented on #926
Here's another crash report that's similar to this:

http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=3328

[2016-08-29 11:40] whichonespink44 commented on #925
Fixed in 3b5ea94 and will be in the next snapshot, scheduled for release tonight.

[2016-08-29 11:40] #925 closed, assigned to nobody

[2016-08-29 12:03] whichonespink44 commented on #926
The good news is that I've added some code in 136f0af that will stop this from crashing... however, the nature of the crash suggests that there's something else at play here, and it might not even have anything to do with volcanoes, Streams **or** HarvestCraft (although I'm a bit suspicious that both crash reports involve volcanoes).

@Zygus42 To help us get to the bottom of this, could you downlo

[2016-08-29 13:52] Ezoteric commented on #923
The deeper ocean will screw up the oil source of railcraft was it ?
Atleast thats what i remember why we had it made less deeper in the past.

Deeper river shouldnt be a problem if you make it like max 15/20 blocks deep i guess

[2016-08-29 15:58] Zygus42 commented on #923
Railcraft is not on 1.10, and not sure it will be.

Make it a config setting, then if you need it to be deeper, you can set it that way.

For Rivers I wasn't really thinking more than 5 to 8 or so deep, but again, could be a setting and people can play with it to get the results they like.

[2016-08-29 16:46] Ezoteric commented on #923
oceans should be doable like the dune height option :)

dunno about rivers

[2016-08-29 16:51] Ezoteric commented on #923
found this setting (  protected final float minOceanFloor; // The lowest Y coord an ocean floor is allowed to be. )
isnt this a config setting already ?

[2016-08-29 17:34] Zygus42 commented on #923
Not that I can find - unless it's called something obscure ?  Wanted a setting in EvilCraft for years and just recently found out it's been there the whole time :)  I just didn't know that the weather controllers were called evil temples.  I don't see any settings for anything to do with Oceans though.

[2016-08-29 21:20] Zygus42 commented on #926
Sorry - can't reproduce the crash.  In those 4 days I put together the final version of my pack to start a new world, so mods got updated, added, taken out and configs got changed.  When I try it now with the same seed, no volcano and no crash - on either snapshot.  Using the crash report I could rebuild the mods folder, but the configs got changed quite a bit and I have no way to roll those back.

[2016-08-29 22:41] whichonespink44 commented on #926
@Zygus42 No worries - we'll try to reproduce it using the suspected mods and see if we can dig a little deeper.

[2016-08-29 23:34] Doom-Walker opened #931 "Add support to Afraid of the dark (1.8.9)"
##### Affected Mod Versions: Afraid of the Dark 1.8.9-1.1.4

(Please list other mods and their versions if you feel they are relevant to this issue. i.e. Biomes O' Plenty)
- Forge version: forge-1.8.9-11.15.1.1902-1.8.9-universal
- RTG version: RTG-1.8.9-1.0.0-snapshot-2
##### Issue Description: when on world type realism Afraid of the Dark Biomes do not generate.  I recenty made a 1.8.9 modpack w

[2016-08-30 00:37] whichonespink44 commented on #781
Duplicate of #931

[2016-08-30 00:37] #781 closed, assigned to nobody

[2016-08-30 00:38] whichonespink44 commented on #931
The next time we work on 1.8.9, we'll definitely add support for Afraid of the Dark.

[2016-08-30 00:40] Doom-Walker commented on #931
thank you i appreciate that! keep up the goodwork! :+1:

[2016-08-31 20:34] SeriousCreeper opened #932 "[1.10.2] Crash while exploring, possibly due to Recurrent Complex?"
##### Affected Mod Versions:
- Forge version: 12.18.1.2076
- RTG version: 4.1.1.2-snapshot-4
##### Issue Description:

Flying around, generating new chunks, eventually causes a crash.
##### Extra Information:

Crashlog: http://pastebin.com/6iwvfzgx
Little bit of my fml-client-latest before the crash, seems like it's trying to gen recurrent complex structure?
http://pastebin.com/QUvDanBp

Let me kn

[2016-08-31 21:39] srs-bsns commented on #932
No, the crash report shows that RTG is trying to generate a desert temple but is getting a null return on the biome at the event coordinates. We've seen this before, but the cause isn't yet known.

[2016-08-31 22:15] whichonespink44 opened #933 "Ravines don't cut through stained clay"
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=3348

I think this is more of an issue with the way the surfacing is done in Mesa biomes, but worth a look either way.

[2016-09-01 00:24] srs-bsns commented on #933
I was going to try to reproduce it before opening an issue here, but oh well. :P

[2016-09-01 10:07] srs-bsns commented on #933
After examination of the the chunks, it appears that this is the x/z flipping issue (#920), so closing this.

Proof:
![2016-09-01_05 47 17](https://cloud.githubusercontent.com/assets/8453133/18163693/40f49c9e-700a-11e6-963b-a70a95f2d563.png)
![2016-09-01_06 00 36](https://cloud.githubusercontent.com/assets/8453133/18163694/43088798-700a-11e6-8459-16ee74ae690d.png)

[2016-09-01 10:07] #933 closed, assigned to nobody

[2016-09-01 16:25] srs-bsns opened #934 "Villages... EVERYWHERE..."
RTG is not adhering to biome restrictions when generating villages, so villages end up generating in Ocean/Deep Ocean, and on beaches, etc..

Only tagged for 1.10.2, but may affect olther versions of RTG.

![2016-08-31_09 54 47](https://cloud.githubusercontent.com/assets/8453133/18175386/1c956e16-703f-11e6-85bf-d46030888dfc.png)

[2016-09-01 22:35] whichonespink44 commented on #934
This will be fixed in the next snapshot for 1.10.2, but we'll need to test other versions to see if it's happening in those as well... I suspect 1.9.4 will have the same problem at least.

[2016-09-02 02:25] JetstormLP commented on #923
Zygus, CovertJaguar is working on updating Railcraft to 1.10.2 right now. his Patreons have access to the alpha releases right now. So it is being updated but we probably won't see an available version to the public for another month or so at least.

[2016-09-02 06:31] whichonespink44 commented on #923
There's no config setting to make the oceans deeper, and there probably won't be for the reasons mentioned on the forums. However, I think river depth could probably be a thing so I'll take a look at getting it into this weekend's snapshot.

[2016-09-03 11:16] Tencao opened #936 "[1.10.2] - Really weird terrain generation"
- Forge version: - 1.10.2-12.18.1.2073
- RTG version :1.10.2-4.1.1.2-snapshot-4

https://cdn.discordapp.com/attachments/132421212835020801/221416406992945153/unknown.png

This was caused by a new, freshly generated world. Other oddities include some really plain terrain generation that feels like it should have something there, but isn't (As you can also see in the background of the picture). Not

[2016-09-03 11:31] srs-bsns commented on #936
#920

[2016-09-03 11:31] #936 closed, assigned to nobody

[2016-09-05 11:02] lightningo7 commented on #934
1.8.9 does not have this issue.

[2016-09-08 18:56] WenXin20 commented on #780
Just so you know, this mod is for 1.10.2 and 1.9.4 now.

[2016-09-08 19:01] WenXin20 opened #937 "Support for the biome added by the Mithwood Forest Mod"
For 1.10.2: https://minecraft.curseforge.com/projects/rainbeaus-mithwood-forest

[2016-09-10 10:49] ghost commented on #934
I can confirm this for the latest 1.10.2 version, but I like the idea of having a few villages in the ocean. It just looks awkward when the building foundations reach to the ocean floor. Similar problem at mountain sides, but it can also look nice...

Suggestion: Implement rare "simming village", but only if you're able to cut off the foundations. You could also add boats alongside the wood planks

[2016-09-10 18:34] ziadbenaman opened #938 "[feature request] New realistic nether for 1.7.10"
Hello,  It will be great if you make a new realistic verison of the nether with mountains,  bigger lava lakes volcanoes and new nether strongholds and maybe more resources (gold,  iron,  coal...) with a config option to disable it for the players who prefer the old boring nether
It will be better if you make it for 1.7.10 because none of my mods have been updated (not the most important ones)

[2016-09-10 20:01] srs-bsns commented on #938
Nothing about the Nether is realistic. Futhermore, this would require a great deal of work in order to implement as the size of the Nether is different. (maximum world height is only 1/2 that of the Overworld.)

##

Structure generation and ore generation is outside of the scope of RTG. Though we have settings for both now (in the Overworld), they are only to enable/disable them (ores), or to chan

[2016-09-10 20:01] #938 closed, assigned to nobody

[2016-09-10 20:23] ziadbenaman commented on #938
Ok thank you

[2016-09-12 23:34] whichonespink44 commented on #934
Fixed in 51db579 and will be in the next snapshot, scheduled to be released tomorrow (Tuesday) night.

[2016-09-12 23:35] whichonespink44 commented on #937
Added in ce0f923

[2016-09-12 23:35] #937 closed, assigned to whichonespink44

[2016-09-12 23:37] whichonespink44 commented on #926
Closing this since it can't be reproduced. Will re-open if it appears again.

[2016-09-12 23:37] #926 closed, assigned to nobody

[2016-09-12 23:55] whichonespink44 commented on #932
Fixed(ish) in 441c6b0. Whilst the root cause of this issue is still unknown, RTG will no longer crash if MapGenScatteredFeatureRTG receives a null biome.

[2016-09-12 23:55] #932 closed, assigned to nobody

[2016-09-14 11:54] whichonespink44 commented on #780
I've added support for this in the 1.10.2 version (PR #942), but I haven't merged it into dev yet because there's a problem with AR's oceanic biomes. Essentially, they're crashing when trying to generate, and I don't know why:

http://pastebin.com/qquQtyrB

I'll post this in the AR thread on Minecraft Forums and see if @mrmoeman can shed some light on what might be happening.

[2016-09-14 23:52] incognietis opened #946 "Biome Smoothness"
So I remember loading up a beta version of RTG, I think it was for Minecraft 1.9... Anyways, that version had a new feature called Biome Bleeding which made this already awesome mod about 10x as awesome. I'm wondering if that feature is coming back in future releases? The extremely ugly biome transitions that we get in the newer versions of minecraft may be ok when tied with the rest of the vanill

[2016-09-15 01:11] srs-bsns commented on #946
This issue tracker is for bug reports only. Please use our [MFC forum thread](http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes) for discussions, or join us on our [Discord channel](https://discord.gg/0wIG7mz3g6Qynq4E).

The feature you are refering to is a part of the RTG rewrite (RTG2) which has been put on hold for

[2016-09-15 01:11] #946 closed, assigned to nobody

[2016-09-15 16:38] srs-bsns opened #947 "Clay gen seems a bit excessive and replaces grass along rivers"
![2016-09-14_16 30 32](https://cloud.githubusercontent.com/assets/8453133/18558409/005aaf10-7b41-11e6-8fa2-9f0aa310227f.png)

[2016-09-15 16:43] srs-bsns opened #948 "Mineshafts not generating correctly in Mesa (Branch: 1.10.2/flippage)"
This may be due to some flipping still happening that needs to get ironed out, or may be related to a previous flipping fixes that now need to be reversed.

![2016-09-15_11 17 12](https://cloud.githubusercontent.com/assets/8453133/18558617/ce25ea04-7b41-11e6-852f-951be5091fce.png)
![2016-09-15_11 19 01](https://cloud.githubusercontent.com/assets/8453133/18558621/cf6c56f0-7b41-11e6-9212-2d519e3058b

[2016-09-15 18:17] whichonespink44 commented on #948
Mineshafts can generate on the surface in Mesa biomes now:

http://minecraft.gamepedia.com/Abandoned_mineshaft#Generation

I haven't actually seen one in vanilla, but... something tells me they shouldn't look like the ones in those screenshots, so it's probably some flipping causing the weirdness... in fact, it's probably the same flipping that's causing the villages to gen all over the place.

[2016-09-15 19:28] srs-bsns commented on #948
I did not know this. Neat.

This is what I assumed. I assigned you since you were working on that and know where to look and fix it. ;)
To add more info, what you see on the surface in those screenshots is all that exists of the mineshafts; It does not continue underground.

[2016-09-16 22:45] #947 closed, assigned to srs-bsns

[2016-09-17 02:01] ziadbenaman opened #951 "#Forum The problem with beaches"
Hi again,  i installed the mod (Anti-ID Conflict) ,  the game crashed many times (could'nt start the game,)
I removed it,  enabled  debbugging,  after this i started game,  in a new save,  while walking i foud the same thing
Screens :
![2016-09-17_02 12 41](https://cloud.githubusercontent.com/assets/16279077/18605105/cd2eb456-7c80-11e6-808d-711e0aa3342c.png)
![2016-09-17_02 13 30](https://cloud.gi

[2016-09-17 02:02] ziadbenaman commented on #951
Note: sometimes i found very wide beaches with the same style

[2016-09-17 07:42] srs-bsns commented on #951
I'm not seeing any biome ID conflict here that would cause issues with beaches. Enviromine is setting it's cave biome to it's default ID of 23, which is overwriting vanilla's JungleEdge biome, though that is improper, it shouldn't cause anything drastic to happen with beaches.

It is the cause of the crash with AntiID-Conflict. You can change the biome ID in Enviromine's cave dimension config: `co

[2016-09-17 08:53] ziadbenaman commented on #951
Ok thank you

[2016-09-17 19:19] AnvilPuncher opened #953 "Add a biome option to use a default landscape."
Hello,

This is a wonderful mod with beautiful landscapes and there could be little to suggest for improvement.  Yet, some modded biomes are rather bland with RTG's rolling landscapes.  I'm making the suggestion that there be an option to have the more jarring cliff faces and hills so some of the more extreme and unique land generation found in some modded biomes are retained.

Thank you

[2016-09-17 20:53] whichonespink44 commented on #953
This isn't likely to be implemented in this incarnation of RTG... there are already biome configs to use the original biome's decorations and surfaces instead of RTG's decorations and surfaces, but the terrain always needs to be RTG's terrain.

If we ever get around to finishing RTG2 (a total rewrite of RTG), this will be possible, but as it stands now, it is not.

The only thing we could do is to

[2016-09-18 05:37] whichonespink44 opened #955 "Flower stem logs in BOP Shield"
Should be pine logs.

Still trying to figure out how to place BOP log blocks on the correct side.

[2016-09-18 07:00] whichonespink44 commented on #920
Fixed in 075c3f6 - hellz yeah

[2016-09-18 07:00] #920 closed, assigned to nobody

[2016-09-18 07:32] whichonespink44 commented on #948
So I used Lonely Biome set to Mesa to try and find one of these in a default world, and here's what it looks like:

![2016-09-18_08 27 45](https://cloud.githubusercontent.com/assets/10927161/18613823/15602e90-7d7a-11e6-9270-868ffc0f388a.png)

I thought RTG's use of clay might be causing them generate a bit weirdly in RTG worlds, but... looking at the way they generate in default worlds, I don't th

[2016-09-18 07:32] #948 closed, assigned to srs-bsns, whichonespink44

[2016-09-18 08:00] whichonespink44 commented on #780
I've asked for some help from the author of AR:

http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/wip-mods/2501618-the-agricultural-revolution-ver-0-8-7-reinventing?comment=291

Hopefully between us both, we can figure out why those oceanic biomes are crashing.

[2016-09-18 09:13] srs-bsns commented on #948
Uhhh... yeah... ![](https://media.giphy.com/media/jeXiz1RAvzX44/giphy.gif)

If that's what surface Mineshafts are supposed to look like in vanilla, then I'm calling out Mojang on this tomfoolery. Minecart tracks should NEVER be built on sand and should have some kind of solid support underneath.

Furthermore, the design and layout of the structure on the surface shouldn't just match what a minesha

[2016-09-18 09:51] whichonespink44 commented on #948
Yeah, I was actually considering a config option to disable them because... yeah... talk about an eyesore!!

The only cool things about them aesthetically are the exposed entrances... everything else is just a disaster. Shame really - such a cool idea in theory.

I'll probably add a config option before we release 1.10.2-4.1.1.2

[2016-09-18 21:01] WenXin20 opened #956 "WTF's Expedition Mod Support"
##### Issue Description:

I believe the cave biomes mod in the update beta 12 added new sub-biomes.
##### Extra Information:

[-Mod Link](https://minecraft.curseforge.com/projects/wtfs-expedition-cavebiomes-ores-trees-and-tweaks)

[2016-09-18 21:32] whichonespink44 commented on #956
If I'm not mistaken, I think Expedition's sub-biomes already generate in RTG worlds. However, I just tried loading the latest RTG snapshot with the latest Expedition, and I think we may have broken compatibility when we refactored some of our stuff in the latest RTG snapshot.

@WhiskyTangoFox Hope our refactoring doesn't cause you too much grief! :( If there's anything you need in the form of an A

[2016-09-19 07:59] whichonespink44 commented on #956
@WenXin20 WTF just posted an update that fixes this issue:

https://minecraft.curseforge.com/projects/wtfs-expedition-cavebiomes-ores-trees-and-tweaks/files/2331065

I'm closing this, but let us know if you're still experiencing the problem after updating.

[2016-09-19 07:59] #956 closed, assigned to nobody

[2016-09-19 11:43] mrtomwolf opened #957 "Crash on chunk generation"
Updated to RTG 4.1.1.2 snapshot 6 and when I flew around I suddenly got a crash and it crashes for me after a while when I log back in as well. Got some help with the log file and it seems to be a chunk generation issue so I thought I'd send the file to you as well in case it can be of any use.

http://pastebin.com/we7rADnP

[2016-09-19 12:11] WenXin20 commented on #956
Ok

[2016-09-19 12:46] mrtomwolf commented on #957
Also this:

![2016-09-19_14 45 00](https://cloud.githubusercontent.com/assets/15108756/18632455/cffbc658-7e77-11e6-810b-2529beb908aa.png)

[2016-09-19 16:54] whichonespink44 commented on #957
You're experiencing these issues (crash & chunk walls) because in the most recent snapshot we made some fundamental changes under the hood... these snapshots are intended for new worlds only (as indicated in big bold red letters on the release notes).

If you want to confirm this, try loading up a new world with the same seed and fly to the location where the crash occurred. If it crashes again, t

[2016-09-19 16:54] #957 closed, assigned to nobody

[2016-09-19 20:26] DracoScythem commented on #951
I can confirm that this happens with CC and RTG regardless of what Biome-Mods are installed.
Another notable fact is that almost all non-smoothed Biome/Chunk borders I found appeared in conjunction with this.

[2016-09-20 00:39] Corcustos opened #959 "Problems with Tree generation 1.8.9."
##### Affected Mod Versions:

(Please list other mods and their versions if you feel they are relevant to this issue. i.e. Biomes O' Plenty)
- Forge version: forge-1.8.9-11.15.1.1902-1.8.9-universal (Needed for pixelmon beta 9)
- RTG version: RTG-1.8.9-1.0.0-snapshot-2
##### Issue Description:

(Please provide screenshots if neccessary/possible. Images can be dragged & dropped into this window.)

[2016-09-20 02:20] srs-bsns commented on #959
This is an incompatibility with SpongeForge. When SpongeForge is loaded, RTG's biome decoration routines do not run. It is unlikely there is anything we can do about it on our side, and the Sponge team is no longer developing for 1.8.9.

[2016-09-20 02:20] #959 closed, assigned to nobody

[2016-09-20 07:40] whichonespink44 opened #960 "Beaches appearing inland?"
From @JetstormLP :
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=3471

Possible surfacing issues still. http://imgur.com/a/DCzPQ

first image is a strip of beach, second image is beach/gravel beach - might be trying to make a scenic lake? third image the sand and all exposed stone is all beach.

all of them

[2016-09-20 17:24] ziadbenaman commented on #951
Is there any solution for this,  without removing any mod of course ?

Thanks

[2016-09-20 18:40] Zeno410 commented on #951
The crash looks like a missing biome for journeymap and I don't think CC or RTG are involved other than the specific places where the crash happens are CC driven. What's the biome on the hill?

[2016-09-20 20:00] jaz3001 opened #961 "NPE checking biome in BiomeAnalyzer#newRepair"
- Forge version: 12.18.1.2085
- RTG version: 4.1.1.2-snapshot-6

i generated a new world using the RTG world type, walked around for a bit, then crashed
https://gist.github.com/jaz3001/97f99f1a9342263b07b50b4327ed90ed

[2016-09-20 20:23] ziadbenaman commented on #951
The biome is beach

[2016-09-20 20:30] ziadbenaman commented on #951
- the game was not crashing before installing Anti-ID Conflict,  the problem is the beach you see in Screens, i wanted to remove it and make all beaches look natural

[2016-09-20 21:29] srs-bsns commented on #934
oops

[2016-09-20 21:44] srs-bsns commented on #961
@jaz3001 Do you know what biome you were in (and possibly the surrounding biomes at that location) when the crash occured?

Edit: I created a world with the seed from your crash report and travelled to the chunk coordinates from the report and the biome was Roofed Forest, which volcanos do not generate in by default. Are any of the mods that you are running modifying the biome layout?

All other t

[2016-09-20 23:17] WenXin20 opened #962 "NPE w/ Expedition Mod"
##### Affected Mod Versions:

(Please list other mods and their versions if you feel they are relevant to this issue. i.e. Biomes O' Plenty)
- Forge version: 2085
- RTG version: 4.1.1.2 Snapshot 6
- [Expedition Mod](https://minecraft.curseforge.com/projects/wtfs-expedition-cavebiomes-ores-trees-and-tweaks): Beta 12.4
##### Issue Description:

When creating a world, I get a npe without a crash with

[2016-09-20 23:28] srs-bsns commented on #962
Duplicate of #961

We're going to need the full log and the crash report. Please provide that in the other [issue thread](https://github.com/Team-RTG/Realistic-Terrain-Generation/issues/961)

[2016-09-20 23:28] #962 closed, assigned to nobody

[2016-09-21 00:14] WenXin20 opened #963 "Support for biomes added by the Futurepack Mod"
##### Affected Mod Versions:
- Forge version: 1.10.2
##### Issue Description:

Future pack seems to add the biomes Menelaus and Tyros:
[18:33:51] [Client thread/WARN] [FML/RTG]: [RTG-WARN] WARNING! RTG could not find a realistic version of Menelaus (40) from futurepack.common.dim.BiomeMenelaus
[18:33:51] [Client thread/WARN] [FML/RTG]: [RTG-WARN] WARNING! RTG could not find a realistic version of

[2016-09-21 01:08] WenXin20 commented on #961
I think I have a similar issue with the Expedition Mod:
[Latest Log](http://pastebin.com/aKDsuJNn)
[fml-client-latest log](https://gist.github.com/WenXin20/e98b96fead35ba95a91124a4535ce6b3)
It didn't crash though.

[2016-09-21 01:13] jaz3001 commented on #961
no, didn't check what biome it was. i also ended up deleting the world out of frustration so i'll see if it happens on a different world

[2016-09-21 02:09] WenXin20 commented on #961
I found out the same thing is happening with the Terraqueous Mod. It looks like it might be happening with multiple mods. It happens with creating a new world, but doesn't crash for me.
[Log](https://gist.github.com/WenXin20/a2787bbf45ad1f8feae47c42899d5865)

[2016-09-21 05:44] whichonespink44 commented on #963
Those two biomes are from the dimensions that Futurepack adds to the game, so there's no need to add support for those since RTG only deals with Overworld biomes.

However, all other world gen should be working... let us know if that's not the case.

[2016-09-21 05:44] #963 closed, assigned to nobody

[2016-09-21 06:59] WenXin20 commented on #963
Ok, thanks, and world gen looked fine from what I could tell.

[2016-09-21 21:05] AnvilPuncher commented on #953
I am using 1.7.10-1.1.1 and the biomes that I was referring to are from Highlands.  The notable examples were Mesa and Flying Mountains.

Thanks again

[2016-09-21 22:46] whichonespink44 commented on #961
@jaz3001 @WenXin20 Any chance one of you could provide us with an environment with which we can reproduce this crash? For example, if you're using MultiMC, could you Dropbox us the entire instance? Or maybe zip up your config+mods+scripts folders, along with a seed that's crashing? Ideally, the fewer mods the better, but we'll take anything we can get at this point as we're not able to reproduce t

[2016-09-22 02:28] ShneekeyTheLost opened #964 "Unable to disable BoP gem ores"
##### Affected Mod Versions:

(Please list other mods and their versions if you feel they are relevant to this issue. i.e. Biomes O' Plenty)
- Forge version:
- RTG version: 4.1.1.2 - snapshot 7
##### Issue Description:

Biomes O Plenty, starting 1.8 and later, no longer has a config file to disable oregen. Instead it is done through a menu when you create a new world under More Options, and select

[2016-09-22 09:24] srs-bsns commented on #964
BoP's ore generation is done during BoP's biome decoration process. It is outside of the scope of RTG to interfere in the workings of other mods, and I'm not sure there's a non-intrusive way we can do it on our end. This would be best addressed with [BoP](https://github.com/Glitchfiend/BiomesOPlenty/issues)

[2016-09-22 09:24] #964 closed, assigned to nobody

[2016-09-22 17:15] Zeno410 commented on #951
We are looking at why beaches are sometimes left at elevation. No solutions so far (we don't understand how it happens). The crash, from your description, sounds like a conflict between anti-ID conflict and journeymap. Possibly anti-ID conflict is altering IDs and journeymap doesn't  know what's going on. You've got a conflict at 23 at least, so anti-ID has to be altering stuff.

[2016-09-22 18:50] srs-bsns commented on #951
@Zeno410 I already explained the crash. Enviromine, by default, sets it's Cave biome ID to 23 (improper) which causes an obvious conflict with vanilla. This causes Anti-ID Conflict to throw a `BiomesIDConflictException`, which is the typical behavior with a biome ID conflict. This has nothing to do with the beaches, and there isn't any implication of JourneyMap.

[2016-09-22 21:21] WenXin20 commented on #961
Here is my pack and config files:
[Explorer's Pack-1.3.zip](https://github.com/Team-RTG/Realistic-Terrain-Generation/files/488395/Explorer.s.Pack-1.3.zip)

[2016-09-22 21:46] ziadbenaman commented on #951
Is it possible at least to change the stone blocks with sand,  it will look muck better

Thank you guys for your help

[2016-09-23 00:47] Zeno410 commented on #951
That should be doable.

[2016-09-23 02:16] MCJediYoda commented on #961
I just had this same crash

`---- Minecraft Crash Report ----

WARNING: coremods are present:
  ShetiPhian-ASM (shetiphiancore-1.10.0-3.3.1.jar)
  EnderCorePlugin (EnderCore-1.10.2-0.4.1.55-beta.jar)
  FarseekCoreMod (Farseek-1.9.4-1.1.jar)
  LoadingPlugin (ResourceLoader-MC1.9.4-1.5.1.jar)
  LoadingPlugin (ChunkAnimator-MC1.9.4-1.2.jar)
  LoadingHook (Mekanism-1.10.2-9.2.0.292.jar)
  CodeChickenC

[2016-09-23 04:28] whichonespink44 commented on #961
To everyone who has experienced this crash recently, please set **"Enable Debugging"=true** in [rtg.cfg](https://github.com/Team-RTG/Realistic-Terrain-Generation/blob/v1.10.2-4.1.1.2-snapshot-7/etc/config/RTG/rtg.cfg#L76) and use this dev build to get it to crash again: [RTG-1.10.2-4.1.1.2-volcano-dev-test.jar](https://goo.gl/S6v7h8)

If it crashes again, please Pastebin/Dropbox the new crash repo

[2016-09-23 11:14] MCEventHorizon commented on #961
Same crash, I'm also using Biome Tweaker and the Biome I was in was Taiga. I used the RTG-1.10.2-4.1.1.2-volcano-dev-test.jar and enabled debugging:

Crash: http://pastebin.com/P7WaFShQ
fml-client-latest.log: https://www.dropbox.com/s/uml9cdv80vwlwos/fml-client-latest.log?dl=0

[2016-09-23 13:19] whichonespink44 commented on #961
@MCEventHorizon Thanks for supplying the requested info. Are you able to load up that world again after it crashes? Or does it crash every time? If you're able to load it up after it crashes, could you tell me what biome is located at -736 2688?

If you can't load it up again because it crashes every time, can you disable volcanoes in the config and create a new world with the same seed? I know yo

[2016-09-23 14:07] Vardeus commented on #961
This has also occurred in my game. Disabling volcanos allowed me to log back in without anymore crashes.

[2016-09-23 14:10] Vardeus commented on #961
Minutes after my previous post, I encountered another crash. Yay.

[2016-09-23 14:12] Vardeus commented on #961
Sadly, I crashed again a few minutes later.

[2016-09-23 14:12] Vardeus commented on #961
Sadly, I crashed again a few minutes later http://pastebin.com/C0M57Nyd

[2016-09-23 19:17] MCEventHorizon commented on #961
Crashes every time. I opened it up in MCEdit and all I can see around is Taiga biome. Disabled volcanoes and it still crashes in the same and in the new world: http://pastebin.com/DTtEh8cr

[2016-09-23 19:58] whichonespink44 commented on #961
I think we've figured out what's causing these crashes... I'm just building a JAR with the potential fix, so I'll post it here when it's ready.

[2016-09-23 20:19] whichonespink44 commented on #961
We believe this crash is being caused by a biome that's been added to the Overworld, but RTG doesn't have a realistic version of it. Normally our biome patching system handles this by replacing the biome with Plains (or whatever has been set in the configs), but it seems we may have missed some places in the code where biome patching is required.

@MCEventHorizon To confirm this, could you set **"

[2016-09-23 21:25] MCJediYoda commented on #961
I believe I have what you need in my latest client log.  The log was too big for pastebin so I threw it up on one my GitHub wiki pages.

https://github.com/MCJediYoda/Descent-Into-Abyss/wiki/RTG-Volcano-Crash

[2016-09-23 21:39] whichonespink44 commented on #961
Ok everyone, here's a dev JAR that we think might prevent this crash from happening:

[RTG-1.10.2-4.1.1.2-biome-patching-1.jar](https://goo.gl/nXCRQ2)

**WARNING! This should not be used on a world that you care about. Please backup your world before using this dev build. It's meant for testing purposes only.**

However, if our theory is correct, then the root cause of this problem is that another

[2016-09-23 22:00] srs-bsns commented on #961
@MCJediYoda Putting the log file there doesn't preserve the proper line endings and makes the log impossible to read. If the log is too big for pastebin, please use https://gist.github.com/

[2016-09-23 23:37] whichonespink44 commented on #961
We have finally been able to reproduce this crash ourselves, and we can confirm that the new changes to the biome patching system are preventing the crash.

To everyone who has been experiencing this crash... the next version that we release will prevent these crashes from occurring - however - please be aware that you are using a mod that adds a biome to the Overworld that RTG doesn't have a real

[2016-09-24 01:45] whichonespink44 opened #966 "Add biome support for Better Agriculture"
https://minecraft.curseforge.com/projects/better-agriculture

[2016-09-24 04:00] WenXin20 commented on #961
Ok, thanks

[2016-09-24 07:03] MCEventHorizon commented on #961
Here's the log with debugging: https://gist.github.com/MCEventHorizon/ee11ecddb4d6584b2589259d9cb5adb4

[2016-09-24 21:00] whichonespink44 commented on #955
Fixed in cba13e2

[2016-09-24 21:00] #955 closed, assigned to whichonespink44

[2016-09-25 21:23] whichonespink44 commented on #961
Fixed in 7bcdc59

[2016-09-25 21:23] #961 closed, assigned to nobody

[2016-09-26 01:17] aurumvorax opened #969 "Stone Beach issues"
##### Affected Mod Versions:

(Please list other mods and their versions if you feel they are relevant to this issue. i.e. Biomes O' Plenty)
- Forge version:1566
- RTG version:1.7.10-1.01
##### Issue Description:

Stone beaches are covered in snow, and spawn frequently at the edges of warm and hot biomes.  The stone beach biome sometimes also creates a 1-2  block thick layer of ice, this is depend

[2016-09-26 01:20] aurumvorax commented on #969
Additional/Possible fix:  both stone beach and extreme hills generate covered in snow, regardless of height.  I suspect this is the root of the problem, as they have the same temperature rating.

[2016-09-26 01:28] whichonespink44 commented on #969
Is this happening with just RTG installed and no other mods?

If you have other mods installed, please Pastebin/Dropbox your fml-client-latest.log file so we can take a closer look. A screenshot would also be helpful if you have one on-hand - no worries if not, the log file should have most of the info we need.

[2016-09-26 19:13] ghost opened #970 "NULL biome (8) found ..."
##### Affected Mod Versions:
- Forge version: forge-1.10.2-12.18.1.2094-universal
- RTG version: 4.1.1.2-snapshot-8
- BOP version: 5.0.0.2085-universal
##### Issue Description:

Server crashes with error message given below, when Patch Biome ID is set to -1, and starts fine when it's set to 1.

Expected behavior: Server should not crash when Patch Biome ID is set to -1.
##### Steps to reproduce th

[2016-09-26 21:10] whichonespink44 commented on #970
Fixed in 3d77960

@mankra Here's the fixed version if you want to carry on testing: [RTG-1.10.2-4.1.1.2-prerelease-1.jar](https://goo.gl/Hb5tSr)

[2016-09-26 21:10] #970 closed, assigned to nobody

[2016-09-27 03:34] aurumvorax commented on #969
This bug isn't showing up with only RTG installed, as far as I can tell.  Extreme hills get snowy at around y = 85, like normal, stone beaches aren't covered in snow.

I'm beginning to think this is a mod interaction with ClimateControl.  I have used biometweaker to set the stone beach and extreme hills temperature higher(0.4) with no effect.

I'm apparently not generating a logfile, which is new,

[2016-09-27 07:30] whichonespink44 commented on #969
@Haggle1996 @Zeno410

Any ideas why aurumvorax is getting these frozen stone beaches? I checked the REVOLUTION|3 issue tracker and didn't see anything related to stone beaches.

[2016-09-27 15:28] Zeno410 commented on #969
It's another mod, and it's a bug in that mod as snowy stone beaches are wrong everywhere. They should at least be snow-free to the same height Extreme Hills are. Stone beaches snowy _that_ way would be something to avoid sometimes, but would almost never be a problem in RTG.

[2016-09-27 18:13] whichonespink44 commented on #969
@aurumvorax Since this isn't a bug with RTG on its own, I'm gonna close this. Best advice we could give would be to remove mods from the pack one-by-one (or in batches) until the problem stops. If it turns out to be an interaction bug with RTG and another mod, let us know the details and we'll investigate further.

[2016-09-27 18:13] #969 closed, assigned to nobody

[2016-09-27 20:04] whichonespink44 opened #972 "EBXL Leaf Decay Lag"
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=3529

[2016-09-27 23:28] Haggle1996 commented on #969
Sorry, just getting to this.

What you're probably seeing is Haggle1996/RevolutionPack#513, which also has a workaround, but no fix. It shouldn't be related to RTG, just very noticeably on these types of biomes.

[2016-09-29 12:30] whichonespink44 commented on #966
Added in 4d89d01

[2016-09-29 12:30] #966 closed, assigned to nobody

[2016-09-29 21:12] whichonespink44 opened #976 "Swamp Willow leaves don't decay"
I suspect its leaves are getting their DECAYABLE property set to false via metas, but haven't checked the code yet to confirm.

[2016-09-29 21:13] whichonespink44 commented on #976
Also, having just chopped one down, I suspect we'll need to add some log blocks in a few places, or else most of the leaves will decay straight away because there are leaves way further than 5 blocks from a supporting log block.

[2016-09-30 06:59] whichonespink44 commented on #960
OP has been unable to reproduce this using the latest snapshot:

http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=3553

I haven't seen it in my recent testing either, so I'm closing this.

[2016-09-30 06:59] #960 closed, assigned to nobody

[2016-09-30 14:59] whichonespink44 commented on #976
The opposite is actually true here... leaves are decaying immediately for some RTG trees, including but not limited to the Swamp Willow. As a quick fix, I've added something in a2b36e0 which sets the CHECK_DECAY property of all RTG tree leaves to FALSE. Ideally, we should be doing this when we're creating the Deco object in RB classes, but this will do for now.

[Edit: I assume the reason they wer

[2016-09-30 14:59] #976 closed, assigned to nobody

[2016-09-30 20:08] whichonespink44 commented on #780
Added in 90e4817

[2016-09-30 20:08] #780 closed, assigned to nobody

[2016-09-30 23:46] forrester-marc commented on #377
You can remove quicksand from your 1.7.10 world after generation using Progressive World Cleanup https://mods.curse.com/mc-mods/minecraft/246228-progressive-world-cleanup

[2016-10-03 07:55] whichonespink44 opened #981 "Fresh water vs Salt water surfacing"
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=3610

[2016-10-03 08:24] mgdgfbhevdyeh opened #982 "Can you add support for MoreChineseMinecraft MOD's?"
MoreChineseMinecraft is one add biome Mod by chinese player.
MOD post posted:http://www.mcbbs.net/forum.php?mod=viewthread&tid=638080&extra=page%3D1

PS：Non-I works

[2016-10-03 08:25] mgdgfbhevdyeh commented on #982
My English is no good.

[2016-10-03 08:32] shp241 commented on #982
so,I am the author of MoreChineseMinecraft ,if you agree to add my biomes ,Please reply me and I will give you the source.

[2016-10-03 17:50] whichonespink44 commented on #982
@shp241 Please can you provide a link to the mod's JAR file and source code?

Also, is MoreChineseMinecraft only for 1.10.2?

[2016-10-04 06:29] shp241 commented on #982
@whichonespink44 Yes,it is only for 1.10.2(at least now is) and the link to the JAR is  https://minecraft.curseforge.com/projects/morechineseminrcraft/files
and I don't want my mod is open-source(at least now),so can you give me an e-mail address and I will send you the source JAR.

[2016-10-04 08:45] whichonespink44 commented on #982
My email address is whichonespink44@gmail.com

[2016-10-04 09:50] shp241 commented on #982
I have send the letter,use mediafire.

[2016-10-04 12:41] WenXin20 commented on #889
This mod recently had a  update that added the Athura Forest Biome.

[2016-10-04 13:42] whichonespink44 commented on #889
https://mods.curse.com/mc-mods/minecraft/247560-oh-the-biomes-youll-go-3

[2016-10-04 20:53] whichonespink44 opened #986 "Strucutres generating in trees"
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=3618

Biome Tweaker's config files from here: https://github.com/Team-RTG/Realistic-Terrain-Generation/tree/1.10.2-dev/etc/biometweaker/BiomesOPlenty , untouched.
All used mods:
BiomesOPlenty-1.10.2-5.0.0.2086
BiomeTweaker-1.10.2-2.1.225
OptiFine_1.10.2_HD_U_C4_

[2016-10-04 21:02] whichonespink44 commented on #986
I haven't seen this in any of my testing before the release of 4.1.1.2, so not sure what's happening here.

[2016-10-04 21:07] whichonespink44 commented on #986
![](https://cdn.discordapp.com/attachments/168326116761665536/231911704303239168/2016-10-01_15.51.13_2.png)

Looks like village pieces are also getting up there.

[2016-10-04 21:08] lightningo7 commented on #986
Issue of the well is either not in 1.10 or in a snapshot version. Also user had FTB Infinity installed meaning lots of mods that effect generation.

[2016-10-05 03:31] Biochao opened #987 "Forest generation is extreme, Causes tick lag when generating"
- Forge version: 12.18.1.2088
- RTG version: 1.10.2-4.1.1.2

Any type of forest biome (Forest, Birch Forest, Jungle) has extremely dense tree population. During generation this slows the game to a crawl. Unless I'm missing it, I don't see a way in the config to control the tree population.

![2016-10-04_23 02 36](https://cloud.githubusercontent.com/assets/6515654/19100145/3293d5c6-8a8a-11e6-9255-d

[2016-10-05 03:42] srs-bsns commented on #986
Uhh.. since when is FTB Infinity for MC 1.10? In the FTB launcher it's still listed as 1.7.10 only. Is it a Alpha/Beta version he's using?

In any case, he's likely using other mods. In his screenshots, the tree that the dungeon is in doesn't look like any tree that I know of, and I've not seen anything like this before in RTG. You should query him for a full mod list.

[2016-10-05 04:06] srs-bsns commented on #987
We've already addressed a similar tick lag issue with Roofed Forest, but haven't seen it outside of that one biome. That issue is not an RTG issue, but a Forge or vanilla issue that is out of our hands.

Judging by your screenshots, the birch trees look quite dense (possibly too dense for normal RTG decoration). Can you please provide your `fml-client-latest.log`.

[2016-10-05 16:24] Sunconure11 opened #988 "Integration with Ridiculous World might be breaking"
##### Affected Mod Versions:

(Please list other mods and their versions if you feel they are relevant to this issue. i.e. Biomes O' Plenty)

Ridiculous World, version 0.4
- Forge version:

1614
- RTG version:

1.7.10-1.1.1
##### Issue Description:

(Please provide screenshots if neccessary/possible. Images can be dragged & dropped into this window.)

Game will crash if you attempt to step foot in

[2016-10-05 16:34] whichonespink44 commented on #988
The crash reports suggest that it's an issue with the RW biomes, but I'll need to take a proper look to be certain.

[2016-10-05 16:44] Sunconure11 commented on #988
What version of RW is the mod built against?

[2016-10-05 16:56] whichonespink44 commented on #988
0.1

Have these two biomes been added since then? If so, I would expect to see a different crash because RTG won't have realistic versions of them.

Do you have biome patching enabled in the configs?

[2016-10-05 17:13] Sunconure11 commented on #988
1. I have patching enabled, it is set to biome 1 (plains, which is overriden by settings in BoP)
2. These biomes have existed since the first version. All of the biomes as of 0.4 are accounted for by this mod. (Botanical Garden was added in 0.4)
3. There was another crash like this (sometime after I encountered it the first time) that is somehow tied to ore gen from CoFHCore if it is to be believe

[2016-10-05 19:01] whichonespink44 commented on #988
Quick correction from before... RTG has always supported 0.4 - the reason I said 0.1 is because that's the version number string inside the actual RW mod, so even though externally RW is at 0.4, internally it's still at 0.1

The 1st crash report points to something going wrong here: https://github.com/SpitefulFox/RidiculousWorld/blob/master/src/main/java/fox/spiteful/ridiculous/biomes/BiomeGenSpoo

[2016-10-05 19:18] whichonespink44 commented on #986
This has been more or less confirmed to be an issue with Optifine's multithreading and/or chunk generation settings.

The question now is... what do we do about it? Personally, I'd kinda like to take the rigid stance that 'RTG does not support Optifine. Use at your own risk.' and be done with it, but... that's not really keeping in the spirit of RTG's ethos of mod compatibility.

Is it worth looki

[2016-10-05 19:32] srs-bsns commented on #803
Not relevant anymore

[2016-10-05 19:32] #803 closed, assigned to srs-bsns

[2016-10-05 23:02] Corcustos opened #989 "RTG + Chunkgen?"
I'm trying to generate a new world using the chunkgen and RTG mod. It successfully adds data for the chunks that were already generated, but when It gets to new chunks, I get a crash. I was wondering if there was anything that could be done on this end, or if it was a problem with chunkgen itself. I've already contacted the author of chunkgen, and decided it was a good idea to get the input of the

[2016-10-06 00:15] Biochao commented on #987
This is the log after creating a new world and spawning right next to a dense Taiga.
[fml-client-latest.txt](https://github.com/Team-RTG/Realistic-Terrain-Generation/files/512563/fml-client-latest.txt)

![2016-10-05_20 12 37](https://cloud.githubusercontent.com/assets/6515654/19136180/64125e8e-8b38-11e6-9da2-baa436b64a48.png)
![2016-10-05_20 13 21](https://cloud.githubusercontent.com/assets/651565

[2016-10-06 00:20] srs-bsns commented on #988
rand.nextInt(((world.getHeightValue(x, z)>0) ? world.getHeightValue(x, z) : 1) \* 2)

[2016-10-06 00:28] whichonespink44 commented on #987
@Biochao what mod is adding those trees in the screenshots? because they're not RTG trees (most of them anyways)

[2016-10-06 00:34] whichonespink44 commented on #987
I'm guessing Recurrent Complex:

[code]

Not too familiar with RC, but... looks like the spawn frequency for those trees is way too high... maybe try decreasing them to see if that helps.

[2016-10-06 00:38] Biochao commented on #987
Yeah, It looks like Recurrent Complex goes crazy with it's generation on a RTG world. I'll report it to Ivorius.

[2016-10-06 00:41] srs-bsns commented on #987
The only remedy I've found for this situation is to lower your view distance when in the vacinity of dense trees.

I'm not certain of the cause, but it appears to be a possible light level update with leaves. I've not experienced this in a pure vanilla client/server setting, but I have with only Forge loaded with no mods, so it appears to be a Forge issue. We're continuing to investigate this issu

[2016-10-06 06:31] Sunconure11 commented on #988
RW Dev is not convinced it is something on his end. Is there anything I can do to patch it on my end? License appears very permissive so I could get away with a build holding the appropriate fixes. But before I resort to that, is there anything else I can do if I wish to use his mod still?

[2016-10-06 07:59] whichonespink44 commented on #988
@Sunconure11 You could try replacing this:

[code]

with this:

[code]

or you could wrap that line with a try/catch like this:

[code]

If you use the latter approach, it will likely throw lots of console spam, but it would be helpful to see what the values of x & z are when it fails.

Both approaches should prevent the crash, but they're also both quick fixes only and will be looked into properl

[2016-10-06 08:30] whichonespink44 commented on #988
I was able to reproduce this using only RTG + Lonely Biome set to the Candy biome. I also tried Spooky Forest, but that didn't crash for me (although maybe I just didn't fly around long enough).

Now that we can reproduce it, we should be able to figure out what's going on and hopefully either fix it in RTG, or at least provide some additional insight into what's causing the crash.w

@Zeno410 Any

[2016-10-06 09:10] srs-bsns commented on #988
Remedy:
https://github.com/Team-RTG/Realistic-Terrain-Generation/blob/1.7.10-master/src/main/java/rtg/world/gen/ChunkProviderRTG.java#L540-L567

move all functionality of `chunkExists(IChunkProvider, int, int)` to `chunkExists(int, int)` and remove the former.

[2016-10-06 09:48] srs-bsns commented on #988
![1](https://cloud.githubusercontent.com/assets/8453133/19147940/8638f770-8b88-11e6-8450-e32d78ad599c.jpg)

[2016-10-06 11:11] whichonespink44 commented on #988
Cartman!! :)

Does this actually work? I mean, it makes sense, but... did you try it out?

[2016-10-06 11:46] srs-bsns opened #991 "Possibility of a NoSuchMethodError in ChunkProviderRTG"
Upon investigating #988, It appears that between MC 1.7 and 1.10 the interface `net.minecraft.world.chunk.IChunkProvider` has been gutted. Most importantly `IChunkProvider#chunkExists` was removed. The implementation class in vanilla Minecraft (net.minecraft.world.gen.ChunkProviderServer), however, still has this method and it can still be called by the server (by requesting the world's chunk prov

[2016-10-06 11:50] srs-bsns commented on #988
no, it's untested. However, I just matched the functionality of the other method that RTG uses internally. 99% sure there won't be an issue with it.

[2016-10-06 20:19] whichonespink44 commented on #989
@Corcustos would you be able to Pastebin the entire crash report if you still have it? Also, does the crash still happen if you remove ChunkGen?

[2016-10-06 20:31] Corcustos commented on #989
This only happens if I add RTG or Chunkgen and try to generate a new chunk using them. Both mods work fine individually. Together, they do not.

Full crash log:
[http://pastebin.com/GJ4z0X5m](http://pastebin.com/GJ4z0X5m)

[2016-10-06 23:25] whichonespink44 opened #992 "Flat bedrock not working"
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=3653

[2016-10-06 23:31] whichonespink44 commented on #989
@Trevanant Is that the crash-report.txt file that got created in your crash-reports folder? It seems to be missing some key pieces of information.

Also, if it's not too much trouble, could you also post your fml-client-latest.log file via Pastebin/Gist/Dropbox/etc?

(This is likely the same biome patching issue we resolved in 7bcdc59 for 1.10.2)

[2016-10-06 23:41] Corcustos commented on #989
That's the entire latest crash-report.txt from the crash report folder. All I did was copy and paste the contents into pastebin.

Here's my latest fml-server-latest.log as the client log doesn't exist in my folders: [http://pastebin.com/467xwbEc](http://pastebin.com/467xwbEc)

Edit: will there be a fix for 1.8.9?

[2016-10-07 14:09] srs-bsns commented on #992
I noticed this before, some time ago, (I believe in 1.7.10,) that flat bedrock wasn't working in mod-added biomes. @Zeno410 said something about it that explained why it wasn't working, but I can't recall the details of that conversation. I thought that it had been resolved, but maybe it wasn't.

This was before porting 1.7.10 to newer versions of Minecraft.

[2016-10-07 14:34] srs-bsns commented on #981
I thought I had posed this question here, but I guess it must have been on Discord or MCF, so I will pose it here now for posterity:

Since when does Minecraft water have a salinity property that would allow for any kind of differentiation in generation?

[2016-10-08 01:17] Zygus42 opened #993 "1.10.2 ticking world crash"
##### Affected Mod Versions:

(Please list other mods and their versions if you feel they are relevant to this issue. i.e. Biomes O' Plenty)
- Forge version: forge-1.10.2-12.18.1.2088
- RTG version: RTG-1.10.2-4.1.1.2
##### Issue Description:

Ticking World crash.  Once you find a place that crashes, it keeps crashing in the same way at the same place.
##### Steps to reproduce the issue: (If it's

[2016-10-08 03:45] lightningo7 commented on #989
There will eventually be a fix once we figure out what's doing it and once we're working on this version again.

[2016-10-08 07:28] srs-bsns commented on #993
`net.minecraft.util.WeightedRandom#getTotalWeight` is causing an `IllegalArgumentException` in `net.minecraft.util.WeightedRandom#getRandomItem`

`getTotalWeight` returns a summation of the spawn weights of spawnable entities (in this case, `EnumCreatureType.CREATURE`) for a biome, and if the value is _<=0_ it throws the `IllegalArgumentException`, instead of passing a _<=0_ value to `Random`, whi

[2016-10-08 07:28] #993 closed, assigned to nobody

[2016-10-08 09:09] Sunconure11 commented on #988
Any word regarding the fix?

[2016-10-08 14:27] srs-bsns commented on #988
@Sunconure11 -> #990

[2016-10-08 16:59] Sunconure11 commented on #988
I saw, but I mean when do you plan to implement it in a release? Sorry if I shouldn't ask, but I would rather wait for you guys to do something first before I go ahead and do it myself.

[2016-10-09 03:43] Zarepheth opened #995 "MC 1.10.2 Crash, ArrayIndexOutOfBoundsException, SimplexOctave.noise"
##### Affected Mod Versions:

(Please list other mods and their versions if you feel they are relevant to this issue. i.e. Biomes O' Plenty)
- Forge version:
  - forge 1.10.2-12.18.1.2095
- RTG version:
  - RTG-1.10.2-4.1.1.2
- Mods on stack trace:
  - Crystallogy
  - ExNihiloomnia
- Other major mods:
  - Biomes O'Plenty
  - Tinkers Construct
  - Weather 2
- World Seed:
  - 4937635207168846818
- F

[2016-10-09 20:46] Zarepheth commented on #995
After filling out this bug report, I was able to re-enter the game at the point of the crash (give or take few seconds) and continue playing. I suffered another crash an hour or so later. The end point where the crash occurred is the same as the original crash report, but the stack trace is much, much, much longer and includes many more plugins.
- crystallogy
- quark
- harvestcraft
- techreborn
-

[2016-10-10 05:51] whichonespink44 commented on #988
@Sunconure11 Realistically, it probably won't be for another 2 weeks (not this weekend, but the weekend after).

[2016-10-10 13:20] whichonespink44 opened #996 "CME crash"
Original post:
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=3676

Crash report:
http://pastebin.com/YigqDk9V

[2016-10-10 13:24] whichonespink44 commented on #996
If we can't get to the bottom of this one, porting 3c71117 from 1.10.2 should serve as a decent workaround.

[2016-10-11 11:19] lightningo7 commented on #989
Issue should be fixed from the commit mentioned above. Wait for a release on that. Having said that you will have to lower the chunk generation speed in the chunkgen.cfg to 0.5 as going at the normal speed it causes Mojang's watchdog to kick in and time the server out.

[2016-10-11 11:20] #989 closed, assigned to lightningo7

[2016-10-11 12:52] whichonespink44 commented on #989
@Corcustos Just a heads-up... it's probably going to be a week or two before we drop a new 1.8.9 release.

[2016-10-12 12:32] mgdgfbhevdyeh opened #999 "Custom BOP trees in RTG world"
(My English is no good)
If RTG is similar to RWG,BOP tree can be customized In RTG own world, not very good?
（1.10.2)

https://imgur.com/a/8URHH
![bsma08p](https://cloud.githubusercontent.com/assets/20567492/19310069/dc7b02fe-90ba-11e6-8b3b-a51ac10eddde.jpg)
![jjq0hkw](https://cloud.githubusercontent.com/assets/20567492/19310088/f3e1aefc-90ba-11e6-8b17-cad7c0805a63.jpg)

[2016-10-12 13:02] Zygus42 commented on #993
Sorry - I know you closed this, but it happens on our world build when we have RTG-1.10.2-4.1.1.2 installed, but not with what we're currently using which is RTG-1.10.2-4.1.1.2-snapshot-5.  I haven't tried out the snapshots in-between, so I'm not clear on when the problem has been introduced, but it is quite clearly something to do with RTG in some fashion.  I will do some more testing tomorrow an

[2016-10-12 20:56] whichonespink44 commented on #999
@mgdgfbhevdyeh Are you asking if RTG can add different versions of BOP's trees? Or are you asking if RTG can generate RTG trees that use BOP blocks?

[2016-10-13 05:00] mgdgfbhevdyeh commented on #999
@whichonespink44 I asking if RTG can generate RTG trees that use BOP blocks?
（Sorry my English is bad, but I really like RTG）

[2016-10-13 10:24] mgdgfbhevdyeh commented on #999
@whichonespink44  RTG can add different versions of BOP's trees Also OK

[2016-10-15 00:15] AlexHeaps opened #1000 "Server unable to generate world - attempting to reloaded chunk?"
##### Affected Mod Versions:

Biomes O' Plenty - 1.7.10 - 2.1.0.2027
Climate Control - 0.6.Beta59
- Forge version: 1.7.10 - 10.13.4.1614
- RTG version: 1.7.10 - 1.1.1
##### Issue Description:

Server Generation halted by chunk errors.

No Crash, but getting continuous errors along the lines of:

`[13:05:34] [Server thread/WARN] [FML/]: * There is an attempt to load a chunk (-125,-238) in dimension

[2016-10-15 00:16] AlexHeaps commented on #1000
Just want to add, ISSUE #1000 everybody!

[2016-10-15 00:37] whichonespink44 commented on #1000
Not sure if that's a good thing or a bad thing!! ;)

[2016-10-15 01:10] Zarepheth commented on #995
Whatever the problem was, I have not experienced the same error since.

[2016-10-15 01:10] #995 closed, assigned to nobody

[2016-10-15 02:39] AlexHeaps commented on #1000
Worthy of celebration, nonetheless hahaha.

[2016-10-17 12:58] WenXin20 opened #1001 "Biome Support for the Mine World Mod"
This mod adds several new biomes: https://minecraft.curseforge.com/projects/mine-world-mod

[2016-10-17 16:02] Quizer9O8 opened #1002 "Flat Bayou Terrain"
Affected Mod Versions:
RTG1.10.2-4.1.1.2, GeographiCraft-1.9.4-.0.7.4, Biomes O' Plenty-1.10.2-5.0.0.2068
- Forge version:Forge-12.18.2.2105
- RTG version: RTG1.10.2-4.1.1.2

Issue Description:
The terrain for the Bayou seems to be for the most part really flat, shouldnt there be puddles, shallow lakes and more swampy like terrain be there just like the vanilla-counterpart?
![2016-10-14_21 27 23](

[2016-10-17 18:41] AlexHeaps commented on #1000
Hi @whichonespink44, Don't mean to bother you, but is there any update on this issue?

[2016-10-17 21:55] whichonespink44 commented on #1000
@AlexHeaps Sorry, I forgot to label this one so it slipped through the cracks.

At first glance, it seems to be an interaction bug between RTG & Galacticraft's oil gen, but we'll need to reproduce it our my development environment in order to know for sure.

In order for that happen, we're gonna need you to try to reproduce the crash with as few mods as possible. For exampe, try removing all mods

[2016-10-18 01:13] AlexHeaps commented on #1000
Thanks @whichonespink44, I've been playing with it this afternoon. Reset the mods folder and started adding them one by one, and reset the configs.
So far, it's working with Galacticraft and Streams. Will report once I've tested all the mods and see what's actually causing it (well, hopefully)

[2016-10-18 01:51] AlexHeaps commented on #1000
Hello again, small update. I've added a lot of core mods that affect world generation.
Worlds seem to generate fine, but they're taking a hell of a long time due to continuous messages such as:
`Oct 18, 2016 2:47:53 PM climateControl.DimensionManager salvageSpawn
INFO: checking for spawn at 880,464move 12075 ring 55 inRing 195 caches cache: 1, tcache: 16, allocated: 0, tallocated: 0 dimension 0
Oc

[2016-10-21 05:16] Sunconure11 commented on #988
How long do PR Reviews on average usually take around here? I know it has not been exactly two weeks, but I'm curious as to if any news regarding this has been made. I'm kind of antsy regarding this bug as I really wanted to play around with RW and RTG.

[2016-10-21 06:32] whichonespink44 commented on #988
We're planning to release 1.10.2-4.1.1.3 this weekend, along with the first alpha release of Appalachia, so... if all goes according to plan, I'll try to do a 1.7.10 release this weekend as well.

[2016-10-21 06:35] Sunconure11 commented on #988
I see. Sorry if I was bothering you.

[2016-10-21 08:00] whichonespink44 commented on #988
It's all good mate :)

[2016-10-21 12:45] mgdgfbhevdyeh opened #1003 "Realistic Biome support for BOP"
Some BOP terrain looks very unrealistic,so I hope to be able to generate more realistic biome in the RTG world.

[2016-10-21 16:31] srs-bsns commented on #1003
Can you be more specific?

What biome(s) are you talking about?
How is the terrain unrealistic?
Are you really using the RTG WorldType?

[2016-10-21 23:38] mgdgfbhevdyeh commented on #1003
Boreal Forest,Flower Field,Orchard,Seasonal Forest(the terrain and the tree look very untrue.)

[2016-10-21 23:38] mgdgfbhevdyeh commented on #1003
I'm sure I'm using RTG WorldType

[2016-10-22 01:27] srs-bsns opened #1004 "Add a config setting to set tree density during biome decoration"
Apparently some people feel that tree density is too thick in some biomes and would like to be able to reduce the amount of trees generated so forest are more sparse.

[2016-10-22 06:34] whichonespink44 commented on #1004
This should be configurable on a per-biome basis, so I'm thinking a tree density 'multiplier' for each biome should do the trick for now. Something like:

`S:"Tree Density Multiplier"=1.0`

and then in DecoTree we can multiply the local 'loops' variable by that value.

[2016-10-22 07:33] srs-bsns commented on #1004
Yeah, I was thinking something along those lines. We'll need to set reasonable hard-coded upper limits though to prevent extreme values being set, because I can totally see people that don't know how the process works setting ridiculously high values and making the magic smoke leak out of their CPUs.

[2016-10-22 15:33] garantiertnicht opened #1005 "RTG trees replace non-air blocks when growing"
##### Affected Mod Versions:
- Forge version: 12.18.2.2107
- RTG version: 4.1.1.2
##### Issue Description:

RTG Oak Trees will replace Blocks while growing, possibly other trees too.

![2016-10-22_17 26 24](https://cloud.githubusercontent.com/assets/7950273/19620414/30739f14-987d-11e6-9097-2f79894d46a3.png)
![2016-10-22_17 27 43](https://cloud.githubusercontent.com/assets/7950273/19620415/32d9fa82

[2016-10-22 15:33] whichonespink44 commented on #1003
@mgdgfbhevdyeh All of those biomes are using a 'plains' template, so we could maybe try to add some rolling hills in a future version of RTG. The trees that you're seeing are from BOP, but we could maybe add some of RTG's trees in there to add some variety.

I'm closing this issue, but we'll take your feedback into consideration the next time we re-design the BOP biomes.

[2016-10-22 15:33] #1003 closed, assigned to nobody

[2016-10-22 15:37] whichonespink44 commented on #1005
I can confirm that this is definitely an issue with almost every single RTG tree.

Most trees do air checking for the leaves, but none check for air blocks when placing the logs.

My initial thinking is that logs should only check for air blocks when the tree is being generated from a sapling to reduce the extra overhead from world generation.

[2016-10-23 01:23] incognietis commented on #560
So I know this is very old but I came across it and had an idea. What if, and i'm speaking specifically for RTG1, you had a system where biomes that dont blend well with grass biomes could only be bordered by either an ocean or a river? That way you could have massive grass continents separated from desert continents, separated from ice/snow continents. With none of them ever touching. Maybe a con

[2016-10-23 07:59] whichonespink44 commented on #560
That's probably out of scope for RTG, but... that would certainly make for a cool mod!

[2016-10-23 12:53] garantiertnicht commented on #934
I've got a village in Deep Ocean Biome with Forge 12.18.2.2107 and RTG 4.1.1.2 (Default configuration) at 500/-3660 with seed 7689168507588746723

![2016-10-23_14 52 41](https://cloud.githubusercontent.com/assets/7950273/19626366/621714a2-9930-11e6-8b6c-5dbd764e2aa4.png)

[2016-10-23 14:13] whichonespink44 commented on #934
1.10.2 --- After a Discord debugging session @garantiertnicht was able to determine that it was the Java version (1.8.0_25) that was causing the issue. When using Java 1.8.0_74, the issue went away.

[2016-10-23 14:17] whichonespink44 commented on #934
Closing this since we're no longer supporting 1.9.4

[2016-10-23 14:17] #934 closed, assigned to nobody

[2016-10-23 16:17] incognietis commented on #560
Oh my bad, this comment didn't post for me yesterday.. but I guess it did lol. ignore the message I sent you :) and hmm.. I would attempt to build the mod myself, but it would be almost useless without RTG terrain so that's that i guess.

[2016-10-23 19:38] whichonespink44 commented on #560
If you really wanted to make the mod, you could always make it an RTG addon. That's what I'm doing with Appalachia, which is a biome-adding mod made especially for RTG (doesn't even load unless RTG is installed).

I could give you a few pointers for getting your development environment setup if you want - just PM me on the forums or Discord.

[2016-10-24 17:39] seanimusprime opened #1008 "net.minecraftforge.fml.common.MissingModsException: Mod RTG (Realistic Terrain Generation) requires [betteragriculture@[1.0,)]"
I'm getting this error when launching my server after updating to the newest version of RTG.
##### Affected Mod Versions:
- Forge version: 12.18.2.2107
- RTG version: 1.10.2-4.1.1.3
- Better Agriculture version: (MC-1.10)-0.16
##### Issue Description:

I get the error

##### Steps to reproduce the issue:
1. Launch server.
2. Read the log.

[2016-10-24 19:07] srs-bsns commented on #1008
Fixed in f38b4be976eeaabc5ad1cb7dab35a74ebea969fb

[2016-10-24 23:50] Sunconure11 commented on #988
Decided to compile a build with the fix from in the pull request. I have not seen the crash since.

https://www.dropbox.com/s/2qq3zz8hkv3r5g2/RTG-1.7.10-1.1.2-UNOFFICIAL.jar?dl=0

[2016-10-25 02:19] Sunconure11 commented on #988
What is your policy on distributing copies like this? I'm probably going to be using it in my modpack for a bit as I am using Ridiculous World.

[2016-10-25 03:24] srs-bsns commented on #988
It will be released in the next couple of days (likely).

[2016-10-25 07:52] #1008 closed, assigned to nobody

[2016-10-25 23:43] #986 closed, assigned to nobody

[2016-10-25 23:47] whichonespink44 commented on #987
Potentially fixed in https://github.com/Team-RTG/Realistic-Terrain-Generation/pull/1011

Waiting on mod author to confirm before merging.

[2016-10-26 22:27] WaxilliumGlass opened #1012 "Client Crash from Chunk generation, snow layer calculator"
##### Affected Mod Versions:
- Forge version:12.18.2.2109
- RTG version:4.1.1.4
- Pastebin includes mod list
##### Issue Description:

Client Crash when generating new chunks. Crash log seems to indicate that its a problem with RTG figuring out snow layers for BoP's Cold Desert, potentially other snowy biomes. Tested by loading world again and got same crash again on attempt to generate chunks.

C

[2016-10-27 00:09] srs-bsns commented on #1012
https://github.com/Team-RTG/Realistic-Terrain-Generation/blob/1.10.2-dev/src/main/java/rtg/util/SnowHeightCalculator.java#L10

[code]

This needs extra checking to be sure `h` is locked into a range of `1-8`.

[2016-10-27 04:59] lightningo7 commented on #1012
https://github.com/Team-RTG/Realistic-Terrain-Generation/blob/1.10.2-dev/src/main/java/rtg/util/SnowHeightCalculator.java#L12-L14

If you look at that is it being locked into a 1-8 range.

[2016-10-27 09:35] whichonespink44 commented on #1004
This is almost finished - just want to test a few more scenarios & then I'll submit a PR for review.

[2016-10-27 16:19] whichonespink44 opened #1013 "RTG spruce trees don't generate on Podzol"
![2016-10-27_17 11 22](https://cloud.githubusercontent.com/assets/10927161/19775943/23e7fee8-9c6a-11e6-975f-ed09d4690df0.png)

The RTG spruce trees in Taiga biomes aren't generating on Podzol... need to check other trees to make sure Podzol's on the whitelist.

[2016-10-27 18:23] whichonespink44 commented on #1004
Added in 6dd8ade

[2016-10-27 18:23] #1004 closed, assigned to whichonespink44

[2016-10-27 18:27] whichonespink44 commented on #987
Fixed in 6c03e26 - requires Recurrent Complex v1.2.3 or later.

[2016-10-27 18:27] #987 closed, assigned to nobody

[2016-10-27 18:33] srs-bsns commented on #987
Maybe we should add a soft dependency for ReC.

[2016-10-27 20:21] whichonespink44 commented on #992
I've just tested this with RTG on its own, and with BOP, and everything seems to be working fine in both vanilla and modded biomes. I suspect that the user had another mod installed that also affected bedrock generation.

[2016-10-27 20:21] #992 closed, assigned to nobody

[2016-10-28 15:04] whichonespink44 commented on #1013
Fixed in 6230ef8

[2016-10-28 15:35] #981 closed, assigned to nobody

[2016-10-28 15:36] whichonespink44 commented on #999
We might consider this when we re-design BOP biomes in the future. Closing for now.

[2016-10-28 15:36] #999 closed, assigned to nobody

[2016-10-28 15:37] whichonespink44 commented on #1002
@Quizer9O8 We've been unable to reproduce these non-lake, non-puddle versions of the BOP Bayou... is this still happening for you?

[2016-10-28 16:26] whichonespink44 commented on #1012
Fixed in 616a7cf

[2016-10-28 16:26] #1012 closed, assigned to lightningo7

[2016-10-29 00:34] whichonespink44 commented on #1005
Fixed for 1.10.2 in 098d591

[2016-10-29 10:12] MCEventHorizon opened #1018 "Crash with Snow layers"
##### Affected Mod Versions:

(Please list other mods and their versions if you feel they are relevant to this issue. i.e. Biomes O' Plenty)
- Forge version: 12.18.2.2114
- RTG version: 4.1.1.4
##### Extra Information:
- Crashlog: http://pastebin.com/8bZgXZXp

[2016-10-29 10:31] srs-bsns commented on #1018
Dupe of #1012. Already fixed in 616a7cf

[2016-10-29 10:31] #1018 closed, assigned to nobody

[2016-10-29 10:37] MCEventHorizon commented on #1018
Do you have this version out cause I can't login to my world without crashing?

[2016-10-29 10:47] whichonespink44 commented on #1018
It will be released tonight (GMT).

[2016-10-29 10:55] whichonespink44 commented on #889
Added in 5adf040 - also added support for the new Shrubs biome, as well as the Mushroom Mountains biome, which isn't actually listed anywhere on the wiki and might not even be added to the Overworld, but I added it just in case.

[2016-10-29 10:55] #889 closed, assigned to lightningo7

[2016-10-29 16:25] whichonespink44 commented on #982
Added in c5a8977

[2016-10-29 16:25] #982 closed, assigned to nobody

[2016-10-29 18:21] jonqrandom commented on #923
pretty please could we have a config option to loosen RTG's safety/sanity checks (like 'minOceanFloor'), so RTG only refuses to do things that will definitely crash? something like "IPromiseNotToBugTeamRTGAboutMyWorldBeingTrashedPleaseRespectMyBiomeTweakerConfigs="
that's either false by default, or even not automatically generated in the config file at all, and has to be added manually?
please? o

[2016-10-30 08:35] whichonespink44 commented on #861
The Hot Water biome still isn't being registered in 1.10.2 as version 3.0.2 so closing this for now. Will re-open if a 1.10.2 version is ever released.

[2016-10-30 08:35] #861 closed, assigned to nobody

[2016-10-30 14:51] whichonespink44 commented on #1001
Added in 4bd0a25

[2016-10-30 14:51] #1001 closed, assigned to nobody

[2016-10-30 18:21] Jomik opened #1022 "Console spam with RTG, Ender IO and Forestry"
##### Affected Mod Versions:

(Please list other mods and their versions if you feel they are relevant to this issue. i.e. Biomes O' Plenty)
- Forge version: forge-1.10.2-12.18.2.2105
- RTG version: RTG-1.10.2-4.1.1.4
- Forestry version: forestry_1.10.2-5.2.14.270
- Ender Core version: EnderCore-1.10.2-0.4.1.55-beta
- Ender IO version: EnderIO-1.10.2-3.0.1.120_beta
##### Issue Description:

(Pleas

[2016-10-30 20:15] whichonespink44 commented on #1022
This seems to be caused by Forestry's saplings not extending the vanilla BlockSapling:

https://github.com/ForestryMC/ForestryMC/blob/c289590740e47c1df5d08cab6dea0d78eb7599f7/src/main/java/forestry/arboriculture/blocks/BlockSapling.java#L51

However, the console spam shouldn't be happening - it's just leftover debug code that should be silenced unless RTG has debugging enabled.

We'll fix this for

[2016-10-30 20:24] whichonespink44 commented on #1022
Fixed in 53347f8.

[2016-10-30 20:24] #1022 closed, assigned to nobody

[2016-10-31 19:58] Rozzers opened #1023 "No tree generation"
I was flying around checking out the generation when i stumbled upon no tree gen. It would generate flowers and structures but no trees.

http://imgur.com/a/KVN0w

This would happen all over the place after reaching a certain point (not sure what that point is). Every biome had no trees.

Edit: typos

[2016-10-31 20:11] whichonespink44 commented on #1023
@Rozzers Please post your fml-client-latest.log file and we'll take a look.

[2016-10-31 20:35] Rozzers commented on #1023
here it is. I explored a little more before shutting down and saving.

[fml-server-latest.txt](https://github.com/Team-RTG/Realistic-Terrain-Generation/files/562823/fml-server-latest.txt)

[2016-10-31 21:52] whichonespink44 commented on #1023
Did you install RTG on an existing world? I noticed quite a few `Fixed minecraft:blocks id mismatch` messages in the logs which is usually suggests that the world has gotten corrupted somewhere along the way through the adding and removing of mods.

To determine if this is an issue with RTG, try creating a new world using the same seed as your current world and flying to the coords in the screensh

[2016-10-31 22:18] Rozzers commented on #1023
Ok. Looks like thats it. Is there no way to reset something like this?

[2016-10-31 22:27] whichonespink44 commented on #1023
Unfortunately not, unless you made a backup of your world before you installed RTG?

When you install RTG for the first time, you should always create a new world, and then you should never remove it from that world. It's usually safe to update RTG from one version to the next, unless the release notes for a particular version say not to, but it should always be a new world when it's first install

[2016-10-31 22:27] #1023 closed, assigned to nobody

[2016-11-01 23:19] Sunconure11 commented on #988
Using that build, I managed to encounter the error again, but it took some time before I even found such an error.

http://pastebin.com/zZSxJH7i

[2016-11-02 01:30] The-Arcanian commented on #1005
Was just coming to report this due to it breaking the Botania tree farm I was trying to set up in a Plains biome. Good to a fix is already in the pipeline.

[2016-11-02 01:41] whichonespink44 commented on #1005
@The-Arcanian This is fixed in the 4.1.1.5 version for 1.10.2... are you on a different MC version?

[2016-11-02 07:44] darkphan commented on #1022
These entries still exist in build 4.1.1.5

[2016-11-02 09:07] Zygus42 commented on #923
And as to the Railcraft argument for capping ocean depths, we're now using Railcraft again in 1.10, but it doesn't have oil wells, but even if it did, I would think that this would be better left as a problem for the Railcraft developers.  In my opinion anyways :)

[2016-11-02 10:15] srs-bsns commented on #1022
The only way you could possibly be getting those warning messages now is if you have `B:"Enable Debugging"` set to `true` in RTG's config file.

[2016-11-02 16:15] darkphan commented on #1022
Enable Debugging is set to false and we definitely see the messages still (this was 14 minutes ago from this post):

[16:00:04] [Server thread/WARN] [FML/]: [RTG-WARN] Could not get sapling meta from non-sapling BlockState (tile.for.saplingGE.name).

[2016-11-02 16:45] whichonespink44 opened #1024 "Deeper oceans"
Created a separate issue for this since #923 was going a bit off-topic

[2016-11-02 17:09] srs-bsns commented on #1022
Please see 53347f8. This was fixed and the fix is in RTG 4.1.1.5, so the only way you should see this log message is if:
1. `B:"Enable Debugging"` is set to `true` (in rtg.cfg on the server), or
2. You are using an older version of RTG than 4.1.1.5

[2016-11-02 17:11] whichonespink44 commented on #1022
Sorry guys, this hasn't been released yet. It's fixed in dev, but we're not releasing again until Sunday, but it will definitely be fixed then.

[2016-11-02 17:31] whichonespink44 commented on #1002
We've managed to reproduce this and we have a plan to fix it (RTG ponds FTW!!!)... should be in this Sunday's release.

[2016-11-02 23:14] whichonespink44 opened #1025 "Volcano crash"
https://gist.github.com/MoeBoy76/13634c3a84d28a611b5e7f0b7fce8a7f

[2016-11-03 05:06] srs-bsns commented on #1025
https://github.com/Team-RTG/Realistic-Terrain-Generation/blob/c32c606d4d12cb66c079ef9280a05e92309feeaa/src/main/java/rtg/config/rtg/ConfigRTG.java#L715-L718

This is probably a bad way to set the config defaults.

If BoP is loaded when rtg.cfg doesn't exist, the default will be set to a BoP block (ashBlock), and if BoP is then removed, the config setting will never reset, and will end in a NPE, si

[2016-11-03 12:36] jonqrandom commented on #1024
i don't know if context for _why_ i would like this or how i plan on working around issues it may cause is helpful, so please ignore if you feel this is just blethering ;)

for starters, there's an obvious and massive inconsistency; RTG has wonderful, _soaring_ mountains and beautiful, massively elevated plateaus - by comparison, its "deep oceans" of 32 meters seem like paddling pools. i **would**

[2016-11-04 00:06] whichonespink44 commented on #1024
In theory, I'm all for making the oceans deeper, especially Deep Ocean. Back when RTG was in early beta, we had Deep Ocean going all the way down to bedrock in some areas. Obviously that created some issues with mod compatibility, but the main reason we don't go lower than Y=30 isn't because of mod compatibilities (those could  probably be worked around), it's because the lower the ocean, the more

[2016-11-04 10:04] jonqrandom commented on #1024
and since RTG doesn't touch biome layout, there's no way you can ensure deep ocean never touches a land biome, right? i understand that getting involved in biome layout is out of scope for RTG, so is there an easy way to only enable going under Y30 if the deep ocean in question is entirely surrounded by ocean/a certain distance from land?

by the way, was i correct about not being able to raise th

[2016-11-04 11:13] whichonespink44 commented on #1024
As far as I know, adjusting the biome height with mods like BiomeTweaker has no effect on RTG's height map. The terrain noise for each biome is sort of 'hardcoded' even though all of the terrain is procedural, if that makes sense.

[2016-11-04 20:50] jonqrandom commented on #1024
yeah, i get what you mean, i could've sworn that is was, but then confirmation bias is a thing, so maybe that's all it was. i'll have to check when i can.
come to think of it, when i tried setting ocean and deep ocean lower in BT, while deep ocean didn't change, regular ocean was often deeper and regularly hit Y30/31 - that's not supposed to happen usually is it?

[2016-11-04 22:04] whichonespink44 commented on #1024
I think that might be confirmation bias as well.

Even though the minimum ocean floor is 30, Ocean has an average floor of [50](https://github.com/Team-RTG/Realistic-Terrain-Generation/blob/1.10.2-dev/src/main/java/rtg/world/gen/terrain/vanilla/TerrainVanillaOcean.java#L16) and Deep Ocean, [40](https://github.com/Team-RTG/Realistic-Terrain-Generation/blob/1.10.2-dev/src/main/java/rtg/world/gen/ter

[2016-11-04 22:22] jonqrandom commented on #1024
yeah, like i said, i'll have to test it some more as soon as i can - would the best way just be to use the same seed and check ocean depths in the same places? or is changing terrain values likely to affect other stuff, therefore invalidating that method?

[2016-11-04 22:49] whichonespink44 commented on #1024
Same seed, same place, new world... yep, that's the way to go... they should be exactly the same regardless of height settings.

[2016-11-04 23:13] jonqrandom commented on #1024
cool, i'll check that out once my new system is up and running, thank you :)

[2016-11-05 03:14] whichonespink44 commented on #1002
Fixed in 782c797

[2016-11-05 03:14] #1002 closed, assigned to nobody

[2016-11-05 08:40] whichonespink44 opened #1027 "Config option to disable river bank surfacing and decoration"
^

[2016-11-05 20:24] Sunconure11 opened #1028 "Concurrent Modification Exception, caused by Chococraft's Gysahls"
##### Affected Mod Versions:
(Please list other mods and their versions if you feel they are relevant to this issue. i.e. Biomes O' Plenty)

- Forge version:

1.7.10-1614

- RTG version:

A copy I built against this pull in an attempt to solve an issue with Ridiculous World: https://github.com/Team-RTG/Realistic-Terrain-Generation/pull/990
Otherwise though, the build is basically 1.1.1

- Other mo

[2016-11-05 22:10] whichonespink44 commented on #1027
Added for 1.10.2 in dc77a3d and b961f5f

[2016-11-05 22:14] whichonespink44 commented on #1028
8403660 needs to be backported in order to fix this.

[2016-11-05 22:15] whichonespink44 commented on #1028
Also see #996

[2016-11-06 02:12] Sunconure11 commented on #1028
I see. I guess if this continues, I'll have to wait for a port and build against it and hope the issue stops or something.

[2016-11-06 06:35] whichonespink44 commented on #1028
@Sunconure11 are you able to log back in after the crash? if not, 8403660 might not be the right fix for this.

We're going to try and release an update for 1.7.10 tonight.

[2016-11-06 09:47] The-Arcanian commented on #1005
Well that's a problem.

I am using RTG-1.10.2-4.1.1.5 and it replaces the blocks I place above the sapping if it is growing a Large Oak Tree in a Plains biome, but there has to be room for a Small Oak Tree to grow. I have not tested any other cases other then that it is at least partially biome specific, because it did not happen when I accidentally tried testing it in a Sunflower Plains.

Also be

[2016-11-06 12:59] whichonespink44 commented on #1005
@The-Arcanian We've added some block-checking above the sapling (Y-axis only) before the tree tries to generate. If there's nothing in the way, up to the height of the tree, it will generate. If it finds any non-air block along the way, it won't.

This isn't an ideal solution, but hopefully it will give you some options when designing your tree farms.

Also, for reference, be sure to remember the

[2016-11-06 13:51] ghost opened #1030 "Square snow pattern on Streams"
##### Affected Mod Versions:
- Forge version: 1.10.2-12.18.2.2120
- RTG version: 4.1.1.5
- GeographiCraft version: 0.7.5
- Streams / Farseek version: 0.2.1 / 1.1
- Biomes O' Plenty version: 5.0.0.2091

##### Issue Description:
I found an apparent square snow pattern on streams in an Ice Mountains biome.

![2016-11-06_14 35 37](https://cloud.githubusercontent.com/assets/22047030/20038147/b6084866-a

[2016-11-06 14:23] whichonespink44 commented on #1030
Thanks for the comprehensive report - we'll try to reproduce this in our development environment and see if we can figure out what's going on.

[2016-11-06 14:43] ghost commented on #1030
If it makes any difference (for reproducing with given seed), set B:SeparateLandmasses=false in geographicraft.cfg.

[2016-11-06 15:09] whichonespink44 commented on #1030
That will definitely make a difference, thanks.

[2016-11-06 15:59] Sunconure11 commented on #1028
I did not test that far, as it happened during generation and effectively halted attempts at pregeneration.

[2016-11-06 16:07] Sunconure11 commented on #1028
However, whatever caused this happened fairly far out. If it were to be crashing when logging in though, what would need to be done?

[2016-11-06 16:09] whichonespink44 commented on #1028
Just logging back in to see if it crashes again... if it's the bug I think it is, then you should be able to log back in without crashing. If it still crashes, then we'll need to dig a bit deeper into what's causing it.

[2016-11-06 16:14] Sunconure11 commented on #1028
Server crashes if it tries to generate the chunk possibly causing the issue, but runs fine otherwise.

[2016-11-06 16:27] whichonespink44 commented on #1028
Cool, I'll be in 1.7.10 tonight so will put in a fix for this.

[2016-11-06 16:37] whichonespink44 commented on #991
Closing this for 1.8.9 as there's already a chunkExists(int, int)

[2016-11-06 16:37] #991 closed, assigned to nobody

[2016-11-06 19:30] whichonespink44 commented on #1025
Fixed in cf7b626

[2016-11-06 19:30] #1025 closed, assigned to nobody

[2016-11-06 22:44] whichonespink44 commented on #765
No one's reported anything like this for months, so closing for now.

[2016-11-06 22:44] #765 closed

[2016-11-06 22:49] whichonespink44 commented on #1000
I believe this is Climate Control's spawn rescue system kicking, probably because the seed you were using tried to spawn you in the ocean. I'm closing this, as it seems the world is generating ok, but if you're still getting those salvageSpawn messages, let us know and we'll take a closer look.

[2016-11-06 22:49] #1000 closed, assigned to nobody

[2016-11-06 22:51] whichonespink44 commented on #736
As Zeno mentioned above, this would require a lot of work for not much improvement as it's about as good as it gets already.

[2016-11-06 22:51] #736 closed

[2016-11-06 23:10] Sunconure11 commented on #1030
Encountered this on 1.7.10 when I had streams before I decided to pull it from my pack. I think it might be an issue with streams itself, rather than RTG.

[2016-11-07 03:09] srs-bsns commented on #991
I'm not sure why I added the 1.8.9 tag. The interface was changed in 1.9.4.

[2016-11-07 03:26] srs-bsns commented on #1030
It could actually be another mod that is interacting badly with the way Streams generates it's streams, which is during the biome decoration process. There have been issues in the past with mods DENYing decoration events which prevents Streams from finishing what it's doing. (MagiaNaturalis in 1.7.10, See #870). However, the nature of these strips doesn't quite fit that, and it's also strange that

[2016-11-07 07:58] ghost commented on #1030
Here's the mod list. It's my private modpack which also runs on a dedicated server where I use [MSM](http://msmhq.com). No Bukkit etc.

Edit: I reduced the list to the necessary mods, updated to the latest version and can confirm that the pattern is still generating at given coordinates.
- Biomes O' Plenty 5.0.0.2093
- Farseek 1.1
- GeographiCraft 0.7.6
- Realistic Terrain Generation 4.1.1.6
- Str

[2016-11-07 11:33] whichonespink44 opened #1031 "Trees not replacing tallgrass blocks"
Either trees aren't replacing tallgrass blocks, or the tallgrass is replacing log blocks. 99.99% certain it's the former but need to investigate to be certain.

It'll most likely be one of these methods:

https://github.com/Team-RTG/Realistic-Terrain-Generation/blob/1.10.2-dev/src/main/java/rtg/world/gen/feature/tree/rtg/TreeRTG.java#L185-L211

[2016-11-07 12:57] whichonespink44 commented on #1031
@srs-bsns said:

https://github.com/Team-RTG/Realistic-Terrain-Generation/blob/1.10.2-dev/src/main/java/rtg/world/gen/feature/tree/rtg/TreeRTG.java#L201-L210
that needs to include Material.GRASS

[2016-11-07 15:09] srs-bsns commented on #1031
But then I eventually said...

[code]

[2016-11-07 20:25] whichonespink44 commented on #1028
Fixed in 3fe6f96

[2016-11-07 20:25] #1028 closed, assigned to nobody

[2016-11-07 20:32] whichonespink44 commented on #996
Fixed in 3fe6f96

[2016-11-07 20:32] #996 closed, assigned to nobody

[2016-11-07 21:05] whichonespink44 commented on #988
Fixed in f78dfa1 - and if that doesn't work in all scenarios, we've also added a 'graceful failing' in fb4c473 for those rare cases where, for whatever reason, RTG isn't able to successfully execute the base biome's decorate() method.

[2016-11-07 21:05] #988 closed, assigned to nobody

[2016-11-07 21:28] srs-bsns commented on #972
While thinking about this issue and reminiscing about the old old days using EBXL, on it's own, or with RWG, I can remember strange leaf decay issues and finding piles of fresh saplings lying around while traveling through the world.

I'd chalk this one up to an EBXL issue, so closing this for now. If someone brings this up again, we can revisit it then.

[2016-11-07 21:28] #972 closed, assigned to nobody

[2016-11-07 21:33] srs-bsns commented on #951
This was already discovered to be caused by CC's `B:wideBeaches=true`

[2016-11-07 21:33] #951 closed, assigned to nobody

[2016-11-07 21:46] whichonespink44 commented on #951
Cool, I also removed the dirt and stone in vanilla Beach in c692a04 so if it does happen again, for whatever reason, it won't look as ugly.

[2016-11-07 21:46] whichonespink44 commented on #924
Fixed in f345de1

[2016-11-07 21:46] #924 closed, assigned to nobody

[2016-11-07 21:53] srs-bsns commented on #575
I think leaving this issue open has run it's course, and I don't think this is an issue is WAILA beyond 1.7.10

[2016-11-07 21:53] #575 closed

[2016-11-07 21:54] srs-bsns commented on #720
It's certain this is an EB issue, and it will never be resolved.

[2016-11-07 21:54] #720 closed

[2016-11-07 22:08] #738 closed

[2016-11-07 22:15] #770 closed, assigned to Zeno410

[2016-11-07 22:20] srs-bsns commented on #777
This mod is now defunct, and it doesn't seem that there's any more interest in it. Also, 1.8.9

[2016-11-07 22:20] #777 closed, assigned to nobody

[2016-11-07 22:30] srs-bsns commented on #786
Crickets are chirping in this issue. Seems to be resolved?

[2016-11-07 22:30] #786 closed, assigned to nobody

[2016-11-07 22:35] #791 closed, assigned to nobody

[2016-11-07 22:38] srs-bsns commented on #794
I'm almost certain that this was vanilla mechanics at play, just like suspended sand in deserts in vanilla worlds that would remain suspended until a block update. This was fixed in 1.10.2. Pretty certain there nothing to for us to do here anymore.

[2016-11-07 22:38] #794 closed, assigned to nobody

[2016-11-07 22:39] #795 closed, assigned to nobody

[2016-11-07 22:40] #797 closed, assigned to nobody

[2016-11-07 22:41] #800 closed, assigned to srs-bsns

[2016-11-07 22:41] #802 closed, assigned to nobody

[2016-11-07 22:42] #804 closed, assigned to nobody

[2016-11-07 22:42] #806 closed, assigned to topisani

[2016-11-07 22:42] #807 closed, assigned to topisani

[2016-11-07 22:43] #814 closed, assigned to nobody

[2016-11-07 22:43] #842 closed, assigned to nobody

[2016-11-07 22:43] #846 closed, assigned to nobody

[2016-11-07 22:44] #847 closed, assigned to nobody

[2016-11-07 22:45] #852 closed, assigned to nobody

[2016-11-07 22:45] #866 closed, assigned to nobody

[2016-11-07 22:46] #876 closed, assigned to nobody

[2016-11-07 22:46] #878 closed, assigned to whichonespink44

[2016-11-07 22:46] #882 closed, assigned to nobody

[2016-11-07 22:51] srs-bsns commented on #860
There's unlikely to be enough interest in this to justify porting support to 1.8.9 or 1.7.10.

[2016-11-07 22:51] #860 closed, assigned to nobody

[2016-11-07 22:57] srs-bsns commented on #863
Is this even an issue still? And if it is, is it enough of an issue, or common enough, to be of concern?

[2016-11-07 23:00] whichonespink44 commented on #863
It's pretty rare... if we ever tweak the terrains in 1.7.10 again, this will likely get resolved then.

[2016-11-07 23:01] srs-bsns commented on #865
I don't see there being enough interest in sleuthing this, which is unlikely to be RTG's fault.

[2016-11-07 23:01] #865 closed, assigned to Zeno410

[2016-11-07 23:08] srs-bsns commented on #892
1.7.10
No releases, nor has the repo been touched, since May.
Most people using this mod are likely using it in specialised modpack which probably doesn't include RTG.
This type of world gen is not RTG's responsability.

[2016-11-07 23:08] #892 closed, assigned to nobody

[2016-11-07 23:13] #893 closed, assigned to nobody

[2016-11-07 23:14] #953 closed, assigned to nobody

[2016-11-08 03:06] The-Arcanian commented on #1005
Ok, it is fixed now it seams. To try and state more clearly; the problem was when trying to grow Oak or Birch in a Plains biome there appeared to only be a Y check up to the what was required for RTG's equivalent to Vanilla's Small Trees, therefor no tree would grow if there was a block low enough. But if there were no blocks to prevent a small tree, then the RTG equivalent to a Vanilla Big Tree w

[2016-11-08 14:46] whichonespink44 commented on #1030
After looking at those screenshots a bit closer, it reminds me of the issue Streams used to have with the stone bridges that would generate perpendicular to the stream.

[2016-11-08 15:35] Sunconure11 opened #1034 "No Class Def Found Error (calling client classes on server, util/Logger)"
##### Affected Mod Versions:
(Please list other mods and their versions if you feel they are relevant to this issue. i.e. Biomes O' Plenty)

- Forge version:

1.7.10-1614

- RTG version:

1.1.2

##### Issue Description:
(Please provide screenshots if neccessary/possible. Images can be dragged & dropped into this window.)

##### Steps to reproduce the issue: (If it's easily reproducible.)

1. Gener

[2016-11-08 16:33] #1031 closed, assigned to nobody

[2016-11-08 17:13] whichonespink44 commented on #1034
Pretty sure this isn't RTG's fault, but we've added a workaround in 3421f23 - it will be in the next release.

[2016-11-08 22:49] Sunconure11 commented on #1034
Still receiving the noclassdef error, even after I decided to compile a dev build and put it towards the server to see if this would solve anything.

Here is the source code of the mod I am using to pregenerate the world:

https://github.com/gecgooden/chunkgen

It appears there are some known issues with ChunkGen and RTG.

https://github.com/gecgooden/chunkgen/issues/35

[2016-11-09 01:51] whichonespink44 opened #1037 "BOP biome re-decoration"
- [ ] Coniferous Forest
- [ ] Fen
- [ ] Rainforest
- [ ] Snowy Coniferous Forest
- [ ] Temperate Rainforest
- [ ] Tropical Rainforest
- [ ] Woodland

http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=3826

[2016-11-09 04:53] srs-bsns commented on #1034
The crash being reported in from RTG's logger trying to call client classes on the server.

This does not fix the underlying issue. Minecraft was already in the process of crashing and there was a call to Logger#fatal which, itself, threw an exception. So this is a case of exception-ception.. get it?

[2016-11-09 06:09] #1034 closed, assigned to nobody

[2016-11-09 13:37] ghost commented on #1030
Please note the edit in my modlist post.

[2016-11-09 13:47] ghost commented on #1037
Side note: I don't know wether you took this into account already, but you shouldn't mess with the [Origin Island](http://biomesoplenty.wikia.com/wiki/Origin_Island) biome at all, as this biome reproduces an old Minecraft version. Any fancy stuff there would look out of place.

[2016-11-09 14:20] srs-bsns commented on #1030
I can't reproduce this world. Are you using modified config settings in GeographiCraft?

![2016-11-09_09 17 15](https://cloud.githubusercontent.com/assets/8453133/20141277/97e95948-a65d-11e6-8387-e582953627f6.png)

[2016-11-09 15:45] ghost commented on #1030
B:SeparateLandmasses=false in geographicraft.cfg

[2016-11-09 18:25] srs-bsns commented on #1030
@delvr

This is only happening where there are streams, nowhere else.
The strips coincide with chunk borders.
This is likely from a bad iteration in the Streams decorator?

![2016-11-09_13 19 02](https://cloud.githubusercontent.com/assets/8453133/20149434/395f8362-a67f-11e6-9ba3-790a0a4b667c.png)
![2016-11-09_13 06 31](https://cloud.githubusercontent.com/assets/8453133/20149435/3b3ef2a8-a67f-11e6-

[2016-11-09 22:49] srs-bsns opened #1041 "Discord Test Issue"
Testing.. Testing.. one.. two..

[2016-11-09 22:49] #1041 closed, assigned to nobody

[2016-11-10 21:25] delvr commented on #1030
Thanks for letting me know, I'll take a look on my end.

[2016-11-13 04:18] whichonespink44 opened #1046 "Surface configs not working"
[code]

![](https://cdn.discordapp.com/attachments/168326116761665536/247146694330810378/2016-11-13_10.12.53.png)

[2016-11-13 06:06] srs-bsns commented on #1046
In the case of vanilla Desert, the vanilla settings for the biome are passed to the surface initialiser, and there is no check for config settings. I'm assuming that at the time you felt in unnecessary under normal circumstances for Desert to have both the surface and fill blocks set to something other than minecraft:sand, which makes sense.

https://github.com/Team-RTG/Realistic-Terrain-Generatio

[2016-11-13 06:50] whichonespink44 commented on #1046
Nice one - I thought that might be the case. There are probably a bunch of others like this that slipped through the cracks when we originally did the biome configs, so I'll go through them all and hook them up. I'm actually working on the 'RB Configs' stuff now, so I'll do this as part of that.

[2016-11-13 15:46] Quizer9O8 opened #1047 "Unnatural terrain/biome placement (OCD issue)"
my OCD senses are tingling. I'm sure I've mentioned this before and probably many people too but this is bugging me out crazy. Look at those jaged edges. I've noticed that this happens especially with the Stone Beach, Beach, Desert and Savanna biome.
![the bane of ocd](https://cloud.githubusercontent.com/assets/19509275/20246848/022867c6-a9c0-11e6-88f2-8fdc65e5e7cb.png)
Ugh... It feels so unnatura

[2016-11-13 15:50] Quizer9O8 commented on #1037
Could you also re-decorate the Rainforest?

[2016-11-13 15:53] srs-bsns commented on #1047
1. You didn't provide any version information for RTG or any other mods you are using.
2. RTG beaches do not naturally extend that far in world height. The stone part should not be there.

Are you using GeographiCraft/ClimateControl with `B:wideBeaches` set to `true`?

[2016-11-13 15:54] Quizer9O8 commented on #1047
Wide Beaches are set to false and this is happening in RTG-1.10.2-4.1.1.7 only.
I've checked it the other day with GC/CC but the same outcome happens.

[2016-11-13 15:57] srs-bsns commented on #1047
Can you provide a seed for that world?

[2016-11-13 16:01] Quizer9O8 commented on #1047
Seed: -5223921567637570492
(Included with GC config)
Config GC: <details># Configuration file

"assorted parameters" {
    # Use more random generators, better behaved rivers, and larger rare climates
    B:"0.5 generation"=true

[code]

}

##########################################################################################################

# climate incidences

#----------------------------

[2016-11-13 16:10] Quizer9O8 commented on #1047
Oh btw tp to this cords:  X -2518 Z 2345

[2016-11-13 16:48] whichonespink44 commented on #1037
Added it to the list.

[2016-11-14 03:17] Whimsyturtle opened #1049 "Crash when Generating New Chunks in a World"
##### Affected Mod Versions:
Mekanism, MrTJPCore

- Forge version: 10.13.4.1614
- RTG version: 1.1.1.2

##### Issue Description:
(Please provide screenshots if neccessary/possible. Images can be dragged & dropped into this window.)
Crash when Generating New Chunks in a World.
(Note: This May Not be Realistic Terrain Generation's Fault, but it was Referenced in the Crash Report. This May be Caused

[2016-11-14 08:29] whichonespink44 commented on #1049
Since you're using 1.1.1.2, this is not likely an RTG issue, as we recently put in 'graceful failing' for structure generation. This means that instead of crashing during structure generation, RTG will just stop generating the structure at the point of failure, allowing the world to carry on generating.

If this turns out to not be the case, please let us know so we can investigate further.

[2016-11-14 08:37] srs-bsns commented on #1049
This is caused (AGAIN) by Minecraft's non-threadsafe Hashmap iteration while the Mekanism salt generator is trying to generate salt at the same time that RTG is trying to place a structure, likely a village part, in the same chunk.

@whichonespink44 I can't remember, did you backport our crash prevention from 1.10.2 for this sort of thing? It would likely work good in cases like this, and the wors

[2016-11-14 08:39] whichonespink44 commented on #1049
Forgot to mention... if you want a faster resolution to this issue, try reproducing the crash with as few mods as possible and posting that crash report as well. The crash report in the OP has a lot of mods, so unless one of the other authors knows immediately why it's crashing, they're not going to be able to reproduce it themselves with that many mods. And if we can't reproduce it, we can't fix

[2016-11-14 08:40] whichonespink44 commented on #1049
Double ninja'd!! xD

[2016-11-14 11:18] whichonespink44 commented on #1046
This will be fixed when #1048 is merged.

[2016-11-14 14:25] whichonespink44 opened #1050 "Config option to disable all-bark logs"
^

[2016-11-15 00:07] lightningo7 commented on #1037
It seems that BOP is triggering it's own tree decoration whenever the tree decoration event is posted, making it difficult to redecorate many of the biomes. Will be holding off on this issue until that gets fixed on BOP's side or we get a workaround on our side.

[2016-11-15 00:37] whichonespink44 commented on #1037
Just been speaking with the BOP devs, and they've confirmed that BOP is doing decoration when the various Forge decorate events fire, but they seem pretty confident that only one type of decoration should be triggering for each event. For example, when the TREE event is fired, it's intended behaviour for BOP to generate its trees.. But what we're seeing on our side is that when the TREE event is f

[2016-11-15 00:46] lightningo7 commented on #1037
I was mistaken about the decorating the whole biome, it's just the trees that are decorating.

[2016-11-15 23:59] whichonespink44 commented on #1046
Fixed in 7d27130

[2016-11-15 23:59] #1046 closed, assigned to whichonespink44

[2016-11-16 15:22] whichonespink44 commented on #1050
Added in 5043294

[2016-11-16 15:22] #1050 closed, assigned to nobody

[2016-11-16 15:28] whichonespink44 opened #1052 "WTF Lava Crust Glows generate even if disabled in WTF configs"
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=3885

[2016-11-17 13:43] whichonespink44 commented on #1052
Those config options don't stop the block from generating, so nothing we can do here.

http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=3890

[2016-11-17 13:43] #1052 closed, assigned to nobody

[2016-11-18 03:04] Zarepheth opened #1054 "Crash during block generation while travelling world."
##### Affected Mod Versions:
(Please list other mods and their versions if you feel they are relevant to this issue. i.e. Biomes O' Plenty)

- Forge version: 1.10.2-12.18.2.2147
- RTG version: 1.10.2-4.1.1.7
- Pam's Harvest Craft version: 1.9.4-1.10.2h

##### Issue Description:

The seed for my world, with Forge, BOP, RTG, and numerous other mods installed, generated what appears to be a water wor

[2016-11-18 03:31] ghost commented on #1054
I doubt Pam's is related. Her mod has lots of items to load, so it tends to show up in crash reports whether it's related or not (and, from my personal experience with crash reports with Pam's, it's almost certainly not). But you'd need a response from a dev or contributor who's actually familiar with the code (I am not). As for the spaced out landmasses, I've had that before. It's a feature of so

[2016-11-18 04:25] srs-bsns commented on #1054
This is most certainly not RTG.

This exception is being thrown on a method (`updateGlassLayers`) that does not exist in the vanilla class `net.minecraft.block.state.pattern.BlockMaterialMatcher`, which likely means that the class is being patched at runtime.

There are two candidates that I saw at quick glance that could be at fault here. 1. Optifine, or 2. Whatever is in DynamicLights-1.10.2.zip

[2016-11-18 04:25] #1054 closed, assigned to nobody

[2016-11-18 06:20] Zarepheth commented on #1054
The crash recurred while traveling in the same vicinity with a new world off the same seed. I'll experiment with removing Optifine and DynamicLights tomorrow. _(for some reason, I thought I had previously removed Dynamic Lights as Optifine already provides that capability...)_

[2016-11-18 20:47] Zarepheth commented on #1054
I removed Optifine from my list of mods. In a new world, generated from the same seed, with the same parameters, I encountered a crash in the same vicinity. Optifine is not the cause.

### So far, the Original crash, last nights crash while testing in a new world, and the current crash with Optifine removed show RTG as the first mod on the stack trace.

Upon closer examination, I see identical sta

[2016-11-18 21:46] Zarepheth commented on #1054
Okay, I've repeated the situation 3 times after the original crash and continue to crash in the same vicinity each time. This time, both Optifine and Dynamic Lights were removed; so neither of them is the cause.

The stack trace is the same as all previous crashes and the Location and Reason are the same as the most recent crash.

If some mod is actually adding methods to a built-in class, at run

[2016-11-18 21:49] whichonespink44 commented on #1054
@Zarepheth To save some time, maybe try removing mods in 'batches' - so like, 5 or 6 at a time, and then seeing if you can reproduce the crash. Please keep us posted if you find anything - maybe there's something we'll be able to do on our end as a quick fix.

[2016-11-18 22:06] Zarepheth commented on #1054
@whichonespink44 - that's a good idea.

Anyway, I've tested by removing Crafting Table IV, but still get the crash.

Looking at the stack trace, it seems to be related to generating a Pumpkin as new chunks are created. Since that is a vanilla item, I find it rather odd to cause a crash. I think my next test will be to remove Pam's HarvestCraft. Then start in on batches at a time.

[2016-11-18 22:07] whichonespink44 commented on #1054
From what I've been hearing, you might not have to go any further than removing HarvestCraft... but only one way to find out. :)

[2016-11-18 22:31] Zarepheth commented on #1054
Well, that's annoying - same crash, without Pam's Harvest Craft.
And the Location and Reason details are back to the original crash, even though the stack trace no longer has Pam's Harvest Craft in it. Removing Pam's Harvest Craft shortened the stack trace by 11 lines. I'm no Java expert, nor have I seen much source code for Minecraft, but is world gen done via recursive function calls?

Looks lik

[2016-11-18 23:01] Zarepheth commented on #1054
Pulled out half my mods. Had to make multiple attempts as some were dependencies of others. Anyway, the 1st half of the alphabet (minus the dependencies and biome adding mods, plus enough additional to equal half) seems to have the problem as no crash occurred. I did notice one difference - the villages generated with different layouts, although in similar locations.

Next up: Put back half of the

[2016-11-18 23:32] Zarepheth commented on #1054
Restored 18 of the 36 removed mods. No crash and the villages resumed their former layout.

I'm not sure which mod changes the village layout, but it's within these 18:
- BaseMetals
- EndMetals
- Excore
- fastleavedecay
- hopperducts
- improving minecraft
- inventory tweaks
- iron chest
- jei
- labyrinth
- lightning craft
- llibrary
- mcmultipart
- modernmetals
- moreshears
- multihotbar
- natures

[2016-11-18 23:38] whichonespink44 commented on #1054
Cool, nearly there! The only one that looks possibly suspicious is BetterFPS since it changes things at quite a low level... but that's the thing with these things... you just never know - could be any of those.

[2016-11-19 00:01] Zarepheth commented on #1054
The crash is occurring while I'm at sea, coordinates approximately -650, 5xx. I'm pretty sure it occurs when a new chunk is created while I'm exploring.

Also, it is causing by one of these 9 mods:
- Apple Skin
- Aquaculture
- Bagginses
- Baubles
- BetterFps
- BirdsNests
- BlockDrops
- Bookshelf
- Botania

Better FPS is supposed to be improving some Trig functions by using a faster, simpler (and a

[2016-11-19 00:05] whichonespink44 commented on #1054
if it's happening at sea, maybe Aquaculture?

[2016-11-19 00:37] Zarepheth commented on #1054
Well, I removed 5 of the previously restored 9 mods. As I went around the Ice Plains island, I noticed a lone pumpkin, covered with snow, next to the beach.

Pumpkin coordinates X=-803, Z=539, Y=66, Vertical Chunk = 4.

The crashes typically occurred when the large hill came into view, but before I row far enough to see the other side.

Suspect mods:
- Apple Skin
- Aquaculture
- Bagginses
- Better

[2016-11-19 00:41] srs-bsns commented on #1054
1. ~~BetterFPS isn't even in your original crashlog, so why is it even being loaded now?~~ n/m, I forgot it doesn't load as a mod.
2. https://github.com/Guichaguri/BetterFps/blob/590a04ce6b516d8316bd920c7c79d90ce94cda5f/src/main/java/guichaguri/betterfps/clones/tileentity/BeaconLogic.java#L102

[2016-11-19 00:50] srs-bsns commented on #1054
Well, here's your problem right here: [19:24:30] [main/DEBUG] [FML/]: Examining for coremod candidacy BetterFps-1.3.3.jar

BetterFPS v1.3.3 is for Minecraft 1.11, not 1.10.2. Downgrade back to BetterFPS v1.3.2.

[2016-11-19 01:12] Zarepheth commented on #1054
@srs-bsns You are probably right. I've narrowed down the crash to either "BetterFps" or "BirdsNests".
As for BetterFps not even being in the original crash, I'm pretty sure I didn't change my loaded mods for 1.10.2 until after I started testing and trouble-shooting. Anyway, I've had BetterFps (of some version) installed for quite a while... (Note: I reviewed the original crash log and I don't see

[2016-11-19 02:16] Zarepheth commented on #1054
With only BetterFps removed, no crash occurs.
It's possible I added it without double-checking its MineCraft version because it was recently updated. I think I noticed that 1.11 mods were out after I'd already downloaded a couple updated mods.

Later this evening, I'll verify that BetterFps 1.3.3 crashes the game when running a 1.10.2 profile, then see what happens with BetterFps 1.3.2.

[2016-11-19 05:20] Zarepheth commented on #1054
BetterFps 1.3.2 works with no crashing (at least at the point all the other crashes occurred).
BetterFps 1.3.3 causes a crash.

[2016-11-19 05:33] Zarepheth commented on #1054
I've posted the issue on Guichaguri's BetterFps project: [https://github.com/Guichaguri/BetterFps/issues/15](https://github.com/Guichaguri/BetterFps/issues/15).

[2016-11-19 14:18] Guichaguri commented on #1054
BetterFps 1.3.3 is for Minecraft 1.11 indeed. The beacon improvement was added in 1.3.3 and I'm still testing it. Any other crash logs, please, report them directly to me ;)

It might be fun to implement a transformer tracking feature to OpenEye for logging which tweaker/coremod might have caused the crash...

[2016-11-22 20:17] whichonespink44 opened #1057 "Forestry trees not generating?"
We've had reports that Forestry trees aren't generating in RTG worlds.

[2016-11-22 20:29] whichonespink44 opened #1058 "Port the 1.10.2 Logger to prevent NoClassDefFoundError"
http://hastebin.com/xucohuzeyo.sql

[2016-11-22 20:43] srs-bsns commented on #1058
already fixed in:
1.7.10: f93ecbdf3906a1c0f47400c24052996619c09fe2
1.8.9: a4e01a5a7a912a5f82552d12a6728dab7ad369a8

[2016-11-22 20:43] #1058 closed, assigned to nobody

[2016-11-22 22:02] srs-bsns commented on #1057
I'm pretty sure that Forestry trees don't naturally generate in the world. They can only be grown from Forestry saplings for which there are mechanics to acquire them (eg: bee pollination), though I could be wrong. However, from a quick glance at the source, I did not see a tree generator.

Perhaps, @mezz can enlighten us.

[2016-11-22 22:36] mezz commented on #1057
That's correct, Forestry trees don't naturally generate in the world.

[2016-11-22 22:39] whichonespink44 commented on #1057
Thanks for the insight @mezz - much appreciated.

[2016-11-22 22:39] #1057 closed, assigned to nobody

[2016-11-23 18:14] Eufranio commented on #1005
Is it fixed in 1.7?

[2016-11-23 18:42] whichonespink44 commented on #1005
Not yet - we're hoping to release an update for 1.7.10 on Sunday - if we do, this will get fixed as part of the update.

[2016-11-23 20:22] Quizer9O8 commented on #1037
I've noticed that there are a lot of small ponds in the Mountain Peaks biome.
Can you reduce that amount please?

[2016-11-23 20:25] Quizer9O8 commented on #1047
this issue is still occuring after the latest update.
It looks like the beach biome tries to become a full biome thus leaving a big rock clump behind with straight unnatural borders.

[2016-11-23 20:26] srs-bsns commented on #1037
@Quizer9O8 Mountain Peaks is a BoP biome, and BoP is responsible for decorating it with ponds, not RTG.

[2016-11-23 20:38] srs-bsns commented on #1047
This is a biome placement issue, and RTG only generates terrain. This is likely caused by another mod that is affecting the placement of the biomes (possibly GeographiCraft). This sort of thing has not been observed with RTG alone.

[2016-11-23 21:19] Quizer9O8 commented on #1047
I really have to disappoint you there.
You see this is happening in RTG also with mod or without it.

[2016-11-26 18:26] chaNcharge opened #1059 "[Feature Request] Make Sugar Cane Spawn More Frequently"
When I play a survival world with RTG, I'd expect to find sugar cane near lakes, rivers, and small ponds, but I cannot find a single sugar cane anywhere. In a normal minecraft world, it's somewhat easy to find, but I explore a world 500 blocks in each direction and have not found one sugar cane. There should be a config option on how frequently they spawn, or just simply make them more common. I a

[2016-11-26 18:35] chaNcharge opened #1060 "Sand on village farmland"
##### Affected Mod Versions:

- Forge version:1.10.2- 12.18.2.2151
- RTG version: 4.1.1.8

##### Issue Description:

Sand spawns on village farmland areas, possibly meant for sugar canes to be there, but the sugar canes are not present

##### Extra Information:
- Seed for the world I found them in: -42786915464327544822
- Loaded with BiomeTweaker using BOP tweaks and BOP 5.0.0.2093
![2016-11-26_09

[2016-11-27 12:46] Quizer9O8 commented on #1060
Besides sand gravel sometimes tend to spawn in there.

[2016-11-27 18:50] delvr commented on #1030
OK this should be fixed in the new Streams 0.3/Farseek 2.0 version. Please give it a try and let me know of any issues, thanks!

[2016-11-27 18:55] #1030 closed, assigned to nobody

[2016-11-27 21:10] Quizer9O8 opened #1062 "(Feature Request) Fractal Terrain option."
Is it possible for RTG to have a kind of config for fractal terrain feature? It would make some amazing continents and island from the shores all the way up to the snowy peaks.
ATG did something similar with the biome placement which was decided by the altitude, climate, geology, and rainfall.
To visualize it better here's an image to show you how it would look like.
![image](https://cloud.githubu

[2016-11-27 22:08] whichonespink44 commented on #1030
@delvr Just tested a few snowy seeds with the latest versions of RTG, Streams & Farseek and didn't see this issue at all, so hopefully @mankra can confirm it's working on his side too.

Nice work on the SpongeForge compatibility by the way! 👍

[2016-11-28 06:14] chaNcharge opened #1063 "Possible conflict with world generation manager"
##### Affected Mod Versions:
(Please list other mods and their versions if you feel they are relevant to this issue. i.e. Biomes O' Plenty)

- Forge version: 12.18.2.2151
- RTG version: 4.1.1.8

##### Issue Description:
When I have world generation manager installed, something is stopping its ASM transformer from working. I'm unsure if the issue is related to RTG, but it's my best guess at the mom

[2016-11-28 06:41] srs-bsns commented on #1063
RTG doesn't utilise ASM at all.

[2016-11-28 06:41] #1063 closed, assigned to nobody

[2016-11-28 08:25] whichonespink44 commented on #1063
@chaNcharge The reason that mods use ASM is to modify Java code in other mods that they otherwise wouldn't be able to modify, so if another mod is having trouble modifying some code, it's up to that mod to fix it.

[2016-11-28 11:39] whichonespink44 commented on #1062
It's a cool idea, but this would be better suited for something like Climate Control or another biome layout manager mod.

[2016-11-28 11:39] #1062 closed, assigned to nobody

[2016-11-28 23:57] xenoflot commented on #1005
Not sure if this is the right place... I've found that trees created during worldgen don't make these checks and are placed after villages are placed. The result being village houses with wood and leaf blocks where there should be stone and other materials.

Running rtg 1.10.2-4.1.1.8

Cheers!

[2016-11-29 00:16] srs-bsns commented on #1005
@xenoflot

No, this is a different issue, and @whichonespink44 added checks in RTG a long time ago to prevent what you are describing, atleast with respect to RTG generated trees. If you are seeing trees growing into village structures, then they are likely non-RTG tree and it is coming from the vanilla biome decorator, or another mod's biome decorator.

If you still feel that it is RTG's trees ge

[2016-11-29 00:56] xenoflot commented on #1005
Perfect, thanks. Further isolation testing shows that it's Recurrent Complex' trees.

[2016-11-29 01:09] chaNcharge commented on #1063
Ok, thank you for the response

[2016-11-29 06:25] srs-bsns opened #1065 "Populate biome configs with defaults for filler/mix/top blocks"
When the biome configs are created they should be populated with default values for:
[code]
This way people that want to change the blocks that are used in a biome will see what blocks are being used and will know which one to change. If someone that wants to change the blocks sees empty config fields, they're likely to become confused.

[2016-11-29 08:19] whichonespink44 commented on #1065
The problem with adding default values is... if we ever modify a biome's surface blocks and update the default config values, the user will still have the old values in his configs, which means we'd need to either tell folks to delete configs before updating or implement some sort of config update management system, so not sure adding pre-populated defaults is the way to go.

However, I definitely

[2016-11-29 08:42] srs-bsns commented on #1065
If not populate the config values, then atleast populate the comments with the default values?

[2016-11-29 08:43] ghost commented on #1030
Fix confirmed. Thanks a lot! :-)

[2016-12-01 22:19] Sunconure11 opened #1066 "Outback biomes appear to be vacant in some spots"
##### Affected Mod Versions:
(Please list other mods and their versions if you feel they are relevant to this issue. i.e. Biomes O' Plenty)

- Forge version:

1614

- RTG version:

1.1.1.3

##### Issue Description:
(Please provide screenshots if neccessary/possible. Images can be dragged & dropped into this window.)

It appears outback biomes are not always 100% decorated. Not sure if this is inte

[2016-12-02 00:16] whichonespink44 commented on #1066
Fixed in 0effd67

[2016-12-02 06:00] srs-bsns commented on #1066
Does this need to be fixed post-1.7.10? I never checked.

[2016-12-02 07:01] whichonespink44 commented on #1066
Not sure, but I'll definitely check it out. It probably does.

[2016-12-03 23:10] whichonespink44 opened #1067 "Re-port SurfaceRiverOasis"
oops

[2016-12-03 23:10] whichonespink44 opened #1068 "Replace FATAL with FMLLog.bigWarning"

[2016-12-04 13:10] whichonespink44 commented on #1068
Fixed for 1.10.2 in e41f0f8

[2016-12-04 13:10] whichonespink44 commented on #1067
Fixed in d8549f9

[2016-12-04 13:10] #1067 closed, assigned to nobody

[2016-12-04 15:43] whichonespink44 commented on #1066
Fixed for 1.10.2 in a13a7e2

[2016-12-05 20:27] Cronosus commented on #1049
not relevant to OP, but i have today crash too on generating world, and i found problem on generating of some biomes.. not generated structures and trees, jut dirt biomes (example: http://cronos.wz.cz/mc/2016-12-05_21.28.24.png)..
i use BoP and biometweaker, and other mods..

crash here: http://cronos.wz.cz/mc/crash-2016-12-05_21.22.48-server.txt

[2016-12-05 20:56] WenXin20 commented on #780
Not sure if this affects anything, but this mod recently changed its mod id from cookingplus to agriculturalrevolution

[2016-12-05 21:45] srs-bsns commented on #1049
@Cronosus Update to: https://github.com/Team-RTG/Realistic-Terrain-Generation/releases/tag/v1.7.10-1.1.1.3

[2016-12-05 21:55] whichonespink44 commented on #780
@WenXin20 Are you sure? I just downloaded the latest version for 1.10.2 and the mod ID is still 'CookingPlus'

[2016-12-05 22:10] srs-bsns commented on #780
The mod ID in the `mcmod.info` file hasn't been updated and it still `CookingPlus`, but if you look at the bytecode in the main class, the mod ID has indeed changed:

[code]

[2016-12-05 22:25] whichonespink44 commented on #780
This is what I'm seeing in the 1.10.2 version:

[code]

[2016-12-05 22:34] srs-bsns commented on #780
I was looking at the bytecode for: [v0.9.0](https://minecraft.curseforge.com/projects/the-agricultural-revolution/files/2352098)

[2016-12-05 22:44] whichonespink44 commented on #780
Bleh, my bad... I could've sworn that's the one I downloaded!

So I guess we should update our reference to the new ID when we release 4.1.19... it will mean that 4.1.1.9 worlds won't be backwards-compatible with worlds that have AR pre 0.9, but that's already the case with AR on its own, so that should be fine, right?

[2016-12-05 22:48] srs-bsns commented on #780
I'm making a fix right now. Worlds should be backwards compatible just fine, unless they changed something in the mod which requires us to change something other than just the mod ID.

[2016-12-05 22:51] whichonespink44 commented on #780
Well, it says this on the mod page:

[2016-12-05 23:01] srs-bsns commented on #780
Oh, sorry, didn't realise what I even typed. What I meant was
- any version of AR can still be used with RTG.
- any backwards incompatibility is with AR, not RTG.

So, we don't need to put up a warning that RTG won't be backwards compatible, just that worlds created with the older version of AR won't be. (they should have reflected this in their version number by bumping the major! :smirk: )

[2016-12-06 20:54] TitusArmillius opened #1072 "Enable 'cliff blocks' to be changed on a per biome basis."
The terrain shadowing option which changes the blocks used for the surfacing of steep surfaces in desert/mountainous biomes only applied universally.

In order to add increased biome customization, the blocks used for cliff surfacing should be configurable for each biome, akin to the other options currently available.

[2016-12-08 00:55] Sunconure11 commented on #1066
I found similar generation in Mesa Plateau M biomes on 1.7.10.

https://www.dropbox.com/s/iv38m5wvh303zlj/Screenshot%202016-12-07%2019.53.40.png?dl=0

I've also been seeing this issue again: https://github.com/Team-RTG/Realistic-Terrain-Generation/issues/817

But it always seem to trigger in savannas or similar biomes as of late.

I still have Magia Naturalis, but I'm likely going to pull it soon

[2016-12-08 02:33] srs-bsns commented on #1066
@Sunconure11
Magia Naturalis has a known serious issue with blocking biome decorations. It's not related to this issue at all, nor does it have anything to do with RTG.
See your other issue: #870

[2016-12-08 02:54] Sunconure11 commented on #1066
Yeah I pulled it for now. I don't think it caused the missing generation in Mesa Plateau M biomes though. I'm pretty sure the shoreline between it and a river is not meant to be grass.

[2016-12-08 03:34] Sunconure11 commented on #1068
Is this CME related to this issue, by any chance? While it happened on a thermos server, I don't think thermos is to blame. I was using a mod to generate chunks when this happened, after finally pulling Magia Naturalis.

http://pastebin.com/fWEgy6gw

[2016-12-08 04:08] srs-bsns commented on #1068
This issue is only about changing how our logger handles `Level.FATAL` logging events. It has nothing to do with CMEs.

[2016-12-08 04:16] Sunconure11 commented on #1068
I see. I guess I'll open up a new issue about this, though I'm pretty sure I did.

[2016-12-08 04:23] Sunconure11 opened #1073 "CME when generating the world with a chunk generator mod"
##### Affected Mod Versions:
(Please list other mods and their versions if you feel they are relevant to this issue. i.e. Biomes O' Plenty)

Chunkgen by Gecgooden (https://mods.curse.com/mc-mods/minecraft/235036-chunkgen)

- Forge version:

1614

- RTG version:

1.1.1.3

##### Issue Description:
(Please provide screenshots if neccessary/possible. Images can be dragged & dropped into this window.)

[2016-12-08 06:37] whichonespink44 commented on #1073
From what I understand, the ChunkGen mod is plagued with a few issues that make pre-genning painful. I'm not saying this is the reason for the crash, but we would recommend using AdminCommandsToolbox to pregen 1.7.10 worlds.

Since RTG doesn't support Thermos environments, I'm going to close this, but this line from the crash report might help in tracking down the problem:

[code]

[2016-12-08 06:37] #1073 closed, assigned to nobody

[2016-12-09 07:35] srs-bsns commented on #780
Updated in 37f80f5cc647a6576b78881954a9b244e9d14a12

[2016-12-10 00:33] whichonespink44 opened #1075 "RiverRemover fails with Biomes You Go"
```[00:29:43] [Server thread/ERROR]: [RTG-ERROR] RiverRemover failed```

This has been happening at least as far back as 4.1.1.8.

To reproduce, load any RTG world with Biomes You Go installed.

[2016-12-10 04:33] srs-bsns commented on #1075
I can confirm that the river remover is only having an issue when the BYG custom dimensions are processed.
[code]
But it is working fine in Dim 0...

River remover working with a dev build of `1.10.2/organic-biomes`:
![2016-12-09_23 24 25](https://cloud.githubusercontent.com/assets/8453133/21071195/00e2cc92-be67-11e6-89a4-e7a88bebaee1.png)

River remover disabled:
![2016-12-09_23 22 17](https://cl

[2016-12-10 04:33] #1075 closed, assigned to nobody

[2016-12-10 21:38] whichonespink44 commented on #1072
Added to 1.10.2 in 0c4f542

[2016-12-10 21:46] whichonespink44 commented on #1059
Added in 5f4ecd2

RTG now *attempts* to generate sugar cane as frequently as it attempts to do so in vanilla, with the exception of a handful of vanilla biomes where it generates slightly less.

The reason you're not seeing as much sugar cane is mainly because RTG generates fewer rivers and fewer lakes, meaning there are fewer valid spawn locations for sugar cane to generate.

For anyone reading t

[2016-12-10 21:46] #1059 closed, assigned to nobody

[2016-12-12 06:06] CrowAU opened #1080 "NULL biome (52) found when growing an RTG sapling."
##### Affected Mod Versions: Biomes o Plenty, Twilight forest (Biome 52 is set to over grown mushroom biome from TF)

- Forge version: 10.13.4.1614
- RTG version: 1.7.10.1.1.1.3

##### Issue Description:
Server crash on RTG sapling growth attempt

##### Steps to reproduce the issue:
1. Load server

##### Extra Information:
-http://pastebin.com/7BYty9T5  (crashlog)

[2016-12-12 06:56] srs-bsns commented on #1080
Twilight Forest biomes were not designed to be generated outside of the Twilight Forest dimension, therefore RTG does not support those biome in the Overworld. Generally, if you add an unsupported biome to Overworld generation, RTG will ignore it and generate vanilla plains, but it appears this has exposed a bug in the event for tree growth.

@CrowAU Actually, have you turned off the biome patcher

[2016-12-12 07:35] CrowAU commented on #1080
So I've found out what caused the events leading to the crash. One of the members of my server was trying to do a rite of shifting seasons from witchery when a zombie showed up with a mushroom in hand, the zombie was killed the mushroom was dropped and transformed the area into deeps mushroom biome, Guessing a sapling then dropped and attempted to grow as one of those RTG trees causing the crash.

[2016-12-12 10:56] ErikSteiner opened #1081 "Some trees will be still generated after changing a biome on a map manually"
##### Affected Mod Versions:

- Forge version: 1.8.9 - 11.15.1.1902
- RTG version: RTG-1.8.9-1.0.0-snapshot-3

##### Issue Description:
It seems like the vegetation would not follow the guideline of the biome settings, if I repopulate my map.
Repopulation means, that I can use [MCEdit](http://www.mcedit.net/) to highlight a specific chunk and tell Minecraft to respawn all vegetation and ores, rela

[2016-12-12 19:27] ErikSteiner commented on #1081
Strange thing is that if I add biomes of Biomes O' Plenty to the map and populate it, those biomes will work and they will obey the config. All vanilla biomes  that are affected will not. Using Bop with Biome Tweaker and the configuration provided in the Rtg thread.

[2016-12-12 22:52] whichonespink44 commented on #1081
@ErikSteiner i have absolutely zero experience with WorldPainter, and I don't think anyone else on Team RTG does either... maybe @MobiusPeverell ? ... so I'm not sure how much help we're gonna be.

From reading your initial post, a couple of things jumped out at me... first, it's normal for RTG to generate decorations from one biome in another biome as the biomes transition into each other (we cal

[2016-12-12 23:07] whichonespink44 commented on #1080
@CrowAU It looks like you have [biome patching](https://github.com/Team-RTG/Realistic-Terrain-Generation/blob/1.10.2-master/etc/config/RTG/rtg.cfg#L32) disabled... as a quick fix you could enable that, and it should prevent that crash from happening again in the future.

As a more permanent fix, RTG should probably just throw a warning instead of crashing in situations where it's trying to grow an

[2016-12-12 23:07] #1080 closed, assigned to whichonespink44

[2016-12-12 23:11] whichonespink44 opened #1082 "Remove biome patching from RTG saplings"
https://github.com/Team-RTG/Realistic-Terrain-Generation/blob/1.10.2-master/src/main/java/rtg/event/EventManagerRTG.java#L223-L228

RTG should just log a warning here instead of patching the biome and handover the sapling growth to the vanilla logic.

This will prevent situations like #1080 from happening in rare edge cases.

[2016-12-13 11:20] ErikSteiner commented on #1081
@whichonespink44:

I didn't notice  anything that could just be related to biome bleeding. I mean the decoration/vegetation of biomes is just wrong. Speaking from the perspective of my exported map from World Painter.

I only use RTG, BoP and Biome Tweaker (because it is required). Should I try out a specific mod to clarify the issue? Maybe you have an idea what to try out..

## **Scientific inves

[2016-12-13 18:25] Sunconure11 opened #1083 "Add support for Growlith's fork of Ars Magica 2 on 1.10.2"
https://github.com/Growlith1223/ArsMagica2

[2016-12-13 19:43] srs-bsns commented on #1083
@whichonespink44 It's likely still the one biome. We just need to port from 1.7.10: https://github.com/Team-RTG/Realistic-Terrain-Generation/tree/1.7.10-master/src/main/java/rtg/world/biome/realistic/arsmagica

[2016-12-13 22:04] whichonespink44 commented on #1047
From Zeno:

We might be able to patch it by having ocean above-sea-level surfacing be the same as beach.

I'll try the beach surfacing patch that Zeno suggested to see if that helps.

[2016-12-13 22:07] ghost commented on #1081
Hm. Certainly seems reasonable. Just wondering though, why did you want a pre-made map (terrain at least) loaded through RTG? For the trees? Because you can paint those in yourself using a custom layer with Custom Tree Repository trees. Great looking map, by the way.

[2016-12-13 22:34] ErikSteiner commented on #1081
Long time ago, I started to use Terrain Control to alter the biome settings and to create a landscape of my dreams. It is a very powerful tool, but I am not one of those who are good at programing beauty. After a while I changed my strategy and used Terrain Control just only for the vegetation, so I removed the vanilla trees from specific biomes and added Custom Tree Repository, added decoration..

[2016-12-13 22:49] ghost commented on #1081
Yeah, I just do all my vegetation and everything in Worldpainter using custom object layers with Repository trees.
And a cool tip I saw a little while back: try doing cliffs with wavy veins of prismarine in the stone using custom terrain. It looks awesome.

[2016-12-13 23:29] whichonespink44 opened #1084 "Make Forest tree heights shorter along biome edges"

[2016-12-13 23:31] whichonespink44 commented on #1084
In 1.7.10 the % of local influence from the biome gets passed in the `strength` var
CPRTG -> RBB -> deco objects
I think 1 is strong

[2016-12-13 23:32] whichonespink44 commented on #1084
Also, reduce the amount of open areas in Forest (adjust the noise floor for the tree condition)

[2016-12-14 00:51] whichonespink44 commented on #1083
The Witchwood Forest isn't currently being registered in 1.5.0-11: https://github.com/Growlith1223/ArsMagica2/issues/30

Gonna have to wait until that gets fixed before we can add biome support.

[2016-12-14 01:51] whichonespink44 commented on #1082
Fixed for 1.10.2 in 72a502a

[2016-12-14 13:21] ghost opened #1085 "Villages placed on rivers"
##### Affected Mod Versions:
- Minecraft version: 1.10.2
- Forge version: 12.18.3.2185
- RTG version: 4.1.2.0
- GeographiCraft: 0.8.0
- Biomes O'Plenty version: 5.0.0.2109

##### Issue Description:
Villages are placed in river biomes on rivers while B:"Allow Villages" is set to false in river.cfg
I also noticed that there's no option for disabling villages in river biomes in geographicraft.cfg, an

[2016-12-14 15:44] srs-bsns commented on #1085
What village?

![2016-12-14_10 40 21](https://cloud.githubusercontent.com/assets/8453133/21188558/c94af256-c1e9-11e6-8da8-1d46518a2f2f.png)

This screenshot is from using only the mods you listed in this issue, but you are clearly using more than just those mods (I can see the TiCon slime island on your minimap). You are going to have to provide your latest log file as well, please.

Also, what is

[2016-12-14 16:15] whichonespink44 commented on #1085
I believe RTG overrides GC in terms of village gen.

Based on that first screenshot, it's possible that the village generation got triggered in a nearby Mesa biome (or Desert, if that's what the sandy areas are), and it just *looks* like it generated in the River. The biome of the well structure, as @srs-bsns mentioned, should reveal if that's the case.

[2016-12-14 17:40] ghost commented on #1085
Sorry, I forgot to mention I changed these options as well:

When I stand on the well, it says river, and I can confirm a village in the middle of a river in another world I tested yesterday.

It's reproducible without TC and the other mods.

[2016-12-14 19:11] whichonespink44 commented on #1085
Since you said `"Allow Villages"=false` in [river.cfg](https://github.com/Team-RTG/Realistic-Terrain-Generation/blob/1.10.2-dev/etc/config/RTG/biomes/vanilla/river.cfg#L131), we'll need to take a look at the 1.10.2 village gen code and see why this is happening.

My understanding from 1.7.10 is that a valid village-spawning biome can trigger a village up to 20 blocks away from the well, but this m

[2016-12-15 09:25] ghost commented on #1085
Do you mean the well can be a few blocks outside of the valid biome? That would explain it, as there's always a little bit land near the village.

I think I will enable villages on rivers anyways and build valid foundations and bridges so it looks intentional.

[2016-12-15 11:21] srs-bsns commented on #1085
I'm pretty sure this is what happens with vanilla village placement. A biome check is made before the well is placed, though the well won't necessarily be at the exact location of the check. RTG's village generation is just a copy of vanilla Minecraft; The only modification we make is allowing a change to frequency and size.

In this case...
`[05:53:29] [Server thread/INFO] [FML]: [RTG-DEBUG] Pote

[2016-12-15 12:37] ghost commented on #1085
I agree. Thanks for your support and advice.

Please also have a look at the outback biome right north of that village. A river runs through it and it looks like the hills are placed somewhat on top of it. I know it's a BOP biome, but maybe you can do something about it, as it doesn't look realistic in that case - the river would erode the hills.

[2016-12-15 13:31] whichonespink44 commented on #1085
No worries... we're currently re-working a few of the biomes for the next big update, so we'll take a look at the rivers as well while we're in there.

[2016-12-15 13:31] #1085 closed, assigned to nobody

[2016-12-18 09:03] Ezoteric commented on #1060
yeah i had this as well with the newest version :(

[2016-12-18 11:42] srs-bsns commented on #1060
After looking at vanilla village generation code (for MC 1.10.2), this should not be happening, and RTG only calls the vanilla generator and does not alter villages in any way.

This is most likely caused by another mod that either:
1. alters village gen. (Any mod that adds custom crops to village farms)
2. does any kind of world gen that adds sand splotches after villages have been generated.

I'

[2016-12-18 11:42] #1060 closed, assigned to nobody

[2016-12-18 12:53] Ezoteric commented on #1060
yeah i was thinking bop or forestry so i guess its bop :)

[2016-12-18 13:34] srs-bsns commented on #1060
Yes, my guess is BoP. In my screenshots above, this has occured in the BoP Meadow, and the BoP Meadow biome adds a generator for sand that I'm pretty sure runs after the village generator, in which case this is the likely result sometimes.

https://github.com/Glitchfiend/BiomesOPlenty/blob/BOP-1.11.x-6.0.x/src/main/java/biomesoplenty/common/biome/overworld/BiomeGenMeadow.java#L56

I'll investigate

[2016-12-18 14:16] whichonespink44 commented on #1037
If we add the RTG worldtype to BOPBiomes.excludedDecoratedWorldTypes, which is available via the BOP API, it might just start working like it used to (best case) or we might need to call BOP generators individually (worst case).

So... adding the RTG world type to `BOPBiomes.excludedDecoratedWorldTypes` prevents *all* BOP decorations from generating in RTG worlds. This includes everything from the

[2016-12-18 15:19] srs-bsns commented on #1037
For BoP biomes, overrides can be used. In the case of ponds in the Mountain Peaks biome you can create a file called `mountain_peaks.json` and put it in `config/biomesoplenty/biomes`. The file should contain:
[code]
For `<float value>` any value lower than `1.8` will reduce the amount of ponds. (`1.8` is the default) Higher values will increase the amount.

@whichonespink44 The generators can be r

[2016-12-18 17:58] srs-bsns commented on #1060
Here's another example from Grassland where you can see that there used to be farmland and the plant blocks were turned into their item counterparts after the blocks were changed to gravel:

![2016-12-18_12 26 49](https://cloud.githubusercontent.com/assets/8453133/21295371/b33176e4-c521-11e6-8173-972c2c9d217f.png)

[2016-12-19 14:12] ErikSteiner commented on #1081
@whichonespink44 Hi there.

Today I want to show the influence of BoP and Thaumcraft biomes on the output of the map. I am going to create a map in singleplayer with RTG, Biome Tweaker, BoP and Thaumcraft, with the seed **2823673442459948865**. Then I am going change the biomes of this map. Normally I could do that with MCEdit like in my last investigation, but World Painter can do that, too. A lo

[2016-12-20 18:15] xlxAciDxlx opened #1086 "Crash During Client Loading"
##### Affected Mod Versions:
- AbyssalCraft: 1.9.3.9
- Biomes O Plenty: 5.0.0.2109
- Forge version: 12.18.3.2185
- RTG version: 4.1.2.0

##### Issue Description:
Disabling an AbyssalCraft biome in the config causes RTG to crash.

##### Steps to reproduce the issue: (If it's easily reproducible.)
1. Install AbyssalCraft
2. Install Biomes O Plenty
3. Install RTG
4. Disable an AbyssalCraft biome in t

[2016-12-20 18:23] srs-bsns commented on #1086
Please provide the full crash report, and your `fml-client-latest.log`

[2016-12-20 18:28] xlxAciDxlx commented on #1086
Updated the initial post to include both. Sorry about that!

[2016-12-20 19:08] xlxAciDxlx commented on #1086
So, I'm pretty sure this has something to do with RTG trying to add the "Darklands Highland" from AbyssalCraft, as that shows up in the client log and that biome is actually disabled in my AbyssalCraft config. Will try enabling it in the config and see if it fixes the crash.

Yep, this is definitely confirmed to be caused by AbyssalCraft biomes being disabled via the config. I only re-enabled one

[2016-12-20 22:59] srs-bsns commented on #1086
@xlxAciDxlx This fix will likely go out this coming weekend. Until then there isn't any choice but to leave the AbyssalCraft biomes enabled.

Thanks for reporting.

[2016-12-21 00:40] srs-bsns opened #1088 "Village frequency issue"
On the MMD Dev Server, village generation seems to be boosted somehow. The RTG configs are using vanilla frequency settings (min distance = 8, max distance = 32), but there seems to be way more villages than there should be.

I've not noticed this in any testing I've done in SSP with those same settings, so I can only assume it's a mod interaction bug. I'll try to investigate this in SSP with the

[2016-12-21 07:20] ErikSteiner commented on #1081
There is really something strange going on. It seems like I am right with my theory of how RTG works, even if I am not aware of the process in detail. If I set the world to repopulate, RTG seems to start from scratch by looking at the seed ID and places the trees (all type of trees and Mushrooms, too) related to the ID. There is also something going on with the terrain generator, because I saw a c

[2016-12-21 14:01] srs-bsns commented on #1083
fixed in https://github.com/Growlith1223/ArsMagica2/pull/107/commits/afac12cbbb31e6e85c32c49cb3184e9e76b6496d

[2016-12-21 14:20] xlxAciDxlx commented on #1086
Awesome! Thank you for the response and such a quick fix!

[2016-12-21 18:43] whichonespink44 commented on #1088
Villages tend to generate more frequently in RTG worlds, I'm assuming because there are more suitable spawn locations, given a greater amount of flat terrain, but I haven't confirmed that's the reason. That's why the default RTG configs are set to be lower than vanilla, so that they effectively end up generating at about the same frequency as vanilla.

[2016-12-21 18:44] #1086 closed, assigned to nobody

[2016-12-21 19:09] whichonespink44 commented on #1081
@ErikSteiner We were discussing this issue on our Discord server the other day, and Zeno had this to say about it:

With that said, I'm not sure what the best way forward is from here... I'm thinking it would probably be best if the author of World Painter got involved, as it sounds like there isn't much we can do from our side.

@Captain-Chaos Any ideas on how this issue can be resolved? If there

[2016-12-21 19:25] srs-bsns commented on #1088
Due to how villages seem to generate on the sides of mountains and over rivers, I can't see there being much checking going on for a suitable site that would have them generating less in a vanilla world. Though I always wondered why you had more relaxed settings in the config.

I don't really recall seeing much of an issue like this during testing when I used the vanilla values, though. Or, maybe

[2016-12-21 19:42] whichonespink44 commented on #1088
Actually, now that I think about it, it's probably more to do with the fact that villages can generate in most biomes in RTG, whereas only a couple biomes in vanilla have villages enabled. I bet the frequencies would be the same if only the vanilla village-biomes had villages allowed in RTG worlds.

[2016-12-21 20:50] whichonespink44 opened #1089 "Add config option to disable decoration bleeding"
We'll add this to the 1.10.2 version, and then backport it to 1.8.9 (which will address #1081).

[2016-12-21 20:56] Captain-Chaos commented on #1081
Could someone give me a summary of the issue? Is "the painter mod" WorldPainter, and to what does "the Genlayer stack" refer? It doesn't sound like something that WP would have control over. Remember that WorldPainter is not a mod, it's a stand alone program which generates Minecraft maps on disk. It has no influence on a Minecraft client or server's runtime behaviour other than what can be commun

[2016-12-23 04:55] srs-bsns commented on #1083
@whichonespink44
There is a new release with the working biome that can be used for testing: https://github.com/Growlith1223/ArsMagica2/releases/tag/v1.5.0-12

[2016-12-24 14:45] whichonespink44 opened #1091 "Vines on Volcanoes"
They're everywhere... need to copy across the fix from 1.7.10 as I think it got lost somewhere along the way.

[2016-12-24 16:11] srs-bsns commented on #1091
I've never seen this. (not callin you a liar though as none of the volcanos I've seen recently were in Jungle.) #BlameRTG

[2016-12-24 22:32] Happiys opened #1092 "Server cant generate chunks caused to run out of memory [1.7.10]"
##### Affected Mod Versions:
(Please list other mods and their versions if you feel they are relevant to this issue. i.e. Biomes O' Plenty)

- Forge version: 1.7.10 - 10.13.4.1614
- RTG version: 1.7.10-1.1.1.3

##### Issue Description:
(Please provide screenshots if neccessary/possible. Images can be dragged & dropped into this window.)
Forge seems to confused it self with what mod It wants to use

[2016-12-24 22:53] srs-bsns commented on #1092
1. The stacktrace in that crash report doesn't show any RTG classes at all, and it alludes to it occuring with Mystcrafts chunk provider, which means this is in a Mystcraft dimension. RTG only works in Dim 0 and will not do anything in a Mystcraft dimension at all.

2. RTG has never done anything on it's own that would lead to a server running out of memory. Either your server doesn't have enough

[2016-12-24 22:53] #1092 closed, assigned to nobody

[2016-12-25 01:53] Happiys commented on #1092
Yeah kinda found out after removing it

[2016-12-27 01:29] whichonespink44 commented on #1091
Fixed in 1597c0e

(Vines weren't appearing on volcanoes in Mega Taiga, but they were on volcanoes that spawned in jungles.)

[2016-12-27 01:29] #1091 closed, assigned to whichonespink44

[2016-12-27 01:29] whichonespink44 commented on #1083
Added in 0a37d66

[2016-12-27 01:29] #1083 closed, assigned to whichonespink44

[2016-12-27 01:32] whichonespink44 commented on #1084
Improved in a2815a2

[2016-12-27 01:32] #1084 closed, assigned to whichonespink44

[2017-01-01 12:35] Sunconure11 opened #1096 "Wrong kinds of wood generating in tropical biomes"
##### Affected Mod Versions:
(Please list other mods and their versions if you feel they are relevant to this issue. i.e. Biomes O' Plenty)

- Forge version:

2185

- RTG version:

4.1.2.1

##### Issue Description:
(Please provide screenshots if neccessary/possible. Images can be dragged & dropped into this window.)

When Biomes O' Plenty is installed, if one goes in a tropical biome, fallen hellb

[2017-01-01 21:54] WenXin20 opened #1097 "No Such Method Error Crash w/ Expedition Mod"
##### Affected Mod Versions:

- Forge version: 2185
- RTG version: 4.1.2.1
- Expedition version: 1.3 Beta 8

##### Issue Description:

It crashes with the Expedition Mod mod on new world generation

##### Steps to reproduce the issue: (If it's easily reproducible.)

1. Launch the game
2. Start a new world

##### Extra Information:
- [Crash Log](http://pastebin.com/S0iU9y8S)

[2017-01-01 22:30] srs-bsns commented on #1097
From your crashlog: `UCHIJAA RTG{4.1.2.0} [Realistic Terrain Generation] (RTG-1.10.2-4.1.2.0.jar)`

You are actually using RTG 4.1.2.0. You need to update RTG to 4.1.2.1 as the newer versions of Expedition are updated to use the latest.

[2017-01-01 22:30] #1097 closed, assigned to nobody

[2017-01-01 22:39] srs-bsns commented on #1097
CC: @WhiskyTangoFawks Since you are using reflection for your RTG compatibility, you should probably add some version range checking for RTG so people will get an error screen when they try to load a version of Expedition that isn't compatible with the version of RTG they are loading. A simple soft dependency check will suffice: `after:RTG@[4.1.2.1,)`, for example.

[2017-01-01 22:48] WhiskyTangoFawks commented on #1097
Good idea.   Done in my dev environment, will ship with the next release.

[2017-01-01 22:59] srs-bsns commented on #1096
![2017-01-01_17 58 09](https://cloud.githubusercontent.com/assets/8453133/21583374/f05d23bc-d04b-11e6-9c30-4773cd5c2e9a.png)

[2017-01-02 08:23] Zygus42 opened #1098 "[feature request] biome size settings by biome"
I would like to be able to set biome sizes per biome rather than by world.  So for example, have plains size 7 and swamps size 2.  This would be especially good with other mods that add special or magical biomes, as we like large biomes, but having those biomes large makes them kind of not-special.  Now that you have a config file for each biome, this ought to be possible and not too difficult to

[2017-01-02 08:41] srs-bsns commented on #1098
RTG only generates the terrain, it does not handle biome layouts.

As of the time of this posting, I don't believe there is any mod that can do what you are asking.

[2017-01-02 08:41] #1098 closed, assigned to nobody

[2017-01-02 12:45] whichonespink44 commented on #1096
Bleh, thought we fixed that one already... I'll get this sorted for the next release this weekend.

[2017-01-02 12:49] whichonespink44 commented on #1097
@WhiskyTangoFawks I'll also try to make sure I give you a heads-up before we do a big update... ideally, RTG should be providing an API so you can do your thing, but that might end up taking a while. In the meantime, I'll just try to give some advanced warning before we update.

Speaking of which, we're planning to release a new version this weekend, but I don't think it's going to break anything

[2017-01-02 13:50] WhiskyTangoFawks commented on #1097
The only thing I'm doing is getting out the tree array, and and calling individual trees to generate.  Now that I think about it would probably be simpler, and a lot less dependent on what you guys are doing to just put the tree generation cancelling I'm doing behind the simplex generation I'm already using, and just leave RTG to do it's thing instead of trying to interfere...

[2017-01-02 14:44] NitroxydeX opened #1099 "Igloo generation seems broken"
##### Affected Mod Versions:
- Forge version: 1.10.2-12.18.3.2185
- RTG version: 1.10.2-4.1.1.8
- Biomes O Plenty: 1.10.2-5.0.0.2109

##### Issue Description:
![minecraftcoldbiomes](https://cloud.githubusercontent.com/assets/9305576/21591067/2198bc38-d101-11e6-8ca2-7987d7ccc2e2.PNG)

I've searched through a kinda big cold area for Igloos. You find some special items from "Tough as Nails" inside th

[2017-01-03 01:45] srs-bsns commented on #1099
Igloos are very rare, even in vanilla. The only biomes they generate in are Ice Plains, and Cold Taiga, and even in those biomes they are very rare. Regardless, I've verified that they are generating in RTG worlds.

If Tough As Nails generates loot in igloos, then it's either designed to be very rare loot, or the mod is imbalanced by relying on that loot being found only in igloos. Try opening up

[2017-01-03 01:45] #1099 closed, assigned to nobody

[2017-01-03 20:15] WhiskyTangoFawks commented on #1097
Alright, just FYI, as of 1.3.1 I've stripped out the RTG stuff from Expedition.  Instead of trying to meddle with getting and generating RTG's tree types, I've just cancelled the tree gen event based on a simplex generator to get a mix of RTG trees and mine.  Much simpler, and means I don't need to worry about compatibility issues with future updates.

[2017-01-04 13:37] whichonespink44 opened #1100 "Add biome signature to volcanoes"
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=4135

@Zeno410 Not sure how possible/desirable this would be, but maybe we could add a config option similar to the ones we have for the scenic lakes? So by default, the volcanoes would inherit the biome signature of the biome they generate in, but if the user e

[2017-01-04 19:19] CcytherR opened #1101 "Crash while exploring ice plains"
http://pastebin.com/LUcQMzfh

[2017-01-04 19:40] whichonespink44 commented on #1101
I noticed the ChunkGen mod in your crash report... did this crash happen in-game or whilst you were pre-genning the world?

Either way, there's not that much RTG can do about ConcurrentModificationException crashes. Are you able to log back in and continue playing? Or does it crash every time you try to log back in?

[2017-01-04 19:41] whichonespink44 commented on #1101
Also... just out of curiosity... what biome are you using for your Lonely Biome? :)

[2017-01-05 10:33] Zygus42 opened #1102 "New Kind of Mega Lag"
##### Affected Mod Versions:
(Please list other mods and their versions if you feel they are relevant to this issue. i.e. Biomes O' Plenty)

- Forge version: forge-1.10.2-12.18.3.2185
- RTG version: RTG-1.10.2-4.1.2.1

##### Issue Description:
(Please provide screenshots if neccessary/possible. Images can be dragged & dropped into this window.)
I'm building a new 1.10.2 server game for our small g

[2017-01-05 10:50] srs-bsns commented on #1102
We are aware of this and are currently investigating the issue.

[2017-01-05 10:51] Zygus42 commented on #1102
NM - turns out that when you follow instructions and delete the RTG folder first, it fixes this issue pretty much completely.  Is still maybe a tad slower, but not much.

[2017-01-05 10:52] srs-bsns commented on #1102
No, there is an issue, but it is itermittant. This will likely be resolved for our next release.

[2017-01-06 16:14] whichonespink44 opened #1103 "I have 8GB of RAM!!!! :D"
:pitchfork:

[2017-01-06 16:41] #1103 closed, assigned to nobody

[2017-01-06 21:40] WenXin20 opened #1104 "Biome Compatibility for Jikou Mod"
MC 1.10.2
This is a new mod recently released that adds a new biome.
Link: https://minecraft.curseforge.com/projects/jikou

[2017-01-06 22:29] CcytherR commented on #1101
ice plains :) its in the title lol sorry i didnt think of checking back till now, i just got the same error again for a different biome so its not biome exclusive this time it was caves biome as lonely biome from enviromine mod, just playing around testing lonely biome with every biome, after this crash it lets me log back in after  it seems similar to another crash that occurs when theres a fault

[2017-01-08 15:26] whichonespink44 commented on #1096
Fixed in 6d7f75d

[2017-01-08 15:26] #1096 closed, assigned to whichonespink44

[2017-01-09 06:28] Sandriell commented on #923
Railcraft never had oil generation... that is Buildcraft. Buildcraft will not be developed for 1.10.2 and is instead targetting 1.11.2

[2017-01-09 07:11] Zygus42 commented on #1102
Don't know if this helps at all, but it doesn't happen if you delete the config folder and start up a new world, but if you then run it again with the new config folder (no changes), it happens again when you start up a new world.

[2017-01-09 09:36] srs-bsns commented on #1102
@Zygus42 Deleting the config won't have any effect. When RTG starts it uses the default config values, and if the config files don't exist, then it creates them with the same dafault values.

You aren't seeing the issue all the time because it is itermittant, and since it only happens when generating new chunks, you won't see it immediately in a new world until you leave the spawn area, and even t

[2017-01-09 14:03] Zygus42 commented on #1102
Wish I could show you on my computer, because i'm a computer programmer and so I know what you're saying, but I'm adhering to a pretty strict testing regime for this build and my results are NOT intermittent, they're consistent and re-creatable.  I'm re-creating the same world over and over again each time, and when I start it without a folder, and move away from the spawn spot (always moving in t

[2017-01-09 15:22] whichonespink44 commented on #1102
@Zygus42 Can you try this snapshot and see if you still experience the same issue? https://drive.google.com/open?id=0B7tFzVqlzYLPZFVjYWd1eUNwX00

I loaded up the seed from your log file, using that version of RTG + BOP and spawned in a Jungle biome. Tried flying around waiting for the blackness to appear, but everything seemed alright, so hopefully our latest changes will have fixed it.

Let us kn

[2017-01-10 10:29] Zygus42 commented on #1102
Lovely.  Works like a charm !  Well done !

[2017-01-11 04:48] Zygus42 commented on #1102
_Sorry to add to this, with a semi-related issue.  The version above (v4.1.2.2-snapshot-1) works, but the version you put on CurseForge (v4.1.2.2) no longer works with the Stream mod.  Getting the following:
[Uploading crash-2017-01-11_12.43.50-client.txt…]()

Not sure if you want me to report this to the Streams dev instead......_

NM NM NM - turned out to be a completely unrelated issue where i

[2017-01-11 05:10] srs-bsns commented on #1102
@Zygus42 The link you provided doesn't link to anything (so by default GitHub linked it to this issue instead of the file).
Please open up another issue for this though.

[2017-01-11 07:49] whichonespink44 commented on #1102
Fixed in c1f2b6f

[2017-01-11 07:49] #1102 closed, assigned to srs-bsns, whichonespink44

[2017-01-11 12:46] Quizer9O8 opened #1107 "Something else than RTG 2 [Name Suggestion]"
Since RTG 2 is in the making it might be a good idea to rethink the name choice.
The name RTG 2 sounds so simple and dull since the number 2 gets used often by rewrites or sequels which make number 2 less special IMO (in my opinion). It wouldn't be a bad idea to call RTG 2 something else other than only a 2 added.
text inside in parentheses: (hello world) won't be included.
Here are some name sugg

[2017-01-11 12:58] srs-bsns commented on #1107
A rewrite of RTG is currently *not* in the making.

If you are refering to the RTG2-* branches in this repo, they haven't been touched in months. The name of those branches is just a working name to differentiate them.

It's not likely that the name will change, and if it does, it will likely be shortened, not lengthened.

[2017-01-11 12:58] #1107 closed, assigned to nobody

[2017-01-12 07:27] Eufranio commented on #1103
yayyy

[2017-01-14 21:30] ghost opened #1111 "add support to 1.11.2"
this mod must be on 1.11.2

[2017-01-14 21:33] srs-bsns commented on #1111
It's being worked on.

[2017-01-14 21:33] #1111 closed, assigned to nobody

[2017-01-17 00:13] Sunconure11 commented on #1066
I can confirm that some of the mesa biomes might be having the same issue as the outback. This is unrelated to the weird generation bug that I gave up trying to resolve as I wait for Thaumcraft to come onto 1.0.2.

https://www.dropbox.com/s/kr0g08aufus4gtb/Screenshot%202017-01-16%2019.11.32.png?dl=0

Mesa Plateau M

Check the code of similar biomes, to see if they could hypothetically be having th

[2017-01-17 14:52] Ezoteric commented on #1107
RTG FH where FH stands for Fuck Hope as mc code will be garbage for ever....

[2017-01-17 16:41] Ezoteric commented on #1066
It also spawns desert temples, it was near a river and beach but the biome said outback, just my 2 cents :P

[2017-01-17 21:20] hagfelsh opened #1113 "RTG generation on world AFTER creation?"
Not a bug--just a design operation question:

Will RTG generate chunks as needed in a world that was initially created without the mod?  I didn't find this wonderful thing until after we had been building for several weeks.  There's no way they'll allow a wipe and restart at this point.

I set level-type to RTG and teleported to random places to see if I could notice a difference, but nothing appe

[2017-01-17 21:34] whichonespink44 commented on #1113
~~If you set level-type=RTG, then it should be generating realistic terrain in new chunks.~~ See message below.

The places that you teleported to... are you *sure* they were new chunks?

[2017-01-17 21:52] srs-bsns commented on #1113
Negative. The `level.dat` file in the world save directory will need to be NBT-edited to change the name of the generator to `RTG`.
If you do this in an existing world, you are going to have chunk walls between existing chunks and new chunks.

@hagfelsh In the future, please try to limit questions to our [MCF thread](http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-r

[2017-01-17 21:52] #1113 closed, assigned to nobody

[2017-01-17 22:51] Zeno410 opened #1115 "BoP biomes not recognized in 1.11"
RTG-1.11, BoP 2128, and GC 0.8.5

RTG is not recognizing the BoP biomes. They are there: GC finds them and BoP generates its own worldtype just fine, but RTG puts this in the log files:

[14:25:37] [Client thread/WARN] [FML/rtg]: [RTG-WARN] WARNING! RTG could not find a realistic version of Alps (41) from biomesoplenty.common.biome.overworld.BiomeGenAlps. (If Alps is a non-Overworld biome, then th

[2017-01-17 23:52] srs-bsns commented on #1115
https://github.com/Team-RTG/Realistic-Terrain-Generation/blob/e5b80427b32400853f7728e318a3c06405bae9be/src/main/java/rtg/world/biome/realistic/biomesoplenty/RealisticBiomeBOPBase.java#L93

I win again.

[2017-01-17 23:52] whichonespink44 commented on #1115
Forgot to lowercase BOP's mod ID in RBBOPBase.addBiomes() ... this will get fixed in #1114

[2017-01-17 23:52] #1115 closed, assigned to nobody

[2017-01-17 23:54] whichonespink44 commented on #1115
I *knew* you wouldn't be able to resist the temptation ;)

[2017-01-18 03:08] hagfelsh commented on #1113
@srs-bsns Sorry about the abuse!  I should have looked again for the forum; you're so active here that I didn't pause to think about it!  Thanks for answering my question, too :)

[2017-01-18 20:56] whichonespink44 opened #1116 "1.10 / 1.11 / 1.12 TODO List"
# Terrains [1.10]

### Vanilla
- [x] Extreme Hills + variants - more like BOP Mountain Peaks, but not quite as epic
- [x] Ocean & Deep Ocean - latter deeper than the former
- [ ] ~~River & Frozen River - deeper as per #923~~
- [x] ~~Mesa Plateau + variants - more epic plateaus as per RWG Canyons with multiple levels~~
- [x] Mesa - more closely resembles Arizona/Nevada mesas, whilst allowing the pl

[2017-01-19 14:15] Ezoteric commented on #1116
touch my desert and ill ddos you for years pinky :P

[2017-01-19 19:56] srs-bsns commented on #1116
# Biome Decoration/Surfacing [1.10]

### Vanilla
- [x] ~~Remove sugar cane from snowy biomes.~~
- [x] Re-surface vanilla Ocean & Deep Ocean to be less swirly
- [x] Re-surface Extreme Hills variants to more closely match their vanilla counterparts (in blocks used, not aesthetics)
- [x] Re-decorate Taiga variants to have more varied, Taiga-esque trees.
- [x] Make Roofed Forest less dense to allow so

[2017-01-19 19:58] srs-bsns commented on #1116
# Other

- [x] Add World Customisation GUI Screen (in progress)
- [x] Remove Dim 0 restriction and allow RTG to work in other dimensions (in progress)

[2017-01-22 20:43] kenijey commented on #1116
any scheduled date? we are really excited, can't wait

[2017-01-22 20:50] srs-bsns commented on #1116
No. And there won't be a release for a while as there is much to do.

[2017-01-26 21:37] WenXin20 opened #1121 "Biome Support for Rockhounding: Surface Mod 1.10.2"
##### Affected Mod Versions:
Forge 1.10.2
[Rockhounding: Surface v1.07](https://minecraft.curseforge.com/projects/rockhounding-mod-surface/files/2373420)

##### Issue Description:
This mod recently added the White Sands Beach.

[2017-01-27 01:18] WenXin20 opened #1123 "Crash w/ Simple Dimensions & Terrain Control"
##### Affected Mod Versions:

- Forge version: 1.10.2-v2221
- RTG version: v4.1.2.2
- [ Simple Dimensions v1.3](https://minecraft.curseforge.com/projects/simple-dimensions)
- Terrain Control using the [Biome Bundle v4.1](https://minecraft.curseforge.com/projects/biome-bundle) Configurations _(Installation instructions are on the website)_

##### Issue Description:
I get a crash when I create a dim

[2017-01-27 01:44] srs-bsns commented on #1123
Please see our [Minecraft Forum thread](http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes) for mod compatibility lists.

[code]

RTG will also not work outside of Dimension 0.

[2017-01-27 01:44] #1123 closed, assigned to nobody

[2017-01-27 02:31] WenXin20 commented on #1123
Ok, thanks

[2017-01-29 08:45] AlexiyOrlov opened #1128 "[Request] Allow RTG creation for custom dimensions"
- Forge version: 1.10.2-12.18.3.2185
- RTG version: 4.1.2.2

##### Issue Description:
I have a dimension creation system in my mod, and when I tried to create a dimension with RTG world type, it crashed. So I looked at your code and saw that you are allowing RTG to work only in dimension 0, otherwise it throws exceptions.

##### Steps to reproduce the issue:

1. Make a dimension with id other than

[2017-01-29 13:36] srs-bsns commented on #1128
@AlexiyOrlov This is already on our [TODO list](https://github.com/Team-RTG/Realistic-Terrain-Generation/issues/1116) for 1.11, but due to the possible complexity of removing the dimension restriction, and of it possibly being a breaking change, it's something that may not get backported to 1.10.

[2017-01-30 16:59] srs-bsns commented on #1101
Apart from adding 3fe6f962e37baacce831bc63a0cac578c5b05d8e in the previous release, there isn't much more we can do to prevent CMEs like this in 1.7.10 as it is a crash with how Minecraft works. CMEs like this don't appear to happen in new versions of Minecraft.

[2017-01-30 16:59] #1101 closed, assigned to nobody

[2017-01-30 18:02] srs-bsns commented on #1100
This would only be possible by adding a custom biome, and there's no way to do that without a client-side component.

Perhaps, in the future, volcanos can be moved to an add-on where adding a biome for them is more appropriate (and most desireable).

[2017-01-30 18:02] #1100 closed, assigned to nobody

[2017-01-30 18:10] srs-bsns commented on #1072
This doesn't seem like it would be that difficult to backport to 1.7.10, but would it really be that useful?

People that are still playing 1.7.10 have worlds that are many months old and probably aren't going to create a new world where this would be used.

[2017-01-30 18:11] srs-bsns commented on #1089
This should be an easy port to 1.7.10

[2017-01-30 18:13] srs-bsns commented on #1082
This should be an easy port to 1.7.10

[2017-01-30 19:18] whichonespink44 commented on #1081
@Captain-Chaos Sorry for not replying sooner - I have absolutely no idea how I missed your reply!

Given that WP works primarily with the level.dat file, I don't think there's anything that can be done to resolve these issues. And even if there was, we don't have the resources to dedicate to fixing it as all of our time has already been allocated to other projects.

Having said that, we're making

[2017-01-30 19:18] #1081 closed, assigned to nobody

[2017-01-30 19:30] #1068 closed, assigned to nobody

[2017-01-30 19:34] srs-bsns commented on #1049
Closing this as there isn't much more we can do to prevent CMEs like this in 1.7.10 as it is a crash with how Minecraft works. CMEs like this don't appear to happen in new versions of Minecraft.

[2017-01-30 19:34] #1049 closed, assigned to nobody

[2017-01-30 19:39] srs-bsns commented on #1024
There's no reason to keep this issue open as this would be a breaking change. It's already a part of the [1.11 TODO list](https://github.com/Team-RTG/Realistic-Terrain-Generation/issues/1116) and it will likely be backported to 1.10 if we decided to do anymore breaking changes there, but nothing like this will be backported to 1.7.10.

[2017-01-30 19:39] #1024 closed, assigned to nobody

[2017-01-30 19:48] srs-bsns commented on #923
There's no reason to keep this issue open as this would be a breaking change. It's already a part of the [1.11 TODO list](https://github.com/Team-RTG/Realistic-Terrain-Generation/issues/1116) and it will likely be backported to 1.10 if we decided to do anymore breaking changes there, but nothing like this will be backported to 1.7.10.

[2017-01-30 19:51] srs-bsns commented on #895
Nothing left to do here.

[2017-01-30 19:53] srs-bsns commented on #553
No point in attempting to implement this in 1.7.10 now.

[2017-01-30 19:53] #553 closed

[2017-01-30 20:14] srs-bsns commented on #824
I think any thing here is either:
 - Already fixed, or was never broken to begin with.
 - too much work to fix trivial issues that likely won't ever get used as there isn't a high demand of users starting new worlds in 1.7.10.
 - the changes would be breaking, and therefore not going to happen in 1.7.10.

[2017-01-30 20:14] #824 closed, assigned to nobody

[2017-01-30 20:15] srs-bsns commented on #863
No more breaking changes for 1.7.10.

[2017-01-30 20:15] #863 closed, assigned to Zeno410

[2017-01-30 21:20] DracoScythem commented on #895
As 1.7 is still missing this I assume you stopped actively supporting it?
(Nothing wrong with it, just curious as I couldn't find any 'official statement')

[2017-01-30 21:43] srs-bsns commented on #895
We're in the process of putting together a final release for 1.7.10, so issues that will no longer be addressed for 1.7.10 are being closed, while others that won't cause any breaking changes will be fixed. I though that this was already resolved, but it appears not.

[2017-01-31 16:00] whichonespink44 commented on #1066
Fixed for 1.8.9 in 7101cae

[2017-01-31 16:00] #1066 closed, assigned to whichonespink44

[2017-01-31 16:53] whichonespink44 commented on #1027
Added for 1.8.9 in 79f5a6d

[2017-01-31 17:32] whichonespink44 commented on #1072
Added for 1.8.9 in e3a10d8

[2017-01-31 17:45] whichonespink44 commented on #1065
Added for 1.8.9 in 354f24e

[2017-01-31 19:57] whichonespink44 commented on #1005
Fixed for 1.8.9 in 385020f

[2017-01-31 21:32] whichonespink44 commented on #1082
Fixed for 1.8.9 in 55b66dd

[2017-01-31 21:35] whichonespink44 commented on #1013
Fixed for 1.8.9 in 385020f

[2017-01-31 21:35] whichonespink44 commented on #910
Fixed for 1.8.9 in 58bf5e4

[2017-02-01 07:49] whichonespink44 commented on #931
Added in e6f028a

[2017-02-01 07:49] #931 closed, assigned to nobody

[2017-02-01 20:20] whichonespink44 commented on #910
Fixed for 1.7.10 in eb53169

[2017-02-01 20:20] #910 closed, assigned to nobody

[2017-02-01 21:35] whichonespink44 commented on #1027
Added for 1.7.10 in a723abc

[2017-02-01 21:35] #1027 closed, assigned to nobody

[2017-02-01 22:17] whichonespink44 commented on #1072
Added for 1.7.10 in 2bbbc74

[2017-02-01 22:17] #1072 closed, assigned to nobody

[2017-02-01 22:42] whichonespink44 commented on #1065
Added for 1.7.10 in d5e86bc

[2017-02-01 22:42] #1065 closed, assigned to whichonespink44

[2017-02-01 23:04] whichonespink44 commented on #895
Added for 1.7.10 in 8ea9b3c

[2017-02-01 23:04] #895 closed, assigned to nobody

[2017-02-02 09:05] #1088 closed, assigned to srs-bsns

[2017-02-02 09:06] #1082 closed, assigned to whichonespink44

[2017-02-02 09:19] srs-bsns commented on #1037
Moved to the 1.11.2 TODO list: #1116

[2017-02-02 09:19] #1037 closed, assigned to nobody

[2017-02-02 09:25] srs-bsns commented on #1047
This is from a few days ago using a dev build from ab6402f2035d14d2e88ab65b71cb2da2af52bd83

![2017-01-29_23 26 48](https://cloud.githubusercontent.com/assets/8453133/22543565/109a115a-e8ff-11e6-8d11-595df4b82f37.png)

What more needs to be done here?

[2017-02-02 10:25] srs-bsns commented on #714
Closing this for now as this feature is currently broken and disabled by default in SGCraft.

[2017-02-02 10:25] #714 closed

[2017-02-03 00:00] whichonespink44 commented on #1013
Fixed for 1.7.10 in 7e6daf9

[2017-02-03 00:00] #1013 closed, assigned to nobody

[2017-02-03 00:01] whichonespink44 commented on #1005
Fixed for 1.7.10 in 7e6daf9

[2017-02-03 00:01] #1005 closed, assigned to whichonespink44

[2017-02-04 07:58] whichonespink44 opened #1132 "River frequency multiplier description states river width instead"
https://github.com/Team-RTG/Realistic-Terrain-Generation/blob/1.11.2-dev/src/main/java/rtg/api/config/RTGConfig.java#L895

[2017-02-04 07:59] whichonespink44 opened #1133 "Ocean monuments not generating in BiomeTweak'd RTG worlds"
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=4199

[2017-02-04 10:47] srs-bsns commented on #1133
RTG + BiomeTweaker
Seed: -6114793308047248760
BT Script:
[code]

![2017-02-04_05 42 01](https://cloud.githubusercontent.com/assets/8453133/22617858/cb9ecb6e-ea9c-11e6-8098-0de2d7fb1389.png)

[2017-02-05 01:05] whichonespink44 commented on #1133
Confirmed ocean monuments generating in all MC versions with BiomeTweaker + BOP.

[2017-02-05 01:05] #1133 closed, assigned to nobody

[2017-02-05 18:54] whichonespink44 commented on #1132
Fixed for 1.7.10 in 5bba123

[2017-02-05 22:59] whichonespink44 commented on #1132
Fixed for 1.8.9 in 4197527
Fixed for 1.10.2 in fa69977

[2017-02-09 20:50] WenXin20 opened #1135 "[1.10.2] Spruce Trees Spawn w/ Oak Stumps"
##### Affected Mod Versions:

- Forge version: 1.10.2-2221
- RTG version: 4.1.2.2

##### Issue Description:
Some Spruce trees are generating with oak log stumps.
![2017-02-09_14 46 22](https://cloud.githubusercontent.com/assets/12000593/22802588/f1e9fdc8-eed6-11e6-86ff-5950d952b4d0.png)

##### Steps to reproduce the issue: (If it's easily reproducible.)

1. Create a world.
2. Find spruce trees tha

[2017-02-09 22:45] srs-bsns commented on #1135
@WenXin20 Can you reproduce this with only RTG loaded, please? This has never been observed anywhere.

[2017-02-10 19:02] whichonespink44 commented on #1121
Added in 93e07d2

[2017-02-10 19:02] whichonespink44 commented on #1104
Added in b926cf7

[2017-02-10 19:02] #1104 closed, assigned to nobody

[2017-02-10 21:51] TitusArmillius opened #1137 "Railcraft Mines not spawning in RTG worlds"
I have disabled all ore gen, both in the RTG and with other mods (WTF's expedition, etc.). Railcraft ores like sulfur and basalt do spawn, but not the mines.

Railcraft blog example pic: [http://www.railcraft.info/wp-content/uploads/2016/10/skygen_screenshot.png](url)

Game log:[https://gist.githubusercontent.com/TitusArmillius/b455ee64dfdcea7af426aeea89de69bd/raw/09fd1c597332cb3140e0518c1999976ff

[2017-02-10 22:24] srs-bsns commented on #1137
https://github.com/CovertJaguar/Railcraft/blob/mc-1.10.2/src/main/java/mods/railcraft/common/worldgen/GeneratorMine.java#L41

Sky generation of mines seems to currently be in a permanently disabled state.

[2017-02-10 22:24] #1137 closed, assigned to nobody

[2017-02-11 10:32] keybounce commented on #1030
Streams 0.3?!? When/where was that released?

[2017-02-11 10:55] srs-bsns commented on #1030
https://minecraft.curseforge.com/projects/streams/files

[2017-02-11 16:47] keybounce commented on #1030
Ahh. OK, is there a 0.3 for 1.7.10? I did not see it
EDIT: Never mind, this is not the Streams thread, this is an RTG thread.

[2017-02-12 03:49] WenXin20 commented on #1135
No, it looks like another mod is involved.
I started a different custom pack that has about 90 mods and got that glitch again. I'll try to figure out which mod(s) is involved.

[2017-02-12 04:46] WenXin20 commented on #1135
Nevermind, it was just a visual glitch with the resource pack I was using, for some reason it had the bark logs all set as oak. So no bug with any mods. :)

[2017-02-12 04:46] #1135 closed, assigned to nobody

[2017-02-14 07:00] WenXin20 opened #1139 "Hard Dependency on Rockhounding-Surface Mod"
##### Affected Mod Versions:
(Please list other mods and their versions if you feel they are relevant to this issue. i.e. Biomes O' Plenty)

- Forge version: 2221
- RTG version: 4.1.2.3
- Rockhounding-Surface version: 1.07

##### Issue Description:
The newest version of RTG requires Rockhounding-Surface v1.07 when it shouldn't. I also have Rockhounding installed, but it isn't being detected.

####

[2017-02-14 08:21] srs-bsns commented on #1139
Another mod that is using a very non-standard version string. \*sigh*

The fix should be released once @whichonespink44 is around.

[2017-02-14 08:47] WenXin20 commented on #1139
Thanks

[2017-02-22 13:34] Sunconure11 opened #1141 "Sunflowers generate in mossy cobblestone"
##### Affected Mod Versions:
(Please list other mods and their versions if you feel they are relevant to this issue. i.e. Biomes O' Plenty)

- Forge version:

1.10.2 - 12.18.3.2234

- RTG version:

4.1.2.4

##### Issue Description:
(Please provide screenshots if neccessary/possible. Images can be dragged & dropped into this window.)

https://www.dropbox.com/s/zhla08vswdwh9fe/Screenshot%202017-02-2

[2017-02-22 14:01] zubzubby opened #1142 "Adventures of A'ishah on wiki incomplete"
Hi,

I think the Adventures of A'ishah tutorial on your wiki is incomplete. I went through the steps carefully and with the exact same mod versions and the worlds generated were completely different to the screnshots provided. Also, to get to the link that is described in "Part 2 - General Config Changes" you need to go back to a previous revision where the link is still on the page.

It's a shame

[2017-02-22 18:06] WenXin20 opened #1143 "1.10.2-Floricraft Biome Compatibility"
The recent update for **[Floricraft](https://minecraft.curseforge.com/projects/floricraft/files/2385058)** in 1.10.2 adds the Flower Lands Biome, that has lots of flowers and generates path blocks.

[2017-02-22 21:38] TitusArmillius commented on #1142
I've pm'd you zub, we'll talk there.

[2017-02-23 00:22] whichonespink44 opened #1144 "Biome config for rivers"
Currently, rivers are hardcoded to be disallowed in some biomes, so this would just be converting that into a biome config. (We would use the current hardcoded values for the defaults.)

[2017-02-25 18:12] CrazyGamerT opened #1145 "Crashing When Generating World"
##### Affected Mod Versions:

- Forge version: 10.13.4.1558
- RTG version: 1.1.1.4
- Using Java 8 Update 111 (64-bit)

##### Issue Description:

After the world finished generating and it started to load my player in, it immediately went to the Shutting Down Server Screen.

##### Steps to reproduce the issue: (If it's easily reproducible.)

1. Install Forge 10.13.4.1558
2. Install RTG version 1.1.

[2017-02-25 20:05] srs-bsns commented on #1145
This has nothing to do with RTG, it is with client-side rendering.

Also, you are not using Java `1.8.0_111`, you are using `1.8.0_25` that ships with Minecraft.

[2017-02-25 20:05] #1145 closed, assigned to nobody

[2017-02-27 19:48] Sunconure11 opened #1146 "Not sure if this is RTG's fault or AM2's fault so I'll post it here"
https://www.dropbox.com/s/z309ccbgczm3d63/Screenshot%202017-02-27%2014.46.52.png?dl=0

This occurs when you enter a witchwood forest. I am on RTG-1.10.2-4.1.2.4, and forge version 2234.

[2017-02-27 23:48] srs-bsns commented on #1146
This should have already been fixed in AM2. Be sure that you are using the latest version of it.

If you are still having issues, report it to @Growlith1223: https://github.com/Growlith1223/ArsMagica2/issues

[2017-02-27 23:48] #1146 closed, assigned to nobody

[2017-02-28 00:09] Growlith1223 commented on #1146
yea this was fixed

[2017-03-01 01:31] 31trainman opened #1147 "pfaa geologica boulders from rtg"
Could rtg generate boulders from the various pfaa mod rock types?

[2017-03-01 02:50] Zeno410 commented on #1147
We would need some sort of API function from pfaa which would return a cobblestone type from a BlockPos. Also OK if we can get a stone type we can get a cobblestone version from.

[2017-03-01 16:58] Winddbourne opened #1148 "Question or feature request . . . Adding mix blocks to biomes that don't normally have them"
I'm working on an experimental 1.10.2 mod pack using RTG file "rtg-1.10.2-4.1.2.4" and I'm looking at a lot of work altering biomes.

Going through the files I find that not every biome file has the same options listed. Particularly I'd like to add mix blocks to more biomes both for more variety, and to give the world a specific feel/flavor. I'd like to know if it is possible to copy the section o

[2017-03-01 17:06] #1142 closed, assigned to TitusArmillius

[2017-03-06 14:42] leagris opened #1149 "[suggest] Procedurally generated paths"
##### Issue Description:
Add natural paths generation by RTG

##### Steps to produce paths

1. Use Perlin Noise Terrain Elevation and, or, Biome Distribution data for path frequency and width to determine if `x,z` has a path run at `y=surface`
2. Perform path rendering from [blocks substitution rules](#path-blocks-substitution-rules).

##### Path blocks substitution Rules

<table width="100%">
  <

[2017-03-08 23:52] WenXin20 commented on #1121
The mod had a update recently, version 1.08, where the White Sands Beach was disabled by default in the config and the White Sands Biome was added instead.

[2017-03-11 03:20] mgdgfbhevdyeh opened #1150 "[Feature Request]Realistic mountain chains"
In the RTG world the mountain seems to be produced separately.
If you RTG generate a real mountain chains, I think it will be more realistic.

[2017-03-11 03:23] mgdgfbhevdyeh commented on #1003
ok i know

[2017-03-13 07:44] Zygus42 opened #1151 "flowing liquids config option not working"
##### Affected Mod Versions:
- Forge version: 1.10.2-12.18.3.2254
- RTG version: RTG-1.10.2-4.1.2.4
no other mods

##### Issue Description:
I thought that this wasn't happening very often, so I set the lava and water generation chances to 1 from their usual 200, and in extensive testing with no other mods installed, I encountered 1 lava flow, and that included 3 extreme hills biomes.

##### Steps

[2017-03-16 16:58] afannnn opened #1152 "Alternate Terrain Generation"
If possible, can you please add biome support for the 1.10.2 version of Alternate Terrain Generation?

[2017-03-28 13:54] whichonespink44 opened #1154 "Add biome config option for cactus gen in relevant biomes"
^^

[2017-03-29 10:16] mgdgfbhevdyeh commented on #1150
![lxwi14x](https://cloud.githubusercontent.com/assets/20567492/24450005/c3b82196-14ab-11e7-9a03-05d0b8d81e02.jpg)
![4vidmqv](https://cloud.githubusercontent.com/assets/20567492/24450004/c3a4def6-14ab-11e7-87d9-b473317a3c45.jpg)
Best looks like this
I think RWG mountain chains is better than RTG mountain

[2017-03-29 11:07] srs-bsns commented on #1150
I don't see how this is possible from RTG.

In order to have mountain chains, it would require that the world have a very large mountainous biome, or multiple mountainous biomes grouped together. This would require biome manipulation, which RTG does not do.

This is why @Zeno410 does this sort of thing in GeographiCraft, since it handles biome layouts.

[2017-03-29 12:39] mgdgfbhevdyeh commented on #1150
OK I know.

[2017-03-30 12:43] mgdgfbhevdyeh commented on #1150
well,but i think:
RTG should have the mountain chains, because it is the Realistic-Terrain-Generation
In Realistic Terrain, there are mountain chains in many places(And has a great impact on the climate in many areas)
Such as South America and Asia-Europe continental line

If you need Mod to generate mountains, I think it should be called Beautiful Terrain generation
Do not need Mod to generate mo

[2017-03-30 14:02] srs-bsns commented on #1150
I understand what you are saying, but as I stated, such land features in Minecraft are specific to certain biomes, and therefore in can only be done if RTG handled biome layouts, which is does not. Although biome managment is something we may add to RTG in the future, it's not a priority, and would require a considerable amount of new code.

[2017-03-30 14:02] #1150 closed, assigned to nobody

[2017-04-01 22:57] mgdgfbhevdyeh commented on #1150
OK I know

[2017-04-06 11:53] jahtim opened #1155 "Imcompatible with Advent of Ascension dimensions"
forge 1614 , mc 1.7.10

mods : AoA , RTG, CC, BOP, Galacticraft

I entered a lot of Advent of Ascension dimensions and find that the biome in those dimensions are equal to overworld. No AOA biomes generated in those dimensions, expect for a few dimension where generating is quite normal.
I set CCDimension white list to 0, and this still happen.
Any idea what's going on ?

[2017-04-06 11:55] jahtim commented on #1155
Reference ClimateControl #13

[2017-04-06 17:56] srs-bsns commented on #1155
RTG doesn't work outside of the Overworld (Dim 0).

[2017-04-06 17:56] #1155 closed, assigned to nobody

[2017-04-07 22:14] XDjackieXD opened #1156 "Consider relicensing under LGPL"
Using a mod licensed under GPL requires violating its terms as it requires every linked code to be licensed under a GPL compatible license as well. FML links mods into Minecraft when loading them, thus violating the terms of the GPL license.
Please consider relicensing under the LGPL or another non-viral license.

[2017-04-07 22:20] srs-bsns commented on #1156
There is no licencing issue with using GPL.

[2017-04-07 22:20] #1156 closed, assigned to nobody

[2017-04-08 11:48] whichonespink44 opened #1157 "Wider calderas for volcanoes and moar lava!!!"
Maybe even a lava tube that runs to deep into the ground?

[2017-04-08 12:53] Cronosus commented on #1157
to bedrock....

[2017-04-08 13:52] whichonespink44 commented on #1157
Could maybe even add a config option for the depth of the tube.

[2017-04-08 13:55] whichonespink44 opened #1158 "Add biome support for Ice and Fire"
https://minecraft.curseforge.com/projects/ice-and-fire-dragons-in-a-whole-new-light

http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=4418

There's only one Overworld biome (Glacier).

[2017-04-08 13:56] Cronosus commented on #1157
yes yes.. good option..
but for me it will be alwas bedrock, i using vulcanoes for building deep structures :)

[2017-04-08 23:11] srs-bsns commented on #1157
It would probably be better to add this to the 1.11.2 TODO list instead, and backport later if necessary..

[2017-04-08 23:12] Cronosus commented on #1157
hmm.. i still using 1.7.10

[2017-04-08 23:32] srs-bsns opened #1159 "Possibly update Mesa biomes with new event for extra gold gen"
We may have to change the extra gold gen in Mesa biomes: https://github.com/MinecraftForge/MinecraftForge/pull/3774

I haven't looked at our code in quite a while so I can't remember it very well, and I'm not sure if there's anything we need to do here.

At most, if we call the vanilla procedures while at the same time manually generating the extra gold and sending a `GenerateMinable.EventType.GOL

[2017-04-08 23:48] srs-bsns commented on #1157
We are only developing for 1.10/1.11 now. 1.7.10 is retired and no new features will be backported before 1.10.

[2017-04-16 08:51] pdewilde opened #1160 "Wiki Link Broken"
##### Issue Description:
(Please provide screenshots if neccessary/possible. Images can be dragged & dropped into this window.)
The [link to rtg.cfg](https://github.com/Team-RTG/Realistic-Terrain-Generation/blob/master/etc/config/RTG/rtg.cfg) is broken : [on this page](https://github.com/Team-RTG/Realistic-Terrain-Generation/wiki/RTG-configuration)

[2017-04-16 10:31] srs-bsns commented on #1160
There are a lot of broken links in the Wiki as a lot of it hasn't been updated in quite a while. Fixing it is on the TODO list.

The links you are refering to are now fixed.

[2017-04-16 10:31] #1160 closed, assigned to nobody

[2017-04-19 04:31] Sunconure11 opened #1161 "Add support for 10paks Mods"
http://10paksmods.net/

A few new biomes are added, would it be possible to add support for them?

[2017-04-19 05:59] srs-bsns commented on #1161
There's no point in doing this now as Real World is only released for 1.11.2 and we don't have a release of RTG for 1.11.2 yet.

[2017-04-21 04:51] StoneLegion commented on #1161
That is a negative thinking! Make it 1.11.2 then you don't have to think that way ;)

[2017-04-21 21:05] Ebola131 opened #1162 "compatibility issues with Advent of Ascension"
##### Affected Mod Versions:
- BiomesOPlenty-1.7.10-2.1.0.1595-universal
- ClimateControl-0.8.2
- AoA-Snapshot 2 (2.5)

- Forge version: 1.7.10-10.13.4.1614-1.7
- RTG version: RTG-1.7.10-1.1.1.4

##### Issue Description:
I have set up my world with the mod configuration as mentioned above and what is troubling me is the compatibility between RTG, ClimateControl and AoA. Advent of Ascension adds se

[2017-04-21 21:14] srs-bsns commented on #1162
RTG doesn't do anything with dimensions or biome layouts. Anything happening outside of the Overworld (Dim 0) can never be attributed to RTG.

Furthermore, RTG is no longer being developed for 1.7.10.

Try opening an issue [here](https://github.com/Zeno410/Geographicraft/issues) to bring this to @Zeno410's attention so he can look into it.

[2017-04-21 21:14] #1162 closed, assigned to nobody

[2017-04-22 08:44] Sunconure11 opened #1163 "Add support for Ice and Fire's Glacier Biome"
https://github.com/Alex-the-666/Ice_and_Fire

https://minecraft.curseforge.com/projects/ice-and-fire-dragons-in-a-whole-new-light

[2017-04-22 08:48] Sunconure11 commented on #1163
Duplicate, closing.

[2017-04-22 08:48] #1163 closed, assigned to nobody

[2017-04-23 21:50] srs-bsns opened #1164 "Trees that remove dirt/grass at root level will not regrow in the same spot"
Reports suggest that RTG's trees that remove dirt or grass at the root level may be breaking tree farms as trees are not growing in the same spot again until the dirt/grass block are replaced.

If this issue exists with RTG, a possible solution is to allow trees to grow even if those blocks are missing (air blocks).

[2017-04-28 12:38] maxanier opened #1165 "Add support for vampireForest from Vampirism mod"
##### Affected Mod Versions:
- Minecraft 1.10
- Forge version: 12.18.3.2185
- RTG version: 4.1.2.4
- Vampirism version: 1.1.0-beta.2

##### Issue Description:

In my mod Vampirism I am using BiomeProvider#findBiomePosition to look for a custom/modded biome.
This works fine with the vanilla BiomeProvider, but when using RTG the provider returns a location at which there only is a different biome.
M

[2017-04-28 15:35] srs-bsns commented on #1165
In order for RTG to generate our custom terrain, we require custom biome classes that contain more data than the vanilla biome classes. Currently this requires that we manually add support for mods that add their own biomes to Overworld generation, and since we didn't know of your custom biome (and no one has suggested adding support for it yet) we don't currently support it.

 If you check your l

[2017-04-28 15:53] maxanier commented on #1165
Ok, thank you :)
Did not notice that

If you need any information to add this biome, feel free to ask.
RegistryName is "vampirism:vampireForest", Class is this https://github.com/TeamLapen/Vampirism/blob/374290008ec056775389443e1e69f5439b16939c/src/main/java/de/teamlapen/vampirism/biome/BiomeGenVampireForest.java.

[2017-05-01 12:04] leagris commented on #1164
### Failure scenarios

- A tree farm planter finding a hole (missing dirt/grass) may either:
   1. Plant a sapling into the hole causing:
      - Either sapling can't grow because surrounded by blocks
      - Either sapling will grow a tree at a layer below
   2. Cannot plant sapling because support block is missing.
- A tree growing roots logs replacing blocks below::
   1. Discard blocks from th

[2017-05-01 16:11] srs-bsns commented on #1164
The last point you made in your table should never happen. If a mod's blocks (pipes/conduits, etc..) are getting replaced, then they are not RTG trees as RTG trees have a very strict rule for which blocks can be replaced when generating them.: [TreeRTG.java#L173-L186](https://github.com/Team-RTG/Realistic-Terrain-Generation/blob/1.11.2-dev/src/main/java/rtg/world/gen/feature/tree/rtg/TreeRTG.java#

[2017-05-01 17:10] leagris commented on #1164
### Config re-use method

re-use same rule as shrubs then

### Config-free implementation

Deploy roots with same rules as leaf blocks.
May be done by querying target block's `canBeReplacedByLeaves(world, x, y, z)`
 if true: replace block

[2017-05-07 19:54] Sunconure11 commented on #870
Huh, it looks like this issue followed me into 1.10.2, on a sponge-based server. I'll investigate further before I request this be re-opened, or make a new issue.

[2017-05-07 23:53] srs-bsns commented on #870
@Sunconure11

It is highly unlikely that it is due to Sponge, or any Sponge plugin. It is likely caused by a poorly coded mod (Magia Naturalis in this case for 1.7.10) doing something that it shouldn't, and posibly from a core mod.

Regardless, the cause will not be RTG, so there's no reason to revisit the issue here.

[2017-05-08 01:01] Sunconure11 commented on #870
https://pastebin.com/VV7F1KJb

If it's not RTG, then I'm curious, are any of these core mods then, known for this?

[2017-05-08 18:14] Sunconure11 opened #1166 "Bamboo forests sometimes do not generate properly"
This is rather similar to a previous issue of mine, https://github.com/Team-RTG/Realistic-Terrain-Generation/issues/1066

However, it pertains to bamboo forests, on 1.10.2.

https://i.imgur.com/gQorqgA.png

It also seems to sometimes afflict savannas, as well.

https://i.imgur.com/zwoX8aS.png

Other biomes that sometimes get afflicted:

Roofed Forests (presumably, forests are also affected)
Outbac

[2017-05-08 22:08] srs-bsns commented on #1166
There haven't been any issues with biome decoration like this in RTG. If there were we would have known about them a long time ago. This has to be caused by some other mod(s) you are using.

It's unlikely that it's Nucleas because it uses Sponge's chunk generation methods which should be fully compatible with RTG.

Can you reproduce this with just RTG + BoP + GeographiCraft/BiomeTweaker?

I'm goin